<template>
  <div class="reorderable-index">
    <h2 class="reorderable-index-heading">Reorder the rows by dragging the <svg width="18" height="18" viewBox="0 0 18 18" class="reorder-handle"><use xlink:href="#icon-reorder"></use></svg> handle.</h2>
    <table class="reorderable-index-table">
      <thead class="reorderable-index-header">
        <tr>
          <th>Thunbnail</th>
          <th v-for="key in columns">{{ key | tableHeadPrepper }}</th>
          <th>Sorting Order</th>
          <th>Actions</th>
        </tr>
      </thead>
      <draggable element="tbody" v-model="rows" @start="onDragStart" @end="onDragEnd" class="reorderable-index-rows" :options="{handle: '.reorder-handle'}">
        <tr v-for="row in rows" @click="goToPermalink(row)" :key="row.id">

          <td class="thumbnail-cell"><figure v-if="row.thumbnail"><img :src="'/images/customiser/watches/' + row.thumbnail" /></figure></td>

          <template v-for="key in columns">
            <td>
              <strong v-if="key === 'name'"><a :href="'/admin/product/' + row.id + '/edit'">{{ row[key] }}</a></strong>
              <span v-else>{{ row[key] }}</span>
            </td>
          </template>

          <td class="u-text-align-center"><strong>{{ row.orderId + 1 }}</strong></td>

          <td>
            <div class="item-actions">
              <a :href="'/admin/product/' + row.id + '/edit'" title="" class="edit-button">
                <svg width="18" height="18" viewBox="0 0 18 18"><use xlink:href="#icon-edit"></use></svg>
              </a>
              &nbsp;

              <span class="reorder-handle">
                <svg width="18" height="18" viewBox="0 0 18 18"><use xlink:href="#icon-reorder"></use></svg>
              </span>

              <!-- <a class="to-top-button" @click="moveToTop(row)">
                <svg width="18" height="18" viewBox="0 0 18 18"><use xlink:href="#icon-up"></use></svg>
              </a> -->
              
            </div>
          </td>
        </tr>
      </draggable>
    </table>
  </div>
</template>

<script src="./ReorderableIndex.js"></script>

<style src="./ReorderableIndex.scss" lang="scss"></style>
