@import '../../../styles/variables';

.reorderable-index-table {
  width: 100%;
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;
}

.reorderable-index-heading {
  padding: 1em 0;
  font-size: inherit;
  .reorder-handle {
    vertical-align: -61.8%;
  }
}

.reorderable-index-header {
  background-color: varColor(primary, 0.3);
  th {
    padding: 1em 0.5em;
  }
}

.reorderable-index-rows {
  tr {
    &:nth-child(even) {
      td {
        background-color: varColor(median, 0.09);
      }
    }
  }
  td {
    padding: 0.5em;
  }
}

.reorder-handle ,
.to-top-button ,
.edit-button {
  box-sizing: content-box;
  padding: 0.3em;
  vertical-align: -38%;
  fill: varColor(primary);
  .item-actions & {
    margin-left: 0.3em;
  }
}

.u-text-align-center {
  text-align: center;
}

td.thumbnail-cell {
  padding-top: 0;
  padding-bottom: 0;
  figure {
    width: 3.5em;
  }
}
