@import '../../../styles/variables';

.shopping-cart-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
}

.shopping-cart-item-list {
  width: 100%;
  // border-bottom: 1px solid color(shadow,0.6);
  thead {
    text-transform: uppercase;
    opacity: 0.5;
  }
  th {
    text-align: center;
    &:last-child {
      max-width: 8rem;
      width: 8rem;
    }
  }
  td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.cart-item {
}

.cart-item__heading-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  @media #{$upto-tablet} {
    align-items: flex-start;
  }
  @media #{$upto-phone-md} {
    width: 5em;
  }
}
.cart-item__figure {
  margin-right: 1em;
  width: spacing(lg, 2);
  height: spacing(lg, 2);
  border: 1px solid color(gray,0.6);
  background-color: color(black,0.14);
  background-position: center;
  background-size: cover;
  @media #{$upto-phone-lg} {
    width: spacing(lg, 1.5);
    height: spacing(lg, 1.5);
  }
}

.label-notice {
  font-size: 1.2rem;
  font-size: italic;
  margin-top: ms(1);
}

.cart-item__heading-group {
  @media #{$upto-tablet} {
    margin-top: ms(1);
  }
}
.cart-item__name {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 700;
  font-size: inherit;
}
.cart-item__desc {
  max-width: ms(13);
  opacity: 0.5;
  @media #{$upto-phone-xl} {
    display: none;
  }
}

.cart-item__control-cell {
  text-align: center;
  &:last-child {
    max-width: 8rem;
    width: 8rem;
  }
}
.accessory-quick-purchase__dismisser button,
.cart-item__control-cell  button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: transparent;
  font-size: ms(2);
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background-color: color(black,0.1);
  }
}


.cart-item__quantity-control-group {
  display: inline-flex;
  [type="number"] {
    width: ms(7);
    border: none;
    font-weight: 700;
    font-size: inherit;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }
  }
  button {
    width: 3rem;
  }
  @media #{$upto-phone-lg} {
    [type="number"] {
      width: ms(5);
    }
    button {
      width: 2rem;
    }
  }
}

.accessory-quick-purchase {
  display: flex;
  align-items: center;
  padding-top: spacing(md);
  padding-bottom: spacing(md);
  flex-direction: column;
  border-top: 1px solid rgba(13, 14, 31, 0.6);
  h3 {
    padding: 1em 1.3em;
    border-radius: 300px;
    background-color: color(black);
    color: white;
    text-align: center;
    font-size: inherit;
    line-height: 1.19;
  }
  @media #{$tablet} {
    flex-direction: row;
  }
  button {
    @media #{$upto-tablet} {
      width: 100%;
    }
  }
}

.accessory-quick-purchase__list {
  flex: 0 0 50%;
  overflow: auto;
  margin: 1em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media #{$tablet} {
    margin: 0 1em;
    display: block;
    white-space: nowrap;
  }
  li {
    display: inline-block;
    @media #{$upto-tablet} {
      margin-top: 2em;
    }
  }
  figure {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: color(black,0.3);
      color: color(white);
      content: '+';
      font-size: ms(3);
      opacity: 0;
      transition: 0.2s ease;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &:active {
      &:before {
        background-color: color(black,0.5);
        transition: 0.5s ease;
      }
    }
  }
  li {
    position: relative;
    display: inline-block;
  }
}

.accessory-quick-purchase__dismisser {
  width: 100%;
  text-align: center;
  @media #{$tablet} {
    flex: 0 0 8rem;
    width: 8rem;
  }
}

.cart-subtotal-row ,
.cart-total-row {
  padding-top: spacing(md);
  padding-bottom: spacing(md);
  border-top: 3px color(shadow,0.3) solid;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  > div {
    order: 2;
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.3rem;
    font-size: ms(4);
    order: 1;
    margin-bottom: ms(1);
    @media #{$tablet} {
      margin-bottom: 0;
    }
  }
  span {
    &:first-child {
      margin-right: 0.618em;
      text-transform: uppercase;
      font-size: ms(1);
      opacity: 0.5;
    }
  }
  #voucher-code {
    @media #{$upto-phone-lg} {
      input[type=text] {
        width: 100%;
        margin-bottom: ms(1);
      }
    }
  }
}

.cart-address-row {
  padding-top: spacing(md);
  padding-bottom: spacing(md);
  border-top: 3px color(shadow,0.3) solid;
  .grid-6-col {
    @media #{$tablet} {
      flex: 0 0 50%;
      .isIE & {
        flex: 0 0 45%;
      }
    }
  }
}

.cart-delivery-options {
  margin-bottom: spacing(md);
  // padding-top: spacing(md);
  // border-top: 3px color(shadow,0.3) solid;
  h3 {
    margin: spacing(md) 0;
    margin-right: 0.618em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-size: ms(1);
  }
  .checkbox {
  }
  label {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
.cart-delivery-options__list {
  .isIE &,
  .isEdge & {
    display: flex;
    flex-wrap: wrap;

  }
  @media #{$tablet} {
    column-count: 2;
    column-gap: spacing(lg);
  }
  @media #{$desktop} {
    font-size: 1.618rem;
  }
  li {
    transform: translate3d(0,0,0);
    .isIE &,
    .isEdge & {
      display: inline-flex;
      flex: 1 0 45%;
    }
    label {
      &:before, &:after {
        transform: translate3d(0,-50%,0);
        content: '';
      }
    }
  }
}

.cart-total-row {
  display: flex;
  justify-content: space-between;
}

.cart-submit-row {
  @media #{$only-phones} {
    > div {
      margin-top: 1em;
    }
  }
  @media #{$tablet} {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    > div {
      text-align: right;
    }
  }
  padding-top: spacing(md);
  border-top: 3px color(shadow,0.3) solid;
  flex-direction: column;
  > div {
    p {
      margin-top: 1em;
    }
  }
  .button {
    padding: 1.3em 4em;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    &:first-child {
      opacity: 0.6;
    }
  }
  @media #{$tablet} {
    flex-direction: row;
  }
  button {
    @media #{$upto-tablet} {
      order: 1;
      margin-bottom: ms(0);
    }
  }
  a {
    @media #{$upto-tablet} {
      order: 2;
    }
  }
}

.cart-footnote {
  padding: 1em spacing(md);
  text-align: right;
  font-size: 80%;
  opacity: 0.6;
}

.table-label-delete {
  @media #{$upto-phone-lg} {
    display: none;
  }
}
