<template>
  <!-- <form class="shopping-cart" @submit="onSubmit"> -->
  <form id="checkout-form" class="shopping-cart" action="checkout" method="post">
    <input type="hidden" name="_token" :value="csrf">
    <table class="shopping-cart-item-list">
      <thead>
        <tr>
          <th></th>
          <th>QTY</th>
          <th>Price</th>
          <th class="table-label-delete">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in cartItems" class="cart-item" v-if="item.id != 'discount'">
          <td>
            <div class="cart-item__heading-cell">
              <figure class="cart-item__figure" :style="'background-image: url(' + item.options.image + ')'"></figure>
              <div class="cart-item__heading-group">
                <h3 class="cart-item__name">{{item.name}}</h3>
                <div v-if="item.options.description" class="cart-item__desc" v-html="item.options.description"></div>
              </div>
            </div>
          </td>
          <td class="cart-item__control-cell">
            <div class="cart-item__quantity-control-group">
              <button type="button" class="cart-item__quantity-control" @click="increment(item, -1)" :class="{'disabled': item.qty === 1}">-</button>
              <input type="number" v-model="item.qty" min="1" :max="item.options.stockLevel"/>
              <button type="button" class="cart-item__quantity-control" @click="increment(item, 1)" :class="{'disabled': item.qty === item.options.stockLevel}">+</button>
            </div>
          </td>
          <td class="cart-item__control-cell">
            <span :data-currency="meta.currency">{{parseInt(item.price * 100) / 100}}</span>
          </td>
          <td class="cart-item__control-cell">
            <button type="button" class="cart-item__delete-button" @click="removeItem(item)"><svg width="18" height="18" viewBox="0 0 18 18"><use xlink:href="#icon-close"></use></svg></button>
          </td>
        </tr>
      </tbody>
    </table>
    <p v-if="this.doCartHaveStraps === 1" class="cart-footnote">* Watch not included</p>
    <div class="accessory-quick-purchase" v-if="meta.showAccessories">
      <h3>Why not add one of our premium watch accessories</h3>
      <ul class="accessory-quick-purchase__list">
        <li v-for="accessory in accessories" @click="addAccessory(accessory)">
          <figure class="cart-item__figure" :style="'background-image: url(images/products/' + accessory.thumbnail + ')'"></figure>
        </li>
      </ul>
      <div class="accessory-quick-purchase__dismisser">
        <button type="button" @click="meta.showAccessories = false"><svg width="18" height="18" viewBox="0 0 18 18"><use xlink:href="#icon-close"></use></svg></button>
      </div>
    </div>
    <div class="cart-subtotal-row">
      <div class="" v-if="!this.discount">
        <form id="voucher-code" class="" action="/apply-voucher" method="post">
          <input type="hidden" name="_token" :value="csrf">
          <input type="text" name="name" value="" placeholder="Voucher code">
          <button form="voucher-code" type="submit" name="submit" class="button button-inverted">Apply Voucher</button>
        </form>
      </div>
      <div class="" v-if="this.discount > 0">
        Applied Voucher with <span :data-currency="meta.currency">{{ this.discount }}</span> discount
        <a href="/remove-voucher" class="button button-inverted">Remove Voucher</a>
      </div>

      <h3><span>Subtotal</span><span :data-currency="meta.currency">{{ parseInt(payment.subtotal * 100) / 100 }}</span></h3>
    </div>
      
    
      
    <!-- <a href="cart/destroy">Destroy Cart Items</a> -->
    <div class="cart-address-row shaded-form">
      <div class="grid">
        <div class="grid-6-col lightly-padded-form">
          <h3>Billing address</h3>
          <div class="input--text">
            <input name="billing[name]" v-model="addresses.billing.name" placeholder="Name, Last Name (Required)" type="text" required/>
          </div>
          <div class="input--text">
            <input name="billing[address1]" v-model="addresses.billing.address1" placeholder="Address 1 (Required)" type="text" required/>
          </div>
          <div class="input--text">
            <input name="billing[address2]" v-model="addresses.billing.address2" placeholder="Address 2" type="text"/>
          </div>
          <div class="input--text">
            <input name="billing[city]" v-model="addresses.billing.city" placeholder="Town / City" type="text" required/>
          </div>
          <div class="input--text">
            <input name="billing[province]" v-model="addresses.billing.province" placeholder="State / Province / County" type="text" required/>
          </div>
          <div class="input--text">
            <input name="billing[postalCode]" v-model="addresses.billing.postalCode" placeholder="Postcode / Zip Code" type="text" required/>
          </div>
          <div class="select">
            <select name="billing[countryCode]" v-model="addresses.billing.countryCode" placeholder="Country" required>
              <option v-for="country in meta.countryList.countries" :value="country.code">{{country.name}}</option>
            </select>
            <svg width="12" height="12" viewBox="0 0 12 12"><use xlink:href="#icon-triangle-southeast"></use></svg>
          </div>
          <div class="input--text">
            <input name="billing[mobile]" v-model="addresses.billing.mobile" placeholder="Mobile Number" type="text" required/>
            <label class="label-notice" for="billing[mobile]">* Dhl require a contact number in the event of any issue finding the address for delivery</label>
          </div>
          <div class="checkbox">
            <input id="billing[SMS]" name="billing[SMS]" type="checkbox" v-model="addresses.billing.sms"/>
            <label for="billing[SMS]">Would you like to sign up to SMS offers?</label>
          </div>
        </div>
        <div class="grid-6-col lightly-padded-form">
          <h3>Shipping address</h3>
          <div class="input--text">
            <input name="shipping[name]" v-model="addresses.shipping.name" placeholder="Name, Last Name (Required)" type="text" required/>
          </div>
          <div class="input--text">
            <input name="shipping[address1]" v-model="addresses.shipping.address1" placeholder="Address 1 (Required)" type="text" required/>
          </div>
          <div class="input--text">
            <input name="shipping[address2]" v-model="addresses.shipping.address2" placeholder="Address 2" type="text"/>
          </div>
          <div class="input--text">
            <input name="shipping[city]" v-model="addresses.shipping.city" placeholder="Town / City" type="text" required/>
          </div>
          <div class="input--text">
            <input name="shipping[province]" v-model="addresses.shipping.province" placeholder="State / Province / County" type="text" required/>
          </div>
          <div class="input--text">
            <input name="shipping[postalCode]" v-model="addresses.shipping.postalCode" placeholder="Postcode / Zip Code" type="text" required/>
          </div>
          <div class="select">
            <select name="shipping[countryCode]" v-model="addresses.shipping.countryCode" placeholder="Country" required>
              <option v-for="country in meta.countryList.countries" :value="country.code">{{country.name}}</option>
            </select>
            <svg width="12" height="12" viewBox="0 0 12 12"><use xlink:href="#icon-triangle-southeast"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-delivery-options">

      <button class="button" type="button" @click="copyToShipping()">Copy billing address to shipping</button>

      <h3>Please select a shipping option</h3>
      <ul class="cart-delivery-options__list">
        <!-- v-if="!shippingOption.isUKOnly || (shippingOption.isUKOnly && addresses.shipping.countryCode === 'GB')"> -->
        <li class="radio" v-for="shippingOption in shippingOptions.find(i => i.abbreviation.toUpperCase() === addresses.shipping.countryCode).shippingOptions">
          <input name="deliveryOption" type="radio" :value="shippingOption.id" v-model="selectedShippingOption" :id="'shipping-option-' + shippingOption.id"/>
          <label :for="'shipping-option-' + shippingOption.id">{{shippingOption.name}}<template v-if="shippingOption.groupedBy === 'gb'">(UK Only)</template>: {{ shippingOption.flatFee !== 0 ? meta.currencySymbol + shippingOption.flatFee : 'FREE'}}</label>
        </li>
      </ul>
    </div>
    <div class="cart-total-row">
      <div class="payment-methods-icon-list">
        <img src="images/payment-icons/powered-by-worldpay.png"/>
        <img src="images/payment-icons/card-visa.png"/>
        <img src="images/payment-icons/card-mastercard.png"/>
        <img src="images/payment-icons/amex.png"/>
        <!-- <img src="images/payment-icons/card-maestro.png"/>
        <img src="images/payment-icons/card-jcb.gif"/> -->
      </div>
      <h3><span>Total</span><span :data-currency="meta.currency">{{ parseInt(payment.total * 100) / 100 }}</span></h3>
      <input type="hidden" name="total" :value="payment.total">
    </div>
    <div class="cart-submit-row">
      <a href="/customise" class="button button-inverted">Back</a>
      <div>
        <button form="checkout-form" class="button button-inverted" :disabled="!formIsValid">Checkout</button>
        <p v-if="!validConditionB"><em>* Please select an shipping option before continuing.</em></p>
      </div>
    </div>
  </form>
</template>
<script src="./ShoppingCart.js"></script>
<style src="./ShoppingCart.scss" lang="scss"></style>
