// Reset `button` and button-style `input` default styles
[type="submit"],
[type="reset"],
[type="button"],
button {
  overflow: visible;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  /* cursor: default; */
  -webkit-user-select: none;
  user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
  -webkit-appearance: button; /* for input */
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button-group {
  display: block;
  margin-top: calc(var(--spacing-sm) / 2);
  margin-left: calc(var(--spacing-sm) / -2);
  .btn--std {
    margin: 0.3em;
  }
}

.button-group--pill {
  display: flex;
  margin-top: var(--spacing-sm);
}

@mixin button($style: standard) {
  @if $style == simple {
    padding: 0.381em 0.618em;
    background-color: var(--color-accent);
    color: var(--color-light);
    &:hover {
      filter: brightness(1.05);
    }
  }
  @if $style == standard {
    padding: 0.5em 0.5em;
    border: 2px solid var(--color-accent);
    background-color: transparent;
  }
  @if $style == pill {
    padding: 0.6em 1em;
    min-width: ms(8);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accent);
    vertical-align: middle;
    &:first-child {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
    &:last-child {
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
    }
    &:hover {
      @include varColor('background-color','accent',0.7);
      // color: var(--color-background);
      // text-shadow: 0 0 0.3em var(--color-accent);
    }
    &:active {
      filter: brightness(0.9);
    }
    &:focus {
      outline: none;
    }
  }
  display: inline-block;
  box-sizing: border-box;
  color: var(--color-accent);
  vertical-align: middle;
  font-weight: 600;
  font-size: ms(1);
  line-height: 1.25;
  transition: 0.15s ease;
  &:hover {
    @include varColor('background-color','accent',0.1);
    filter: brightness(1.15);
  }
  svg {
    vertical-align: middle;
    fill: currentColor;
  }
}

.btn--pill {
  @include button(pill);
  + .button--pill {
    // margin-left: -0.3em;
  }
}

.btn--std {
  @include button(standard);
}

.btn--primary {
  // --rgb-accent: var(--rgb-primary);
  // --color-accent: var(--color-primary);
  background-color: var(--color-accent);
  color: white;
  &:hover {
    @include varColor('background-color','accent',0.9);
  }
}
.btn--secondary {
  --rgb-accent: var(--rgb-secondary);
  --color-accent: var(--color-secondary);
  background-color: var(--color-accent);
  color: white;
  &:hover {
    @include varColor('background-color','accent',0.9);
  }
}
.btn--alert {
  --rgb-accent: var(--rgb-alert);
  --color-accent: var(--color-alert);
  background-color: var(--color-accent);
  color: white;
  &:hover {
    @include varColor('background-color','accent',0.9);
  }
}

.btn--std--primary {
  @extend .btn--std;
  @extend .btn--primary;
}
.btn--pill--primary {
  @extend .btn--pill;
  @extend .btn--primary;
}
.btn--std--secondary {
  @extend .btn--std;
  @extend .btn--secondary;
}
.btn--pill--secondary {
  @extend .btn--pill;
  @extend .btn--secondary;
}
.btn--std--alert {
  @extend .btn--std;
  @extend .btn--alert;
}
.btn--pill--alert {
  @extend .btn--pill;
  @extend .btn--alert;
}


.is-disabled-button {
  opacity: 0.618;
  filter: grayscale(1) brightness(1.3);
  pointer-events: none;
}


.btn--transparent {
  margin-right: -0.5em;
  margin-left: -0.5em;
  padding: 0.5em;
  color: var(--color-accent);
  font-weight: 600;
  &:hover {
    @include varColor('background-color','accent',0.1);
  }
  + .btn--transparent {
    margin-left: 1em;
  }
  svg {
    margin-right: 0.4rem;
    width: 1.6rem;
    vertical-align: -25%;
    fill: currentColor;
  }
}

.button-star {
  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
  }
  &:hover {
    svg {
      stroke: var(--color-attention);
    }
  }
  &.is-starred {
    svg {
      filter: brightness(1.1);
      fill: var(--color-attention);
      stroke: var(--color-attention);
    }
    &:hover {
      svg {
        fill: none;
      }
    }
  }
}

.btn--icon {
  span {
    display: none;
  }
  svg {
    fill: var(--color-accent);
  }
}


.btn--block-with-icon {
  @include varColor('border-color','primary',0.3);
  display: block;
  padding: var(--spacing-sm);
  border-width: 1px;
  border-style: solid;
  color: var(--color-accent);
  text-align: center;
  font-weight: 600;
  transition: 0.1s ease;
  &:hover {
    @include varColor('background-color','light',0.2);
  }
  svg {
    display: block;
    margin: 0 auto;
    fill: url(#gradient--primary);
  }
}


.input--submit {
  margin-top: 1em;
}
