.input--checkbox-group {
  flex-wrap: wrap;
  h3 {
    margin-bottom: 0.5em;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  .input--checkbox {
    margin-top: 0.5em;
  }
}
.input--checkbox {
  position: relative;
  [type=checkbox] {
    position: absolute;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: var(--color-primary);
        opacity: 1;
      }
      &:after {
        width: 1em;
        transition-delay: 0.1s;
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding: 0.25em 0.25em 0.25em 1.5em;
    &:before , &:after {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1em;
      height: 1em;
      content: '';
      transform: translateY(-50%);
      @media #{$desktop} {
        transition: 0.4s ease;
      }
    }
    &:hover {
      @media #{$desktop} {
        &:before {
          opacity: 0.5;
        }
      }
    }
    &:active {
      &:before {
        opacity: 0.3;
      }
    }
    &:before {
      background-color: var(--color-text);
      opacity: 0.25;
    }
    &:after {
      width: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.71' height='6.76' viewBox='0 0 9.71 6.76'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E polyline %7B stroke: white; fill: none; stroke-width: 1.5; %7D %3C/style%3E%3C/defs%3E%3Cpolyline points='0.35 2.75 3.65 6.05 9.35 0.35'/%3E%3C/svg%3E");
      background-position: left 0.125em center;
      background-size: 0.75em;
      background-repeat: no-repeat;
    }
  }
}
