.input--custom-date-time {

}
[data-input-type="year"] {
  width: 3em;
  text-align: center;
}
[data-input-type="hour"] ,
[data-input-type="minute"] {
  width: 1.618em;
  text-align: center;
}

.input--date-time {

}
