.form--standard {
  font-size: ms(1);
  line-height: 1.25;
  > * {
    width: 100%;
  }
  > * + *:not(hr) {
    margin-top: ms(1);
  }
  hr + * {
    margin-top: 0;
  }
  + * {
    margin-top: 1em;
  }
}

fieldset {
  @include varColor('border-color','text',0.2);
  width: 100%;
}
legend {
  @include allcaps;
  font-weight: 700;
  font-family: var(--font-heading);
  + * {
    margin-top: 0 !important;
  }
}

@mixin input-default-dimension {
  height: 2.5em;
}
@mixin input-bottom-bordered {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-primary);
  background-color: transparent;
}

.is-disabled {
  @include varColor('color','median',0.75);
  pointer-events: none;
  [type='color'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  input:not([type]) , select , textarea {
    @include varColor('border-color','median',0.381);
    opacity: 0.65;
    cursor: not-allowed;
  }
}
