.form__info-set {
  select ,
  [type='color'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  input:not([type]) {
    height: 1.618em;
    border: none;
    border-radius: 0;
    background-color: #fff;
  }
}
.form__info-set__content {
  a {
    color: var(--color-accent);
    &:hover {
      color: var(--color-secondary);
    }
  }
}
.form__info-set--editable {
  @extend .form__info-set;
}
