.input--inline {
  [type='color'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  input:not([type]) {
    display: inline-block;
    min-width: unset;
    width: ms(7);
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: currentcolor;
    background: none;
    color: inherit;
    @media #{$desktop} {
      transition: 0.15s ease;
      &:hover {
        @include varColor('background-color','light',0.2);
      }
    }
    &:focus {
      @include varColor('background-color','light',0.3);
    }
  }
}
