.label-std {
  @include allcaps;
  display: block;
  margin-bottom: 0.33em;
  color: var(--color-accent);
  font-weight: 700;
  font-family: var(--font-heading);
  .widget-panel & {
    color: inherit;
  }
}

.form__info-set ,
.input--text ,
.input--select ,
.input--textarea,
.input--file {
  label {
    @extend .label-std;
  }
}

.video-link-warning {
  font-size: 90%;
  opacity: 0.6;
  font-style: italic;
}
