.input--radio-group {
  h3 {
    margin-bottom: 0.5em;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  .input--radio {
    margin-top: 0.5em;
  }
}
.input--radio {
  position: relative;
  [type=radio] {
    position: absolute;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: var(--color-primary);
        opacity: 1;
      }
      &:after {
        background-color: var(--color-light);
        transition-delay: 0.1s;
        transform: translateY(-50%) scale(0.4);
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding: 0.25em 0.25em 0.25em 1.5em;
    &:before , &:after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      content: '';
      transform: translateY(-50%);
      @media #{$desktop} {
        transition: 0.4s ease;
      }
    }
    &:hover {
      @media #{$desktop} {
        &:before {
          opacity: 0.5;
        }
      }
    }
    &:active {
      &:before {
        opacity: 0.3;
      }
    }
    &:before {
      background-color: var(--color-text);
      opacity: 0.25;
    }
    &:after {
      transform: translateY(-50%) scale(0);
    }
  }
}
