.input--range {
  input {
    margin-top: 0.618em;
    width: 100%;
  }
}
[type=range] {
  background: transparent;
  -webkit-appearance: none;
  &::-webkit-slider-thumb ,
  &::-moz-range-thumb ,
  &::-ms-thumb {
    margin-top: -0.7em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--color-accent);
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track ,
  &::-moz-range-track ,
  &::-ms-track {
    @include varColor('border-color','text',0.3);
    margin-top: 0.6em;
    width: 100%;
    height: 0;
    border-width: 0.4em 0 0 0;
    border-style: solid;
    color: transparent;
    cursor: pointer;
  }
}
