select , option {
  user-select: none;
}
option {
  color: black;
}

.input--select {
  position: relative;
  &:after {
    @include dropdownIcon(4px);
    position: absolute;
    right: 1em;
    bottom: 1.5em;
    display: block;
    content: '';
    .widget-panel & {
      bottom: 1em;
    }
  }
  select {
    @include input-default-dimension;
    padding-right: 1em;
    padding-left: 0.3em;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
    background: transparent;
    appearance: none;
    .widget-panel & {
      @include varColor('background-color','light',0.2);
      display: block;
      width: 100%;
      border: none;
      color: inherit;
      transition: 0.15s ease;
      &:hover {
        @include varColor('background-color','light',0.3);
      }
    }
  }
}
