.tag-list-row {
  @include input-bottom-bordered;
  position: relative;
  min-width: u(6);
}

.tag-list__add-button {
  @include button(simple);
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  &:hover {
    color: var(--color-accent);
  }
}

.tag-list {
  margin-left: -0.381em;
}
.tag-label {
  @include varColor('background-color','accent',0.2);
  position: relative;
  display: inline-block;
  margin: 0.381em;
  padding: 0.381em 0.381em 0.381em 1.381em;
  &.is-editable {
    cursor: pointer;
    &:hover {
      @include varColor('background-color','alert',0.2);
      color: var(--color-alert);
      text-decoration: line-through;
      &:before {
        color: inherit;
      }
    }
  }
  &:before {
    position: absolute;
    top: 50%;
    left: 0.381em;
    width: 0.85em;
    height: 0.85em;
    color: var(--color-secondary);
    content: '×';
    line-height: 1;
    transform: translateY(-50%);
  }
  + .tag-label {
    margin-left: 0;
  }
}
