[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]) {
  border-radius: 0;
  color: inherit;
}

.input--text {

  input {
    @include input-default-dimension;
    @include input-bottom-bordered;
    height: 2.5em;
    @media #{$desktop} {
      transition: 0.15s ease;
      &:hover {
        @include varColor('background-color','light',0.3);
      }
    }
    &:focus {
      @include varColor('background-color','light',0.3);
      outline: none;
    }
    .is-flex-grid & {
      width: 100%;
    }
  }

  &.is-num {
    input , select , textarea {
      font-family: var(--font-mono);
    }
  }

}


.input--text--big {
  @extend .input--text;
  input {
    @include varColor('border-color','accent',0.2);
    padding-left: 0.618em;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    // color: var(--color-accent);
    font-size: ms(2);
    // font-family: var(--font-heading);
    &:focus {
      @include varColor('border-color','accent',0.5);
    }
  }
}

.input--text--passive {
  // show up as normal text but can be edited once focused
  display: flex;
  align-items: baseline;
  color: var(--color-text);
  label {
    margin-right: 0.5em;
    font-weight: 700;
  }
  input {
    flex: auto;
    height: 2em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    color: var(--color-text);
    transition: 0.15s ease;
    &:hover {
      @include varColor('background-color','text',0.1);
      border-bottom-color: var(--color-accent);
    }
    &:focus {
      outline: none;
      border-bottom-color: var(--color-secondary);
      background-color: white;
    }
  }
}
