.input--toggle {
  position: relative;
  display: block;
  transform: translate(0,0);
  user-select: none;
  [type="checkbox"] {
    position: absolute;
    top: 0.618em;
    right: 0.618em;
    opacity: 0;
    &:focus {
      outline: none;
      + label {
        &:before {
          right: -1px;
          border: 1px $color-primary solid;
        }
      }
    }
    &:checked {
      + label {
        &:before {
          color: var(--color-light);
        }
        &:after {
          border-radius: 50%;
          background: var(--color-primary);
          color: var(--color-light);
          transform: translate(0, -50%);
        }
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding: 0.618em 0;
    padding-left: u(1.5);
    &:hover {
      filter: brightness(1.2);
    }
    .widget-panel & {
      padding-right: u(1.5);
      padding-left: 0;
    }
    &:before {
      @include varColor('background-color','text',0.3);
      // @include varColor('border-color','text',0.3);
      position: absolute;
      top: 50%;
      left: 0;
      width: u(1);
      height: u(0.38);
      // border-width: 1px;
      // border-style: solid;
      border-radius: 999px;
      content: '';
      transform: translateY(-50%);
      .widget-panel & {
        right: 0;
        left: auto;
      }
    }
    &:after {
      position: absolute;
      top: 50%;
      left: u(0.5);
      width: u(0.5);
      height: u(0.5);
      border-radius: 50%;
      background-color: var(--color-light);
      content: '';
      transition: 0.15s ease;
      transform: translate(-100%, -50%);
      .widget-panel & {
        right: 0;
        left: auto;
      }
    }
  }
}

.input--toggle-group {
  .input--toggle {
    margin-top: 0.5em;
  }
}
