.form-error {
  position: relative;
  display: flex;
  margin-top: 0.618em;
  padding: 0.618em;
  background-color: varColor('primary',0.2);
  color: varColor(primary);
  svg {
    margin-right: 0.5em;
    fill: currentColor;
  }
}
