fieldset {
  margin: 0.5em;
  padding: spacing(sm);
  width: 100%;
  border-color: varColor('text',0.2);
  &[class*=flex-] {
    box-sizing: border-box;
    padding: spacing(sm);
  }
}
legend {
  font-weight: 700;
  font-family: var(--font-heading);
  + * {
    margin-top: 0 !important;
  }
}
