form,
.form {
  transition: opacity 0.5s ease;
}

@mixin basicInputStyles {
  @include setAccent(primary);
  box-sizing: border-box;
  padding: 0.5em;
  height: 2.5em;
  border: 1px solid color(median,0.2);
  border-radius: 3px;
  background-color: varColor(light,0.3);
  color: inherit;
  text-align: inherit;
  font-size: ms(1);
  font-family: inherit;
  line-height: 1.5;
  transition: 0.2s;
  &[disabled] {
    background-color: varColor(gray,0.7);
    opacity: 0.6;
    pointer-events: none;
  }
  &::placeholder {
    color: varColor(text,0.5);
    font-style: italic;
  }
  &:hover {
    // filter: brightness(1.1);
    transition: 0.1s;
  }
  &:focus {
    outline: none;
    background-color: color(black,0.1);
  }
  &.is-invalid ,
  .is-invalid & {
    @include setAccent(alert);
    border-color: varColor(accent);
    color: varColor(accent);
  }
}

.is-invalid {
  @include setAccent(alert);
}
