label {
  font-weight: 600;
  filter: brightness(0.9);
  transition: 0.2s ease;
  .info-span-group &,
  .input--text &,
  .textarea &,
  .select & {
    display: block;
    margin-bottom: 0.38em;
    color: varColor(shadow, 0.75);
  }
  &.tooltipped {
    position: relative;
    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      background-color: varColor(neutral);
      color: varColor(white);
      content: '?';
      vertical-align: 0.1em;
      font-size: 85%;
      opacity: 0.7;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
      .tooltip {
        display: block;
      }
    }
  }
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  padding: 0.5em;
  border-radius: 3px;
  background-color: varColor(shadow,0.95);
  color: varColor(light);
  font-size: 85%;
  pointer-events: none;
}
