select {
  @include basicInputStyles;
  .select & {
    padding-right: 1em;
    width: 100%;
  }
  .is-invalid & {
    border-color: varColor(accent);
    color: varColor(accent);
  }
}
.select {
  &.is-required {
    label {
      &:after {
        margin-left: 0.3em;
        color: varColor(attention);
        content: '*';
      }
    }
  }
}

option {
  color: varColor(shadow);
}
