.shaded-form {
  .select {
    position: relative;
    select {
      width: 100%;
      height: 3em;
      border: 1px solid color(shadow,0.5);
      border-radius: 0;
      appearance: none;
      &:focus {
        box-shadow: 0 0 4px color(shadow);
      }
    }
    svg {
      position: absolute;
      right: 3px;
      bottom: 3px;
      pointer-events: none;
    }
  }
  .input--text input {
    height: 3em;
    border: none;
    border-radius: 0;
    background-color: color(shadow,0.1);
    &::placeholder {
      color: color(shadow,0.7);
      opacity: 1;
    }
    &:focus {
      box-shadow: 0 0 4px color(shadow);
    }
  }
  .textarea textarea {
    height: 10em;
    border: none;
    border-radius: 0;
    background-color: color(shadow,0.1);
    &::placeholder {
      color: color(shadow,0.7);
      opacity: 1;
    }
    &:focus {
      box-shadow: 0 0 4px color(shadow);
    }
  }
  .shaded-form-submit-row {
    text-align: right;
    .button {
      padding: 1.618em 3em;
    }
  }
  h4 {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
  }
}
.padded-form {
  > * + * {
    margin-top: 1.618em;
  }
}
.lightly-padded-form {
  > * + * {
    margin-top: 0.618em;
  }
}
