[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]) {

  @include basicInputStyles;

  .input--text & {
    width: 100%;
  }

}

.input--text {
  position: relative;
  &.is-required {
    label {
      &:after {
        margin-left: 0.3em;
        color: varColor(attention);
        content: '*';
      }
    }
  }
}


.text-input-collapsed-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: ms(14);
  input {
    flex: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    + input {
      margin-top: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      &:hover, &:focus, &:active {
        z-index: 1;
      }
    }
    &:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .invalid-feedback {
  }
}
