.toggle {
  position: relative;
  display: block;
  transform: translate(0,0);
  user-select: none;
  [type="checkbox"] {
    position: absolute;
    top: 0.618em;
    right: 0.618em;
    opacity: 0;
    &:focus {
      outline: none;
      + label {
        &:before {
          right: -1px;
          border: 1px color(primary) solid;
        }
      }
    }
    &:checked {
      + label {
        &:before {
          color: varColor(light);
        }
        &:after {
          border-radius: 50%;
          background: varColor(primary);
          color: varColor(light);
          transform: translate(10%, -50%);
        }
      }
    }
  }
  label {
    position: relative;
    display: inline-block;
    padding: 0.618em 0;
    padding-left: u(1.33);
    &:hover {
      filter: brightness(1.2);
    }
    .widget-panel & {
      padding-right: u(1.5);
      padding-left: 0;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: u(1);
      height: u(0.38);
      border-width: 1px;
      border-style: solid;
      border-color: varColor(text,0.1);
      border-radius: 999px;
      background-color: varColor(text,0.1);
      content: '';
      transform: translateY(-50%);
      .widget-panel & {
        right: 0;
        left: auto;
      }
    }
    &:after {
      position: absolute;
      top: 50%;
      left: u(0.5);
      width: u(0.5);
      height: u(0.5);
      border-radius: 50%;
      background-color: varColor(light);
      box-shadow: 0 2px 3px rgba(0,0,0,0.1);
      content: '';
      transition: 0.15s ease;
      transform: translate(-105%, -50%);
      .widget-panel & {
        right: 0;
        left: auto;
      }
    }
  }
}

.input--toggle-group {
  .toggle {
    margin-top: 0.5em;
  }
}
