// // imports all files under this directory.
//
// @import "taxonomy";
// @import "entry-index";
//
//
// // temporary messy stuff, to be cleaned up
// @import "temporary";

.blog-image-uploader-previews {
  code {
    @include varColor('background-color','primary',0.1);
    @include varColor('border-color','primary',0.2);
    display: inline-block;
    padding: 0.2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    vertical-align: baseline;
  }
}
.blog-image-uploader-previews-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.15em;
  margin-left: -0.15em;
  li {
    @include varColor('background-color','gray',0.2);
    flex: 0 0 auto;
    margin: 0.15em;
    padding: 0.3em;
    border: 1px solid lightgray;
    img {
      max-width: auto;
      width: auto;
      height: 168px;
    }
    figcaption {
      margin-top: 0.2em;
      font-weight: 500;
    }
  }
}
