.entry-index__tag-filter-list {

}
.entry-index__tag-filter-item {
  [type="checkbox"] {
    position: absolute;
    top: 0.5em;
    opacity: 0;
    &:checked {
      + label {
        @include varColor('background-color','primary',0.2);
        @include varColor('border-top-color','primary',0.2);
        color: var(--color-primary);
        // font-weight: 600;
        &:before {
          background-color: var(--color-primary);
          background-image: url($svg-checkbox-check);
          background-size: 0.75em;
        }
      }
    }
  }
  label {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: calc(var(--spacing-md) * -1);
    padding: 0.5em var(--spacing-sm) 0.5em var(--spacing-md);
    border-top: 1px solid transparent;
    transition: 0.1s ease;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 1.618em;
      height: 100%;
      background-position: center;
      background-size: 0.38em;
      background-repeat: no-repeat;
      content: '';
      transition: inherit;
    }
  }
}

.tag-filter-label__used-count {
  padding-left: 1em;
  font-feature-settings: 'tnum' 1;
}
