.taxonomy-settings-bar {
  @include varColor('background-color','accent',0.19);
  display: flex;
  align-items: center;
  margin-right: calc(-1 * var(--spacing-md));
  margin-left: calc(-1 * var(--spacing-md));
  padding: var(--spacing-sm) var(--spacing-md);
}
.form-taxonomy-applies-to {
  display: flex;
  flex: auto;
  align-items: center;
  margin-right: 1em;
  .tag-list-row {
    flex: auto;
    margin-left: 1em;
  }
}
.taxonomy-panel-controls {

}


.taxonomy-index-panel__group-nav-list {
  @include varColor('border-color','accent',0.3);
  margin-top: var(--spacing-sm);
  padding-top: var(--spacing-sm);
  border-top-width: 1px;
  border-top-style: solid;
  a {
    display: inline-block;
    padding: 0.38em 0;
    &.is-current {
      color: var(--color-accent);
      font-weight: 600;
    }
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.taxonomy-major-section {
  + .taxonomy-major-section {
    @include varColor('border-top-color','accent',0.2);
    border-top-width: 1px;
    border-top-style: solid;
  }
}
.taxonomy-major__name {
  font-weight: 300;
  font-size: ms(3);
}


.taxonomy-tag-list {
  @include varColor('column-rule-color','accent',0.2);
  margin: var(--spacing-sm) 0;
  column-count: 2;
  column-gap: var(--spacing-md);
  column-rule-width: 1px;
  column-rule-style: solid;
  @media #{$tablet} {
    column-count: 3;
  }
  @media #{$desktop} {
    column-count: 3;
  }
  @media #{$desktop-xl} {
    column-count: 4;
  }
}

.taxonomy-tag-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
  break-inside: avoid-column;
  &:hover {
    @include varColor('background-color','accent',0.07);
    .taxonomy-tag-item__control {
      opacity: 1;
    }
  }
}

.taxonomy-tag-item__used-count {
  padding-right: 0.3em;
  padding-left: 0.3em;
  opacity: 0.618;
  &:before {
    content: "(";
  }
  &:after {
    content: ')';
  }
}
.taxonomy-tag-item__control {
  flex: auto;
  text-align: right;
  opacity: 0.2;
  .btn--icon {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
