.details--std {
  &.open {
    padding-bottom: var(--spacing-sm);
    .details-toggle {
      [data-js="on"] & {
        &:before {
          @media #{$desktop} {
            content: 'Hide';
          }
        }
        &:after {
          transform: rotate(-135deg);
        }
      }
    }
  }
  &:not(.open) {
    .details-toggle {
      [data-js="on"] & {
        &:before {
          @media #{$desktop} {
            content: 'Show';
          }
        }
        &:after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
  summary {
    position: relative;
    display: block;
    margin-left: calc(var(--spacing-sm) * -1);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    padding-left: var(--spacing-sm);
    cursor: pointer;
    @media #{$upto-tablet} {
      padding-top: calc(var(--spacing-sm) * 2);
      padding-bottom: calc(var(--spacing-sm) * 2);
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}
[data-js="on"] .details--std summary {
  transition: 0.1s ease;
  &:before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    width: 2px;
    background-color: transparent;
    content: '';
    transition: 0.1s ease;
  }
  &:hover {
    // background-color: rgba(255,255,255,0.1);
    filter: brightness(1.1);
  }
  &:active {
    @include varColor('background-color','primary',0.05);
  }
  &:focus {
    outline: none;
    &:before {
      @include varColor('background-color','secondary',0.3);
      top: 0;
      bottom: 0;
    }
  }
}

.details-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 var(--spacing-sm) 0 0;
  opacity: 0;
  transform: translateY(-50%);
  @media #{$upto-tablet} {
    right: var(--spacing-sm);
  }
  [data-js="on"] & {
    opacity: 1;
    transition: 0.2s;
  }
  &:before {
    @include allcaps;
    font-weight: 700;
    opacity: 0.5;
  }
  &:after {
    display: inline-block;
    margin-left: 0.5em;
    width: 5px;
    height: 5px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: currentColor;
    content: '';
    transition: 0.3s;
  }
}
