.file-card {
  @include varColor('border-color','accent',0.15);
  display: flex;
  align-items: top;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) calc(var(--spacing-sm) / 2);
  width: 100%;
  border-width: 1px;
  border-style: solid;
  background-color: var(--color-background);
  + .file-card {
    margin-top: var(--spacing-sm);
  }
}

.file-card__title {
  margin-top: 0.25em;
  color: var(--color-accent);
}

.file-card__actions {
  margin-right: -0.2em;
  margin-left: -0.2em;
  a {
    display: inline-block;
    padding: 0.5em 0.2em;
    + a {
      margin-left: 0.3em;
    }
    &:hover {
      color: var(--color-accent);
    }
  }
}
