.is-flex-grid {
  display: flex;
  flex-wrap: wrap;
  .view-main__section {
    display: inherit;
    flex: 1 1 100%;
    flex-wrap: inherit;
  }
  .view-main__section__header {
    flex: 1 1 100%;
  }
}

.flex-row {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: inherit;
  margin-right: -0.5em;
  margin-left: -0.5em;
  > div , ul , ol , details , section , article {
    padding: 0.5em;
  }
}
fieldset.flex-row {
  margin-left: 0;
}

@media #{$phone} {
  @for $i from 1 through 6 {
    .flex-#{$i}-fr {
      flex: 0 $i #{100% / (7 - $i)};
    }
  }
}

@media #{$phone} {
  .flex-1-fr {
    flex: 0 1 16.667%;
  }
  .flex-2-fr {
    flex: 0 2 33.333%;
  }
  .flex-3-fr {
    flex: 0 3 50%;
  }
  .flex-4-fr {
    flex: 0 4 66.667%;
  }
  .flex-5-fr {
    flex: 0 5 83.333%;
  }
  .flex-6-fr {
    flex: 0 6 100%;
  }
}

.flex-row-wrapper {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  border: 1px solid var(--color-accent);
  .flex-row {
    align-items: unset;
  }
  .flex-2-fr {
    flex: 1 0 100%;
    @media #{$tablet} {
      flex: 1 0 33%;
    }
  }
  .input--textarea {
    flex: 1 0 100%;
    padding: 0;
    margin: ms(3) 0;
    @media #{$desktop} {
      // flex: 1 0 45%;
      margin: 0;
      margin-bottom: ms(5);
    }
  }
  .slides-image__choose,
  .background-image__choose {
    flex: 0 1 auto;
    @media #{$tablet} {
      flex: 1 0 33%;
    }
  }
}

.tabcontent {
  display: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  &:nth-of-type(1) {
    display: flex;
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.slides-image__display,
.background-image__display {
  // background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 30%;
  min-height: 8em;
  @media #{$tablet} {
    min-height: 10em;
  }
  img {
    // width: 100%;
    // height: auto;
  }
}

.slides-image__choose,
.background-image__choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media #{$tablet} {
    align-items: flex-start;
  }
  input[type="file"] {
    @media #{$tablet} {
      width: 100%;
    }
  }
  label {
    margin-bottom: ms(2);
  }
}

.background-image__display {
  // margin-right: ms(3);
  flex: 1 0 33%;
  padding: 1em;
  img {
    width: 100%;
    height: auto;
  }
}

.tab {
  overflow: scroll;
  // border: 1px solid var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(var(--spacing-sm) * -0.9);
  margin-top: ms(2);
  @media #{$tablet-md} {
    margin-left: calc(var(--spacing-sm) * -0.45);
  }
}

.tablinks {
  border: 1px solid var(--color-accent);
  border-bottom: none;
  border-left: none;
  padding: 1em;
  font-size: ms(2);
  transition: 0.5s ease;
  &.active {
    background: var(--color-accent);
    color: white;
    .icon-add {
      fill: white;
      transition: 0.2s ease;
    }
  }
  &:first-of-type {
    border-left: 1px solid var(--color-accent);
  }
  &:hover {
    transition: 0.2s ease;
    background: var(--color-accent);
    color: white;
    filter: brightness(1.05);
    .icon-add {
      fill: white;
      transition: 0.2s ease;
    }
  }
  &:active {
    transition: 0.3s ease;
    filter: brightness(1.09);
    .icon-add {
      fill: white;
      transition: 0.2s ease;
    }
  }
}

.icon-add {
  fill: var(--color-accent);
  display: block;
  transition: 0.5s ease;
}
