.module-close-button {
  // @extend .material-icons;
  box-sizing: content-box;
  @media #{$desktop} {
    &:hover {
      @include varColor('background-color','accent','0.2');
    }
    &:active {
      @include varColor('background-color','accent','0.4');
    }
  }
}
