.view-notif-card-stack {
  position: fixed;
  right: u(0.25);
  bottom: u(1.25);
  left: u(0.25);
  opacity: 0;
  pointer-events: none;
  @media #{$tablet-sm} {
    right: auto;
    bottom: u(1.5);
    left: u(0.5);
  }
  &.is-loaded {
    opacity: 1;
    pointer-events: auto;
  }
}
.notif-card {
  position: relative;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  background-color: var(--color-background);
  /*box-shadow: 0 0.5em 1.5em -0.3em unquote('rgba(var(--rgb-shadow),0.2)');*/
  @media #{$tablet-sm} {
    width: ms(15);
  }
  + .notif-card {
   margin-top: ms(1);
  }
  &.full-width {
    width: 100% !important;
    * + & {
      margin-top: 1em;
    }
    + * {
      margin-top: 1em;
    }
  }
}

$notif-types: (
  positive,
  neutral,
  attention,
  alert
);

@each $type in $notif-types {

  [data-notif-type='#{$type}'] {
    --rgb-accent: var(--rgb-#{$type});
    --color-accent: var(--color-#{$type});

    border-color: unquote('rgba(var(--rgb-accent),0.75)');

    .notif-card__header {
      background-color: unquote('rgba(var(--rgb-accent),0.2)');
      color: var(--color-accent);
    }
    .notif-card__footer {
      color: var(--color-accent);
    }
    button {
      border-color: var(--color-accent);
    }
  }
}

.notif-card__header {
  position: relative;
  display: flex;
  align-items: stretch;
  .module-close-button {

  }
  svg {
    margin: ms(1);
    fill: currentColor;
  }
}
.notif-card__icon {
  flex: 0 0 18px;
}

.notif-card__body {
  padding: ms(1);
  + .notif-card__footer {
    padding-top: 0;
  }
}
.notif-card__title {
  flex: auto;
  padding: ms(1) 0;
  padding-right: ms(1);
  font-size: ms(1);
}
.notif-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: ms(1);
  .button-group--pill {
    margin: 0;
  }
}
