.pagination {
  @include varColor('background-color','median',0.2);
  @include varColor('color','primary');
  position: relative;
  display: flex;
  margin-top: var(--spacing-sm);
  width: 100%;
  a , span {
    display: inline-block;
    padding: 1em;
  }
  a {
    position: relative;
    font-weight: 500;
    // &:after {
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   height: 3px;
    //   content: '';
    // }
    &.is-current {
      @include varColor('background-color','primary',0.6);
      color: white;
      font-weight: 700;
      &:after {
        background-color: var(--color-primary);
      }
    }
    &:hover {
      filter: brightness(1.1);
    }
    &:nth-child(2n) {
      @include varColor('background-color','median',0.1);
      &.is-current {
        @include varColor('background-color','primary',0.5);
      }
    }
  }
}

.pagination-jumper {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 0.381em;
  transform: translateY(-50%);
}
