.popup-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2048;
  display: none;
  height: 100vh;
  transition: 0.25s ease;
}
.popup-overlay {
  @include fill-parent;
  @include varColor('background-color','light',0.8);
  z-index: -1;
  display: block;
}
.popup-wrapper {
  @include align(center);
  max-width: 92vw;
  width: unit(15);
}
.popup {
  overflow: auto;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  box-shadow: 0 1em 5em rgba(0,0,0,0.1);
}
.popup__content {
  overflow: auto;
  border-radius: inherit;
}
.popup__header {
  @include varColor('background-color','accent',0.7);
  position: relative;
  padding: var(--page-margin) unit(1) var(--page-margin) var(--page-margin);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--color-light);
  [data-theme="main"] & {
    background-image: linear-gradient(275deg, var(--color-primary-alt) 0%, unquote('rgba(var(--rgb-primary),0.2)') 60%);
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 2px;
    content: '';
  }
}
.popup__title {
  text-align: center;
  font-size: ms(3);
}

.popup__dismisser {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: unit(1);
  color: inherit;
  &:hover {
    @include varColor('background-color','light',0.1);
  }
}
.popup__dismisser__label {
  // @include hide-text;
  @include align(center);
  display: block;
  width: unit(1);
  height: unit(1);
  font-size: ms(4);
  &:before {
    @include align(center);
    content: '×';
    text-indent: 0;
    font-family: var(--font-heading);
    line-height: 1;
  }
}
.popup__body {
  overflow: auto;
  padding: var(--page-margin);
  max-height: 61.8vh;
  .input--text {
    label {
      @extend .label-std;
    }
    input {
      text-align: center;
    }
  }
  .input--submit {
    margin-top: 0.618em;
  }
  h3 {
    margin: 1em 0 0.25em;
    font-weight: 700;
    font-size: ms(2);
  }
}


.popup__footer {
  @include varColor('background-color','median',0.2);
  padding: var(--page-margin);
}

.popup__footer__link {
  color: var(--color-accent);
  font-weight: 600;
  @media #{$tablet-sm} {
    @include allcaps;
  }
  &:hover {
    color: var(--color-quaternary);
  }
  + .popup__footer__link {
    &:before {
      color: var(--color-median);
      content: ' | ';
    }
  }
}

.popup__footer__iconed-link {
  @extend .popup__footer__link;
  svg {
    margin-right: 0.3em;
    fill: url(#gradient--accent);
  }
  &:hover {
    svg {
      fill: url(#gradient--tertiary);
    }
  }
  svg , span {
    display: inline-block;
    vertical-align: middle;
  }
}
