.statistics-card-stack {
  margin-right: -0.5em;
  margin-left: -0.5em;
}
.statistics-card {

  --rgb-accent: var(--rgb-secondary);
  --color-accent: var(--color-secondary);

  position: relative;
  display: inline-block;
  overflow: hidden;

  margin: 0.5em;
  width: ms(11);
  height: ms(11);
  color: var(--color-light);
  text-align: center;

}

$stat-types: (
  system : neutral,
  content : primary,
  account : secondary,
  service : tertiary,
  communication : quaternary,
  finance : positive,
  general : median,
);
@each $type, $color in $stat-types {
  [data-stat-type='#{$type}'] {
    --rgb-accent: var(--rgb-#{$color});
    --color-accent: var(--color-#{$color});

    background-color: var(--color-accent);

  }
}


.statistics-card__stat {
  position: absolute;
  top: 40%;
  left: 50%;
  font-weight: 300;
  font-style: normal;
  font-size: ms(5);
  font-family: var(--font-heading);
  transform: translate(-50%,-50%);
}
.statistics-card__title {
  @include varColor('background-color','light',0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  box-sizing: border-box;
  padding: ms(0);
  width: 100%;
  font-weight: 500;
  font-size: ms(1);
  transform: translateX(-50%);
}
