.table-container {
  overflow-x: auto;
  margin-right: calc(var(--spacing-md) * -1) !important;
  // margin-right: 0 !important;
  margin-left: calc(var(--spacing-md) * -1) !important;
  &.u-fill-width {
    min-width: 100%;
  }
  &.has-white-background {
    padding-left: 1em;
    background-color: #fff;
  }
}
.table--standard {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;
  tr {
    position: relative;
  }
  th , td {
    padding-top: 1.618vh;
    padding-bottom: 1.618vh;
    &:not(:last-child) {
      padding-right: 0.618em;
    }
    &:first-child {
      padding-left: var(--spacing-md);
    }
  }
  thead {
    tr:last-child {
      th {
        @include varColor('border-color','accent', 0.8);
        border-width: 0 0 2px 0;
        border-style: solid;
      }
    }
  }
  th {
    @include varColor('color','secondary');
  }
  tbody {
    tr {
      + tr {
        td {
          @include varColor('border-color','median',0.2);
          border-width: 1px 0 0 0;
          border-style: solid;
        }
      }
    }
  }
  a {
    color: var(--color-primary);
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.sortable-th {
  position: relative;
  padding-left: 1em;
  &:hover {
    background-color: transparentize($color-secondary,0.9);
    .sorter-toggle {
      &:after {
        color: var(--color-secondary);
      }
    }
    &.is-dsc {
      .sorter-toggle {
        &:before {
          color: var(--color-secondary);
        }
        &:after {
          opacity: 0.5;
        }
      }
    }
    &.is-asc {
      .sorter-toggle {
        &:after {
          color: var(--color-secondary);
        }
        &:before {
          opacity: 0.5;
        }
      }
    }
  }
  &.is-dsc {
    .sorter-toggle {
      &:after {
        color: var(--color-primary);
      }
    }
  }
  &.is-asc {
    .sorter-toggle {
      &:before {
        color: var(--color-primary);
      }
    }
  }
}
.sorter-toggle {
  @include varColor('color','text',0.175);
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  box-sizing: content-box;
  padding: 0 0.15em;
  width: 0.5em;
  height: 1.618em;
  vertical-align: middle;
  font-size: 85%;
  transform: translateY(-50%);
  &:before , &:after {
    position: absolute;
    content: '▴';
    font-family: arial;
    line-height: 0.5;
  }
  &:before {
    top: 0.1em;
  }
  &:after {
    bottom: 0.1em;
    transform: scaleY(-1);
  }
}

.is-multirow {
  color: var(--color-primary);
  vertical-align: top;
  font-weight: 700;
}

.has-flag {
  &:after {

  }
}

.item-actions {
  display: flex;
  align-items: baseline;
  a, button {
    display: inline-block;
    color: var(--color-primary);
    font-weight: 600;
    + a, + button {
      margin-left: 0.5em;
    }
    &:hover {
      color: var(--color-secondary);
    }
  }
  * + form {
    margin-left: 0.5em;
  }
}
.is-alert-row {
  @include varColor('background-color','alert',0.2);
}
a.alert-link {
  display: flex;
  flex: auto;
  justify-content: space-between;
  color: var(--color-alert);
  .btn-flag-icon {
    align-self: flex-end;
  }
}

.btn-flag-icon {
  margin: 0 0.5em;
  vertical-align: middle;
  fill: var(--color-alert);
}

.is-highlight-row {
  @include varColor('background-color','positive',0.2);
}


.table-section-collapsable {
  @extend .details--std;
  background-color: rgba(255,255,255,0.5);
  &[open] + .table-section-collapsable {
    @include varColor('border-color','primary',0.2);
    border-width: 2px 0 0 0;
    border-style: solid;
  }
  summary {
    margin-left: 0;
    background-color: var(--color-background);
    color: var(--color-primary);
    &:hover {
      @include varColor('background-color','secondary',0.1);
    }
  }
  .table-container {
    padding-right: var(--spacing-sm);
    padding-left: var(--spacing-sm);
  }
  &:not([open]) + .table-section-collapsable {
    margin-top: 1em;
  }
}

.table-filter-form {
  @include varColor('background-color','primary',0.2);
  display: flex;
  align-items: center;
  // position: absolute;
  // right: 0;
  // bottom: 100%;
  // height: 3em;
  @media #{$desktop} {
  }
  [type=search] {
    flex: auto;
    // padding-left: 0.3em;
    padding-left: var(--spacing-md);
    height: 3em;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  svg {
    display: block;
    margin-right: 0.2em;
    fill: url(#gradient--secondary);
  }
}
