// colour map

$colors : (
  primary : '81,138,195',
  secondary : '255,134,82',
  tertiary: '106,142,98',

  white: '255,255,255',
  light: '255,255,255',
  gray: '219,220,220',
  median: '88,88,88',
  shadow: '13,14,31',
  black: '0,0,0',

  positive: '8,176,81',
  neutral: '81,138,195',
  attention: '253,185,19',
  alert: '224,78,38',
);

$thirdPartyColors: (
  facebook: '59,86,157',
  twitter: '101,172,212',
  google-plus: '222,67,49',
  pinterest: '206,29,31',
  instagram: '224,49,112',
  youtube: '230,33,23',
  tumblr: '54,70,93',
  linkedin: '0,132,191',
);

$contextColors: (
  accent: primary,
  text: shadow,
  background: light,
  foreground: shadow
);

// colour functions
@function color($colorName: shadow, $opacity: 1) {
  @if ($opacity == 1) {
    @return unquote('rgb(#{map-get($colors, $colorName)})');
  } @else {
    @return unquote('rgba(#{map-get($colors, $colorName)}, #{$opacity})');
  }
}

@function varColor($colorName: accent, $opacity: 1) {
  @if ($opacity == 1){
    @return var(--color-#{$colorName});
  } @else {
    @return unquote('rgba(var(--rgb-#{$colorName}), #{$opacity})');
  }
}

@function thirdPartyColor($colorName, $opacity: 1) {
  @if ($opacity == 1) {
    @return unquote('rgb(#{map-get($thirdPartyColors, $colorName)})');
  } @else {
    @return unquote('rgba(#{map-get($thirdPartyColors, $colorName)}, #{$opacity})');
  }
}

// Tinted Scale
@function grey($value: 0) {
  @return mix(color(light),color(shadow),(100 - $value));
}


// set accent color funciton
@mixin setAccent($colorName: 'primary') {
  --rgb-accent: #{var(--rgb-#{$colorName})};
  --color-accent: #{var(--color-#{$colorName})};
}
