@mixin fillParent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


@mixin resetTypography {
	color: varColor(text);
  text-decoration: none;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	font-size: ms(1);
	font-family: $font-stack-ui;
	-webkit-font-smoothing: antialiased; // prevent texts from flashing when transforming
  -moz-osx-font-smoothing: grayscale; // firefox way of achiving above
}


/// Generates a triangle pointing in a specified direction.
///
/// @argument {string} $direction
///   The direction the triangle should point. Accepts `up`, `up-right`,
///   `right`, `down-right`, `down`, `down-left`, `left` or `up-left`.
///
/// @argument {number (with unit)} $width
///   Width of the triangle.
///
/// @argument {number (with unit)} $height
///   Height of the triangle.
///
/// @argument {color} $color
///   Color of the triangle.
///
/// @example scss
///   .element {
///     &::before {
///       @include triangle("up", 2rem, 1rem, #b25c9c);
///       content: "";
///     }
///   }
///
///   // CSS Output
///   .element::before {
///     border-style: solid;
///     height: 0;
///     width: 0;
///     border-color: transparent transparent #b25c9c;
///     border-width: 0 1rem 1rem;
///     content: "";
///   }

@mixin triangle(
  $direction,
  $width,
  $height,
  $color
) {
  @if not index(
    "up" "up-right" "right" "down-right" "down" "down-left" "left" "up-left",
    $direction
  ) {
    @error "Direction must be `up`, `up-right`, `right`, `down-right`, " +
           "`down`, `down-left`, `left` or `up-left`.";
  } @else if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
           "the `triangle` mixin.";
  } @else {

    @if $direction == "up" {
      border-width: 0 ($width / 2) $height;
      border-color: transparent transparent $color;
    } @else if $direction == "up-right" {
      border-width: 0 $width $width 0;
      border-color: transparent $color transparent transparent;
    } @else if $direction == "right" {
      border-width: ($height / 2) 0 ($height / 2) $width;
      border-color: transparent transparent transparent $color;
    } @else if $direction == "down-right" {
      border-width: 0 0 $width $width;
      border-color: transparent transparent $color;
    } @else if $direction == "down" {
      border-width: $height ($width / 2) 0;
      border-color: $color transparent transparent;
    } @else if $direction == "down-left" {
      border-width: $width 0 0 $width;
      border-color: transparent transparent transparent $color;
    } @else if $direction == "left" {
      border-width: ($height / 2) $width ($height / 2) 0;
      border-color: transparent $color transparent transparent;
    } @else if $direction == "up-left" {
      border-width: $width $width 0 0;
      border-color: $color transparent transparent;
    }
    width: 0;
    height: 0;
    border-style: solid;
  }
}
