// // Define units that repeatedly show up in the design
// // Modular scale is also a neat way to do this, simply use ms(n) to set margins etc.
//
// $unit: 4rem;
//
// @function u($value : 1) {
//   @return $unit * $value;
// }
//
// @function spacing($value: 'sm', $multiplier: 1) {
//   @if ($multiplier != 1) {
//     @return calc(var(--spacing-#{$value}) * #{$multiplier});
//   } @else {
//     @return var(--spacing-#{$value});
//   }
// }
//

// Define units that repeatedly show up in the design
// Modular scale is also a neat way to do this, simply use ms(n) to set margins etc.

$useCustomVariables: false;

$unit: ms(5) !default;

@function u($value : 1) {
  @return $unit * $value;
}

@function spacing($value: 'sm', $multiplier: 1) {
  @if ($useCustomVariables) {
    @if ($multiplier != 1) {
      @return calc(var(--spacing-#{$value}) * #{$multiplier});
    } @else {
      @return var(--spacing-#{$value});
    }
  } @else {
    @if ($value == 'sm') { @return $multiplier * 1rem; }
    @if ($value == 'md') { @return $multiplier * 2.5rem; }
    @if ($value == 'lg') { @return $multiplier * 5rem; }
  }
}
