* {
  box-sizing: border-box;
  .isIE & {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}
hr {
  margin: ms(1) 0;
}

::selection {
  background-color: color(primary,0.3);
}

a,
input,
select,
button {
  &:focus {
    // outline-color: varColor(primary);
  }
}
//
// .details {
//   * { display: none; }
//   summary { display: flex; }
// }
// .details.open {
//   * { display: block; }
// }

.open summary ~ * { display: block; };
.details:not(.open) summary ~ * { display: none; }
// details:not([open]) summary ~ * { display: none; }
// details([open]) summary ~ * { display: none; }


*, *:before, *:after {
  box-sizing: border-box;
}
