html {
  // the base font size for all rem units
  font-size: 10px;
}

body {
  @include resetTypography;
  letter-spacing: 0.0618em;
  @media #{$desktop} {
    letter-spacing: 0.1em;
  }
}

h1, h2, h3, h4, h5,
p,
strong , b , em , i {
  margin-top: 0;
	margin-bottom: 0;
	color: inherit;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  letter-spacing: 0.15em;
  font-weight: inherit;
  font-family: var(--font-heading);
}

h1 {
  letter-spacing: 0.13em;
}

p {
  line-height: 1.38;
}

h1 { font-size: ms(4); }
h2 { font-size: ms(3); }
h3 { font-size: ms(2); }
h4 , h5 { font-size: inherit; }

a {
  color: inherit;
  text-decoration: none;
}
