@each $colour in $colours {
  #gradient--#{$colour} {
    stop {
      transition: 0.3s ease;
      stop-color: var(--color-#{$colour});
      &:first-child {
      }
      &:last-child {
        stop-opacity: 0.45;
      }
    }
  }
}
