hr {
  margin: ms(1) 0;
}

* {

}

::selection {
  // This revokes the serious custom property Microsoft™ Edge™ Bug™...
  // Will recover when Microsoft fixes the bug where if the background colour of pseudo elements is defined with a custom property, the colour gets applied to the parent element as well.

  // @include varColor('background-color','accent',0.3);
}

a,
input,
select,
button {
  &:focus {
    outline-color: var(--color-primary);
  }
}

hr {
  &.trasparent {
    margin: 1em 0;
    border: none;
    background: none;
  }
}
