@mixin reset-typography {
	color: var(--color-text);
  text-decoration: none;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	font-size: ms(1);
	font-family: var(--font-ui);
	-webkit-font-smoothing: antialiased; // prevent texts from flashing when transforming
  -moz-osx-font-smoothing: grayscale;
  // replace with project setting
}
html {
  font-size: 10px;
  // the base font size for all rem units
}

body {
  @include reset-typography;
}

h1, h2, h3, h4, h5,
p,
strong , b , em , i {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1, h2, h3, h4, h5 {
	font-family: var(--font-heading);
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}


.is-num {
  font-feature-settings: 'tnum' 1;
}
