.u-big-inline-number {
  @include varColor('color','accent');
  font-size: ms(3);
}

.u-font-mono {
  font-family: var(--font-mono);
}

.u-phone {
  @media #{$tablet-sm} {
    display: none !important;
  }
}
.u-tablet {
  @media #{$desktop} {
    display: none !important;
  }
}
.u-desktop {
  @media #{$upto-desktop} {
    display: none !important;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  &.u-reset-display {
    display: block !important;
  }
}
