.section-vlog {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  background-color: color(black);
  color: color(white);
}

.section-vlog-header {
  padding-bottom: spacing(lg);
  @media #{$desktop} {
    display: flex;
  }
  h1 {
    margin-right: spacing(lg);
    @media #{$tablet} {
      white-space: nowrap;
    }
    @media #{$upto-desktop} {
      margin-bottom: spacing(lg);
    }
  }
}

.vlog-video-list {
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  figure {
    div {
      position: relative;
      box-sizing: border-box;
      padding-top: 56.25%;
    }
  }
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  figcaption {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
    @media #{$tablet} {
      flex-direction: row;
      margin-bottom: 1em;
    }
  }
}

.vlog-featured-video-column {
  flex: 1 1 70%;
  @media #{$tablet} {
    padding-right: spacing(lg);
  }
}

.vlog-secondary-videos-column {
  flex: 1 1 30%;
}

.blog-index-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  .section-heading {
    // margin-bottom: spacing(lg);
  }
}

.pseudo-read-story-button {
    display: block;
    max-width: 205px;
    text-align: center;
    font-weight: 400;
}
.blog-index-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: spacing(lg,-0.5);
  margin-left: spacing(lg,-0.5);
  li {
    flex: 0 0 100%;
    padding: spacing(lg,0.5);
    @media #{$tablet} {
      flex: 0 0 50%;
      // padding: spacing(lg,0.5) spacing(lg,1.2);
      .isIE & {
        flex: 1 0 40%!important;
      }
    }
    &:first-child {
      flex: 1 1 100%;
      padding: spacing(lg,0.5);
      .isIE & {
        flex: 1 1 100%!important;
      }
      .blog-single-thumb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: spacing(lg,-0.5);
        margin-left: spacing(lg,-0.5);
        @media #{$phone-xl} {
          flex-direction: row;
        }
        > * {
          padding: 0 spacing(lg,0.5) 0;
          @media #{$phone-xl} {
            padding: spacing(lg,0.5);
          }
          @media #{$tablet} {
            padding: spacing(lg, 0.5) spacing(lg, 1.2);
          }
          @media #{$desktop} {
            padding: spacing(lg,0.5);
          }
        }
        figure {
          flex: 0 0 50%;
          min-height: 33vh;
          background-position: center;
          background-clip: content-box;
          background-size: cover;
          @media #{$phone-xl} {
            flex: 0 0 55%;
          }
          @media #{$tablet-md} {
            min-height: 28vh;
          }
          @media #{$desktop} {
            flex: 0 0 61.8%;
            min-height: 54vh;
          }
          @media #{$desktop} and (min-height: 900px) {
            min-height: 24vh;
          }
        }
      }
      .pseudo-read-story-button {
        display: block;
        max-width: 205px;
        font-weight: 400;
        @media #{$upto-phone-xl} {
          // margin: 1em auto 0;
        }
      }
      .page-section__copy-article {
        &:first-of-type {
          // max-width: ms(15);
          @media #{$upto-phone-xl} {
            max-width: none;
          }
        }
        h2 {
          margin-right: 3em;
          margin-bottom: 0.5em;
          padding-right: 0;
          padding-bottom: 1em;
          border-bottom: 2px solid currentColor;
          @media #{$tablet-lg} {
            margin-right: 0.5em;
          }
          @media #{$desktop-sm} {
            margin-right: 1em;
          }
          @media #{$desktop} {
            margin-right: 3em;
          }
          @media #{$desktop-sm} {
            margin-right: 1em;
          }
          @media #{$upto-desktop} {
            padding-top: 0;
            padding-bottom: 0.5em;
          }
          @media #{$upto-tablet} {
            margin-right: 0;
          }
          @media #{$upto-phone-xl} {
            margin-bottom: 0;
            padding-top: 1em;
            padding-bottom: 0;
            border-bottom: none;
          }
          @media #{$upto-phone-lg} {
            font-size: 2rem;
          }
          @media #{$upto-phone-md} {
            font-size: 1.8rem;
          }
        }
        p {
          @media #{$upto-desktop} {
            margin-top: 0;
          }
          @media #{$upto-tablet} {
            margin-top: 1em;
          }
        }
      }
    }
  }
}
.blog-single-thumb {
  figure {
    padding-top: 56.25%;
    background-color: color(gray,0.3);
    background-position: center;
    background-size: cover;
    img {
      display: none;
    }
  }
  .page-section__copy-article {
    p {
      text-align: left;
    }
    h2 {
      margin-bottom: 0;
      padding-right: 0;
      padding-bottom: 0;
      border-bottom: 0;
      text-align: left;
      line-height: 1.3;
    }
    .button {
      margin-top: 1.5em;
      @media #{$upto-phone-xl} {
        margin: 1em auto 0;
      }
    }
  }
}

.blog-index-load-more-wrapper {
  padding-top: spacing(lg);
  text-align: center;
  .button {
    padding: 1.618em 3em;
  }
}

.blog-single-header {
  filter: grayscale(1);
  @media #{$upto-tablet} {
    padding-right: spacing(sm, 3)!important;
    padding-left: spacing(sm, 3)!important;
  }
}

.blog-article-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
}

.blog-article__featured-image {
  margin-bottom: spacing(lg);
}

.blog-article__body {
  margin-right: auto;
  margin-left: auto;
  max-width: ms(17);
  letter-spacing: 0.05em;
  > * + * {
    margin-top: 1em;
  }
  h2 {
    margin-top: 1.618em;
    letter-spacing: 0.04em;
  }
  img {
    max-width: 100%;
  }
  p {
    line-height: 1.85;
  }
  h3 {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
  }
  ul {
    padding-left: 1.618em;
    li {
      position: relative;
      &:before {
        position: absolute;
        right: 100%;
        margin-right: 0.5em;
        content: '-';
      }
      + li {
        margin-top: 0.618em;
      }
    }
  }
}

ul.blog-body-images-group {
  position: relative;
  margin-right: -0.3em;
  margin-left: -0.3em;
  padding: 0;
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  li {
    flex: 1 1 50%;
    overflow: hidden;
    margin: 0;
    padding: 0.3em;
    list-style: none;
    object-position: center;
    + li {
      margin: 0;
    }
    &:before {
      display: none;
      content: none;
    }
    &:not(:only-child) {
      width: 50%;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    .isIE &,
    .isEdge & {
      width: auto;
      height: auto;
    }
  }
}

.blog-article__footer {
  margin: spacing(lg) 0 0 0;
  padding: spacing(md) 0;
  border-width: 3px 0;
  border-style: solid;
  border-color: color(shadow,0.2);
  text-align: center;
  .social-links-list {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    li {
      margin-right: 0.2em;
      margin-left: 0.2em;
    }
  }
}

.read-next-section {
  margin-bottom: spacing(lg);
  h2 {
    margin-bottom: spacing(lg);
    text-align: center;
  }
}
.blog-read-next-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: spacing(lg,-0.5);
  margin-left: spacing(lg,-0.5);
  > * {
    flex: 1 0 100%;
    padding: spacing(lg,0.5);
    @media #{$phone-xl} {
      flex: 0 0 50%;
      padding: 0 spacing(lg,0.5);
    }
    &:first-of-type {
      padding-top: 0;
    }
  }
  h3 {
    margin-top: 0.5em;
    letter-spacing: 0.02em;
    font-size: ms(2);
  }
}

.blog-paper-wrapper {
  overflow: hidden;
  @media #{$upto-tablet} {
    padding: 0;
  }
}
