// accessory page
.accessory-add-to-cart-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: spacing(lg);
  @media #{$upto-desktop} {
    flex-direction: row-reverse;
  }
  button {
    margin-top: 0 !important;
  }
}
.accessory-price-tag {
  margin-top: 0;
  margin-left: 0.5em;
  font-size: ms(3);
  @media #{$upto-desktop} {
    margin-right: 0.5em;
  }
}
.product-list-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  .isIE & {
    // padding-right: ms(5);
    // padding-left: ms(5);
  }
  .section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.product-list-item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  padding: spacing(md);
  // flex-basis: 30vh;
  @media #{$tablet} {
    flex: 0 0 50%;
    .isIE & {
      flex: 0 0 46%;
    }
  }
  @media #{$desktop-ml} {
    flex: 0 0 33.33%;
    .isIE & {
      flex: 1 0 25%;
    }
  }
}
.page-section__copy-article {
  margin-bottom: 1em;
  // text-align: center;
  flex: auto;
  display: flex;
  .isIE & {
    display: block;
  }
  flex-direction: column;
  justify-content: space-between;
  // flex-basis: 40vh;
  > div {
    // flex: auto;
  }
  h2 {
    padding-right: 0em;
    padding-left: 0em;
    line-height: 1.2;
    @media #{$upto-desktop-sm} {
      letter-spacing: 0.07em;
      font-weight: 700;
      font-size: 125%;
    }
  }
}
.product-description {
  line-height: 1.19;
  p {
    line-height: inherit;
  }
}
.accessory-bands-color-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    position: relative;
    margin: 0;
    padding: 0.25em;
    @media #{$upto-phone-md} {
      padding: 0.5em;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    &:checked {
      + label {
        &:before {
          content: '✓';
        }
      }
    }
    &#accessory-bands-color-50 {
      + label {
        &:before {
          color: black;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    color: white;
    font-size: 1.6em;
    @media #{$upto-tablet-md} {
      width: 1.25em;
      height: 1.25em;
    }
    @media #{$upto-phone-md} {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
.accessory-add-to-cart-form {
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  text-align: center;
  [data-currency="gbp"]:before { content: '£'; }
  [data-currency="usd"]:before { content: '$'; }
  [data-currency="eur"]:before { content: '€'; }
  [data-currency="hkd"]:before { content: 'HK$'; }
  [data-currency="aed"]:before { content: 'د.إ'; }
}
.voucher-input {
  margin-bottom: ms(1);
  margin-top: 0;
  width: 100%;
  max-width: 250px;
  input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: 'Tw Cen MT', 'Poppins', sans-serif;
    width: 80%;
  }
  ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.3);
  }
}
.vouchers-form {
  flex-direction: column;
}
.product-list-item__figure {
  padding-top: spacing(lg, 6);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 auto;
  // flex-basis: 22vh;
  @media #{$tablet} {
    padding-top: spacing(lg, 5);
  }
  @media #{$desktop-sm} {
    padding-top: spacing(lg, 4);
  }
  img {
    display: none;
  }
}
// straps page
.strap-page-featured-strap-image {
  margin: spacing(lg) spacing(md);
  max-width: 75%;
  .isIE & {
    // max-width: 380px;
    margin: ms(5) ms(3);
  }
}
.instagram-container {
  overflow: hidden;
}
.instagram-feed {
  display: flex;
  flex-wrap: wrap;
  margin-right: spacing(lg, -1.05);
  margin-left: spacing(lg, -1.05);
  .isIE & {
    // margin-right: - ms(4);
    // margin-left: - ms(4);
  }
  // max-width: $bp-desktop;
  @media #{$tablet} {
    margin-right: auto;
    margin-left: auto;
  }
  li {
    flex: 0 0 33.33%;
    .isIE & {
      // flex: 0 1 30%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 35%;
    }
    padding: 0.1rem;
    @media #{$tablet} {
      flex: 0 0 25%;
      padding: 0.3rem;
      .isIE & {
        // flex: 0 1 20%;
        padding: 0.15rem;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 20%;
      }
    }
    @media #{$tablet-lg} {
      padding: spacing(sm);
      .isIE & {
        padding: ms(1);
      }
    }
    &:last-of-type {
      @media #{$tablet} {
        display: none;
      }
    }
  }
  a {
    display: block;
    overflow: hidden;
    &:hover {
      figcaption {
        opacity: 1;
      }
      img {
        transform: scale(1.07);
      }
    }
  }
  figure {
    position: relative;
  }
  img {
    display: block;
    width: 100%;
    transition: 0.8s ease;
  }
  figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    background-color: color(black,0.8);
    color: white;
    line-height: 1.13;
    opacity: 0;
    transition: 0.5s ease;
    @media #{$upto-desktop} {
      display: none;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      // text-overflow: ellipsis;
      &:empty {
        &:before {
          content: 'View on Instagram';
        }
      }
    }
  }
}

.customise-now-section {
  min-height: 600px;
  .strap-customiser {
    // display: none;
  }
}

// difference page

.section-with-quote {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  @media #{$upto-desktop} {
    padding-right: spacing(lg);
    padding-left: spacing(lg);
  }
  @media #{$upto-tablet} {
    padding-right: spacing(sm);
    padding-left: spacing(sm);
  }
  @media #{$upto-phone-xl} {
    padding-right: 0;
    padding-left: 0;
  }
  .section-container {
    display: flex;
    flex-direction: column;
    @media #{$tablet} {
      flex-direction: row;
    }
  }
  .quote-figure {
    flex: 0 0 38.1%;
  }
}

.quote-figure {
  blockquote {
    margin: 0;
    font-size: ms(3);
    line-height: 1.19;
    @media #{$tablet} {
      padding-right: 1em;
      max-width: ms(14);
    }
    span {
      display: inline-block;
    }
  }
  figcaption {
    margin-top: 0.5em;
  }
}

.section-figure-outstretcher-right {
  position: relative;
  .section-container {
    margin-right: spacing(lg);
    margin-left: spacing(lg);
    // padding-right: 0;
    max-width: $bp-desktop-md;
    @media #{$upto-desktop} {
      margin-bottom: spacing(lg,2);
      text-align: center;
    }
    @media #{$desktop} {
      margin-right: 0;
      margin-left: 25vw;
      padding-left: 0;
    }
  }
  .page-section__copy-article {
    margin-top: spacing(lg);
    margin-bottom: spacing(lg);
    max-width: ms(18);
    @media #{$desktop} {
      margin-right: spacing(lg, 2);
    }
    h2 {
      padding-right: 1em;
      padding-left: 1em;
      @media #{$desktop} {
        padding-right: 2em;
        padding-left: 0em;
      }
    }
  }
}
.section-figure-outstretcher-right--75__figure {
  @media #{$desktop} {
    margin-left: 25vw;
  }
  // width: 75vw;
}
.section-figure-outstretcher-right--82-5__figure {
  overflow: hidden;
  // width: 75vw;
  @media #{$desktop} {
    display: flex;
    margin-left: 15vw;
    padding: spacing(lg, 0.5);
    background-color: color(black);
  }
  img {
    width: 100%;
    @media #{$desktop} {
      // margin: spacing(lg, 0.5);
      max-width: none;
      width: auto;
      height: auto;
    }
  }
}


// contact us page


.contact-form-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  .section-container {
    display: flex;
    flex-direction: column;
    @media #{$tablet} {
      flex-direction: row;
    }
  }
  .page-section__copy-article {
    flex: 0 0 38.1%;
    padding-right: spacing(lg);
  }
}

.contact-page-social-list {
  margin-top: 2em;
  h3 {
    text-transform: uppercase;
    font-size: inherit;
    opacity: 0.5;
  }
  .social-links-list {
    margin-top: 0;
  }
}

.contact-form {
  flex: auto;
}


// auth

.login-forms-section {
  .section-container {
    display: flex;
    flex-direction: column;
    > * {
      flex: 0 0 50%;
      @media #{$tablet} {
        padding: spacing(lg, 0.5);
      }
      @media #{$upto-tablet} {
        padding-bottom: spacing(lg, 0.5);
      }
      .isIE & {
        flex: 1 0 40%;
      }
    }
    form {
      .checkbox {
        .isIE & {
          display: flex;
        }
      }
    }
    @media #{$tablet} {
      padding: spacing(lg, 0.5);
    }
    @media #{$tablet-md} {
      flex-direction: row;
    }
    @media #{$upto-tablet} {
      padding-bottom: spacing(lg, 0.5);
    }
    small {
      display: block;
      margin-bottom: 1em;
    }
  }
}


// checkout


.checkout-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  .section-container {
    display: flex;
    @media #{$upto-desktop} {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media #{$desktop} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .info-bar {
    margin-bottom: 1em;
  }
}
.payment-form {
  .grid {
    max-width: ms(16);
    @media #{$upto-desktop} {
      justify-content: center;
      > * {
        flex-grow: 1;
      }
    }
  }
  [type="text"]::placeholder {
    opacity: 0.5 !important;
  }
  .input--submit {
    @media #{$upto-desktop} {
      margin-bottom: 1em;
      text-align: center;
    }
  }
}
.payment-expiration-form-fields {
  [type="text"] {
    display: inline-block;
    flex: auto;
  }
  div {
    display: flex;
    align-items: center;
  }
  span {
    margin-right: 0.6em;
    margin-left: 0.6em;
  }
}
.checkout-form-world-pay-logo-col {
  flex: auto;
  text-align: right;
  @media #{$upto-desktop} {
    text-align: center;
  }
  @media #{$desktop} {
    padding-top: 1em;
    padding-left: 1em;
  }
  a {
    display: inline-block;
  }
  > * + * {
    margin-top: 1em;
  }
}
.payment-errors {
  flex: 0 0 100%;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid color(alert);
  background-color: color(alert,0.1);
  color: color(alert);
  line-height: 1.5;
  &:empty {
    display: none;
  }
}
// order-success

.order-success-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
  @media #{$upto-desktop} {
    padding: spacing(lg, 2);
    text-align: center;
  }
  h2 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
    font-size: ms(2);
  }
}

.share-order {
  display: flex;
  justify-content: space-between;
  padding-bottom: spacing(md, 2);
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  @media #{$upto-phone-md} {
    margin: 0 spacing(sm, -3);
  }
}

.share-order-image {
  padding: 0;
  margin: 0;
  flex: 0 0 50%;
  figure {
    // background: varColor(primary);
    img {
      // display: none;
    }
  }
  figcaption {
    text-align: center;
    margin-top: ms(1);
    color: rgba(0,0,0,0.1);
    font-style: italic;
  }
}

.share-order-list {
  display: flex;
  // justify-content: flex-end;
  flex-direction: column;
  // background: grey;
  padding: spacing(md, 2) 0;
  align-items: center;
  @media #{$tablet} {
    padding: spacing(md, 2) spacing(sm, 2);
    align-items: flex-start;
  }
  flex: 0 0 50%;
  h3 {
    margin-bottom: spacing(md, 2);
    font-weight: 600;
  }
  a {
    display: inline-flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: spacing(sm, 2);
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      opacity: 0.6;
    }
    svg {
      margin-right: spacing(md);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.cart-wrapper {
  @media #{$upto-tablet} {
    padding-right: spacing(sm, 2);
    padding-left: spacing(sm, 2);
  }
  @media #{$upto-phone-xl} {
    padding-right: spacing(sm, 1.5);
    padding-left: spacing(sm, 1.5);
  }
  @media #{$upto-phone-lg} {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-customise {
  @media #{$tablet} {
    margin-left: auto;
    max-width: 250px;
    width: 100%;
  }
}
.products-banner {
  display: flex;
  align-items: center;
  padding-top: spacing(lg, 2);
  padding-bottom: spacing(lg, 2);
  padding-left: spacing(lg, 2);
  padding-right: spacing(lg, 2);
  margin: 0 spacing(lg, -2) spacing(lg);
  .isIE & {
    margin-top: 0;
    margin-left: - ms(7);
    margin-right: - ms(7);
    margin-bottom: ms(6);
  }
  min-height: 33vh;
  background-color: color(black);
  background-position: center;
  background-size: cover;
  color: color(white);
  position: relative;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  @media #{$tablet} {
    padding-left: spacing(lg, 2);
    padding-right: spacing(lg, 2);
    flex-direction: row;
  }
  @media #{$desktop-lg} {
    margin: 0 spacing(lg, -3) spacing(lg, 2);
    .isIE & {
      margin-top: 0;
      margin-left: - ms(7);
      margin-right: - ms(7);
      margin-bottom: ms(6);
    }
  }
  @media #{$desktop-xl} {
    // margin: 0 spacing(lg, -5) spacing(lg);
    .isIE & {
      margin-top: 0;
      margin-left: - ms(7);
      margin-right: - ms(7);
      margin-bottom: ms(6);
    }
  }
  h2 {
    margin-bottom: spacing(md);
    line-height: 1.3;
  }
  .section-container {
    padding: 0;
    max-width: 500px;
    text-align: center;
    // margin-bottom: spacing(md, 3);
    @media #{$tablet} {
      flex: 0 0 50%;
      text-align: left;
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  figure {
    @media #{$tablet} {
      flex: 0 0 45%;
    }
  }
  &:after {
    content: '';
    background: color(black,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
.accessories-container {
  h2 {
    text-align: center;
  }
}

.checkout-survey__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: spacing(sm, 2);
  li {
    flex: 1 0 100%;
    margin-bottom: ms(0);
    @media #{$phone-lg} {
      flex: 1 0 50%;
    }
    @media #{$tablet} {
      flex: 1 0 33%;
    }
  }
}

.checkout-survey {
  width: 100%;
  h2 {
    margin-top: spacing(sm);
  }
}
