.site-footer {
  h3 {
    margin: 1em 0;
    font-size: inherit;
  }
  .section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media #{$desktop-sm} {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.footer-logo-container {
  flex: 0 0 100%;
  @media #{$desktop-sm} {
    flex: 0 0 27%;
    padding-top: spacing(lg);
    padding-bottom: spacing(lg);
    .isIE & {
      padding-top: ms(6);
      padding-bottom: ms(6);
    }
  }
  svg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: ms(12);
    width: 100%;
  }
}

.footer-newsletter-signup-form {
  text-align: center;
  @media #{$upto-desktop-sm} {
    margin-right: spacing(lg);
    .isIE & {
      margin-right: ms(6);
    }
  }
  @media #{$upto-tablet} {
    margin-right: spacing(sm);
    .isIE & {
      margin-right: ms(6);
    }
  }
  @media #{$desktop-sm} {
    padding-right: 1em;
    padding-left: 1em;
  }
  form {
    display: flex;
    align-items: stretch;
  }
  * {
    box-sizing: border-box;
  }
  input {
    padding-left: 1em;
    width: u(6);
    height: 3em;
    border: 1px solid currentColor;
    border-radius: 100px 0 0 100px;
    text-align: left;
    @media #{$upto-phone-xl}{
      width: u(5);
    }
  }
  .button {
    height: 3em;
    border-color: color(black);
    border-left: 0;
    border-radius: 0 100px 100px 0;
    white-space: nowrap;
  }
}

.footer-social-links {
  text-align: center;
  ul {
    margin: 1rem 0;
  }
  .footer-email-link {
    font-size: 75%;
    &:hover {
      opacity: 0.7;
    }
  }
  #wrapper {
    li {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      a {
        display: block;
        padding: 1.3rem;
      }
      .count {
        display: block;
      }
    }
  }
}

.footer-of-footer {
  @include container;
  padding-top: spacing(md);
  padding-bottom: spacing(lg);
  .isIE & {
    padding-top: ms(3);
    padding-bottom: ms(6);
  }
  text-align: center;
  letter-spacing: 0.03em;
  @media #{$upto-desktop-sm} {
    max-width: $bp-tablet;
  }
  @media #{$desktop-sm} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-links {
  margin-right: 1em;
  line-height: 2;
  @media #{$upto-desktop-sm} {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  @media #{$desktop-sm} {
    text-align: left;
    line-height: 1.19;
  }
  li {
    display: inline-block;
    + li {
      &:before {
        margin: 0 0.3em 0 0.1em;
        content: '|';
        opacity: 0.5;
      }
    }
  }
  a {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.footer-credit {
  @media #{$desktop-sm} {
    text-align: right;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-payment-icons-column {
  flex: 0 0 27%;
  text-align: center;
  img {
    display: inline-block;
    padding: 3px;
  }
}

.payment-icon-worldpay {
  display: block;
  text-align: center;
  img {
    width: ms(12);
  }
}
.payment-methods-icon-list {
  img {
    display: inline-block;
    height: ms(4);
  }
}
