.site-header {
  position: sticky;
  top: 0;
  background-color: color(black);
  color: color(white);
  letter-spacing: 0.05em;
  svg {
    fill: currentColor;
  }
  .section-container {
    display: flex;
    transition: padding 0.3s;
    @media #{$upto-desktop-md} {
      padding-right: 0.5em;
      padding-left: 0.3em;
    }
  }
}

.site-nav {
  display: flex;
  flex: auto;
  align-items: stretch;
  @media #{$tablet-md} {
    font-size: 1.2rem;
  }
  @media #{$desktop-sm} {
    font-size: ms(1);
  }
}

.site-logo {
  display: block;
  padding: 0.5em;
  transition: 0.2s;
  .site-header & {
    @media #{$upto-desktop-md} {
      letter-spacing: 0;
      font-size: 90%;
    }
    @media #{$desktop-md} {
      margin-right: spacing(md);
    }
    &:hover {
      background-color: color(white,0.1);
    }
  }
  @media #{$upto-phone-md} {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.site-nav-major {
  display: flex;
  align-items: stretch;
  @media #{$only-iPads} {
    white-space: nowrap;
  }
  li {
    display: inline-flex;
    align-items: stretch;
  }
  a {
    display: inline-flex;
    align-items: center;
    padding-right: 0.618em;
    padding-left: 0.618em;
    @media #{$upto-desktop} {
      padding-right: 0.33em;
      padding-left: 0.33em;
    }
    &:hover {
      background-color: color(white,0.1);
    }
    span {
      @media #{$upto-desktop} {
        display: none;
      }
      &:first-child {
        margin-right: 0.3em;
      }
      &:last-child {
        margin-left: 0.3em;
      }
    }
  }
}

.site-nav-minor {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  li {
    display: inline-flex;
    + li {
      margin-left: 0.3em;
    }
  }
  a {
    display: inline-flex;
    align-items: center;
    padding-right: 0.618em;
    padding-left: 0.618em;
    &:hover {
      background-color: color(white,0.1);
    }
  }
}
.site-nav-minor-details {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0.3em;
  margin-left: 0.3em;
  width: 2.618em;
  text-align: center;
  font-weight: 700;
  font-size: 85%;
  appearance: none;
  summary{
    &:before {
      content: none;
    }
  }
  .currency-holder {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 0.75em;
    width: 2.618em;
    height: 2.618em;
    border: 1px solid currentColor;
    border-radius: 50%;
    background-color: transparent;
    letter-spacing: 0;
    transform: translateY(-50%);
    appearance: none;
    &::-webkit-details-marker {
      display: none;
    }
    // &:before {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: currentColor;
      content: '';
      transform: rotate(-45deg) translateX(-50%);
    }
  }
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: color(black);
    li {
      border-top: 1px solid color(white,0.2);
    }
    a {
      display: block;
      padding: 1em;
      min-width: ms(9);
    }
  }
}

[data-currency="gbp"] {
  .currency-holder {
    &:before { content: '£'; }
  }
}
[data-currency="usd"] {
  .currency-holder {
    &:before { content: '$'; }
  }
}
[data-currency="eur"] {
  .currency-holder {
    &:before { content: '€'; }
  }
}
[data-currency="hkd"] {
  .currency-holder {
    &:before { content: 'HK$'; }
  }
}
[data-currency="aed"]{
  .currency-holder {
    &:before { content: 'د.إ'; }
  }
}

[data-currency="gbp"]:before { content: '£'; }
[data-currency="usd"]:before { content: '$'; }
[data-currency="eur"]:before { content: '€'; }
[data-currency="hkd"]:before { content: 'HK$'; }
[data-currency="aed"]:before { content: 'د.إ'; }

.header-customise-button {
  display: none;
  align-self: center;
  margin-left: 1em;
  padding: 0.6em 0.8em;
  min-height: auto;
  @media #{$only-iPads} {
    margin-left: 0.35em;
    letter-spacing: 0;
  }
  @media #{$phone-xl} {
    display: block;
  }
}
.cart-button {
  align-items: center;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  a {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: 1px solid currentColor;
    border-radius: 1000px;
  }
  svg {
    margin: 0.38em 0.5em 0.38em 1em;
    &:only-child {
      margin: 0.38em;
    }
    + * {
      margin-right: 1em;
      @media #{$upto-phone-lg} {
        margin-right: 1rem;
      }
    }
  }
}

@keyframes dismissStatusNotice {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.session-status-notice {
  position: relative;
  background-color: color(neutral);
  color: color(white);
  &.is-dismissing {
    animation: dismissStatusNotice 0.5s cubic-bezier(0.6,0,0.3,1);
  }
  .section-container {
    display: flex;
    justify-content: space-between;
  }
  p {
    padding: 1em;
  }
  button {
    padding: 1em;
    border: none;
    background-color: color(white,0.1);
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    appearance: none;
    &:hover {
      background-color: color(white,0.16);
      font-weight: 700;
    }
  }
}

#google_translate_element {
  @media #{$upto-tablet-lg} {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
  // @media #{$upto-phone-lg} {
  //   margin: 0 0.5em;
  //   position: initial;
  // }
}
.goog-te-gadget-simple .goog-te-menu-value {
  @media #{$upto-desktop-md} {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    > span:first-child {
      display: none;
    }
    &:before {
      content: '文A';
      vertical-align: 0.2em;
      letter-spacing: -0.2em;
      font-weight: 700;
      font-family: sans-serif;
      &::first-letter {
        vertical-align: -3.5em;
      }
    }
  }
}

.site-desktop-menu {
  display: none;
  @media #{$tablet-md} {
    display: flex;
  }
}

.site-menu-button {
  display: none;
  @media #{$upto-tablet-md} {
    display: inline-flex;
    flex: 0 0 ms(6);
    align-items: center;
    justify-content: center;
    // height: ms(5);
    // padding: ms(1);
    width: ms(6);
    cursor: pointer;
    transition: 0.3s ease;
    @media #{$upto-phone-lg} {
      flex: 0 0 ms(4);
      width: ms(4);
    }
    @media #{$desktop} {
      // display: none;
    }
    ul {
      li {
        a {
          opacity: 0;
          transition: 0.3s ease;
        }
      }
    }
    &:hover {
      background: rgba(255,255,255,0.3);
    }
    &:active {
      // transform: scale(0.95);
    }
    &.open {
      ul {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background:  varColor(black);
        transition: 0.3s ease;
        z-index: 10;
        li {
          width: 100%;
          a {
            justify-content: center;
            padding: spacing(md);
            width: 100%;
            opacity: 1;
            transition: 0.3s ease;
            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

summary::-webkit-details-marker {
    display: none;
  }

.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  align-items: center;
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 0px;
    background-color: varColor(white);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: calc(45% - 0.5px);
    }
    &:nth-child(3) {
      bottom: 0px;
    }
  }
}
.mobile-customise-button {
  display: inline-flex!important;
  @media #{$phone-xl} {
    display: none!important;
  }
}

.site-nav-join {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

.page-section__pop-up {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 8;
  padding: spacing(md) spacing(md, 2);
  max-width: 450px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  .is_open & {
    display: block;
    opacity: 1;
  }
  .isIE & {
    top: 3.5em;
  }
  .join-newsletter-swipe & {
    animation: fadein 1s cubic-bezier(0.3,0,0.3,1) forwards;
    display: block;
  }
  .join-newsletter-swipe-out & {
    animation: fadeout-join 1s cubic-bezier(0.3,0,0.3,1) forwards;
  }
  @media #{$tablet} {
    right: 10%;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    margin: spacing(sm, 2) 0;
    font-size: 1.2rem;
  }
  input {
    margin-bottom: spacing(sm, 2);
    padding-left: 1em;
    width: 100%;
    height: 3em;
    border-radius: 100px;
    background: varColor(white);
    color: varColor(black);
    text-align: left;
    &:focus {
      background: varColor(white);
    }
  }
  button {
    transition: 0.3s ease;
    &:hover {
      background: varColor(white);
      color: varColor(black);
      transition: 0.3s ease;
    }
  }
}

@keyframes fadein {
  from {opacity: 0;top: -100%;}
  to   {opacity: 1;top: 100%;}
}

@keyframes fadeout-join {
  from {opacity: 1;}
  to   {opacity: 0;}
}

.newsletter-signup-successful {
  @keyframes fadeout {
      from { opacity: 1; }
      to   { opacity: 0; }
  }
  position: absolute;
  top: 100%;
  left: 0;
  padding: spacing(md) spacing(md, 2);
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-weight: 600;
  animation-name: fadeout;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: both;
}

.mobile__login {
  display: inline-flex!important;
  @media #{$phone-lg} {
    display: none!important;
  }
}

.desktop__login {
  display: inline-flex!important;
  @media #{$upto-phone-lg} {
    display: none!important;
  }
}
