.homepage-banner-section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 51.2rem;
  max-height: 70rem;
  height: 85vh;
  background-color: color(black,0.9);
  background-position: center;
  background-size: cover;
  color: color(white);
  flex-basis: 85vh;
  @media #{$upto-vert-sm} {
    height: 92vh;
    min-height: 0;
    flex-basis: 92vh;
  }
  @media #{$vert-sm} {
    height: 93vh;
    flex-basis: 93vh;
  }
  @media #{$vert-md} {
    height: 85vh;
    flex-basis: 85vh;
  }
  svg {
    fill: currentColor;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, color(black,0.6), color(black,0));
    content: '';
  }
  .section-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    @media #{$phone-xl} {
      flex-direction: row;
    }
    @media #{$upto-phone-xl} {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  &:after {
    position: absolute;
    bottom: 1em;
    left: 1em;
    content: 'Scroll to discover';
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 75%;
    z-index: 2;
    @media #{$upto-tablet} {
      left: spacing(md);
      bottom: ms(2);
    }
    @media #{$upto-phone-lg} {
      display: none;
    }
  }
}

.homepage-banner-copy {
  flex: 0 0 50%;
  h2 {
    font-size: ms(5);
    line-height: 1.3;
    @media #{$upto-phone-md} {
      font-size: ms(3);
    }
    @media #{$upto-vert-sm} {
      font-size: ms(3);
    }
  }
  * + * {
    margin-top: spacing(md);
    .isIE & {
      // margin-top: ms(2);
    }
  }
  margin-top: ms(6);
  @media #{$phone} {
    display: block;
    margin-top: ms(7);
  }
  @media #{$phone-md} {
    display: block;
    margin-top: ms(7);
  }
  @media #{$phone-xl} {
    margin-right: u(1);
  }
  @media #{$tablet} {
    flex: 0 0 61.8%;
    margin-top: 0;
  }
  @media #{$tablet-lg} {
    flex: 0 0 45.5%;
  }
  .isIE & {
    flex: 0 0 35em;
    margin-top: ms(6);
    @media #{$phone} {
      display: block;
      margin-top: ms(7);
    }
    @media #{$phone-md} {
      display: block;
      margin-top: ms(7);
    }
    @media #{$tablet} {
      flex: 0 0 50em;
      margin-top: 0;
      margin-right: u(1);
    }
    @media #{$tablet-lg} {
      flex: 0 0 30em;
    }
  }
}


.homepage-banner-figure-slides {
  @media #{$phone-md} {
    display: block;
    .isIE & {
      flex: 0 1 auto;
    }
  }
  @media #{$upto-phone-xl} {
    transform: rotate(-90deg);
  }
  figure {
    position: relative;
    height: ms(12);
    margin-right: - ms(8);
    @media #{$phone-md} {
      height: ms(12);
      @media #{$upto-vert-sm} {
        height: ms(13);
      }
    }
    @media #{$phone-xl} {
      height: ms(14);
      margin-right: 0;
    }
    @media #{$tablet} {
      height: ms(15);
    }
    @media #{$tablet-lg} {
      height: ms(15);
    }
  }
  img {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: none;
    width: auto;
    height: 100%;
    display: block;
  }
  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 75%;
    opacity: 0.5;
    @media #{$upto-tablet-lg} {
      right: 50%;
      transform: translate(45%, 0);
      width: 100%;
      text-align: center;
    }
    @media #{$upto-phone-xl} {
      left: -55%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      text-align: center;
      right: initial;
      writing-mode: tb;
    }
  }
}

.homepage-banner-social-links {
  position: absolute;
  right: spacing(md);
  bottom: spacing(md);
  z-index: 2;
  .isIE & {
    min-height: 33vh;
  }
  ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @media #{$upto-tablet} {
      display: flex;
      align-items: center;
    }
  }
  li {
    display: inline-block;
  }
  h3 {
    top: 0.5em;
    font-size: inherit;
    @media #{$tablet} {
      transform: rotate(180deg);
      margin-bottom: 0.5em;
      .isIE &,
      .isEdge & {
        transform: none;
      }
    }
  }
  a {
    padding: 0.3em;
    &:hover {
      background-color: color(white,0.2);
    }
  }
  @media #{$tablet} {
    writing-mode: tb-rl;
    .isIE &,
    .isEdge & {
      writing-mode: unset;
    }
  }
  .count {
    display: none;
  }
}

.social-links-list {
  li {
    display: inline-block;
  }
}

.feature-showcase-section {
  overflow: hidden;
  @media #{$desktop} {
    margin-top: spacing(lg);
    .isIE & {
      // margin-top: ms(5);
    }
  }
  .section-container {
    display: flex;
    flex-direction: row-reverse;
    @media #{$upto-desktop} {
      padding-right: 0;
      padding-left: 0;
    }
    @media #{$upto-tablet} {
      flex-direction: column;
    }
    > * {
      flex: 0 0 50%;
      .isIE & {
        flex: 0 0 43.5%;
      }
    }
  }
  &.is-mirrored .section-container {
    flex-direction: row;
    @media #{$upto-tablet} {
      flex-direction: column;
    }
  }
  .button {
    padding: 1em 2.15em;
    margin-right: auto;
    .isIE & {
      max-width: 150px;
    }
  }
}

.feature-showcase-lifestyle-col {
  position: relative;
  display: flex;
  justify-content: space-between;
  @media #{$tablet} {
    // padding-bottom: u(3);
    padding-bottom: u(1);
  }
  .is-mirrored & {
    flex-direction: row-reverse;
  }
  &:before {
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    display: block;
    width: 50vw;
    background-color: color(black);
    .is-mirrored & {
      right: auto;
      left: 0;
    }
    @media #{$tablet} {
      content: '';
    }
  }
}

.feature-showcase-figure-lifestyle {
  position: relative;
  width: 100%;
  height: 85%;
  background-color: color(median);
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 40px color(black,0.3);
  padding: spacing(lg, 9) 0;
  .isIE & {
    // padding: ms(9) 0;
  }
  @media #{$tablet-md} {
    width: 61.8%;
    padding: spacing(lg, 7) 0;;
  }
  @media #{$only-iPads} {
    padding: spacing(lg, 9) 0;
  }
  img {
    display: none;
  }
  figcaption {
    position: absolute;
    top: 90%;
    right: 5%;
    margin-top: 1em;
    color: color(white);
    opacity: 0.5;
    margin-left: ms(1);
    .is-mirrored & {
      left: 5%;
      right: initial;
      margin-left: 0;
    }
    @media #{$tablet-md} {
      margin-left: 0;
      top: 100%;
      right: initial;
    }
  }
}

.feature-showcase-figure-straps {
    display: none;
    flex: auto;
    justify-content: flex-end;
    margin-top: spacing(lg);
    .isIE & {
      // margin-top: ms(5);
    }
    height: 50%;
    @media #{$tablet-md} {
      display: flex;
    }
    .is-mirrored & {
      justify-content: flex-start;
    }
    img {
      max-width: none;
      max-height: 100%;
      width: auto;
    }
    @media #{$only-iPads} {
      padding: spacing(md, 2) 0;
    }
}

.strap-image-container {
  figure {
    display: none;
    flex: auto;
    justify-content: flex-end;
    @media #{$tablet-md} {
      display: flex;
    }
    .is-mirrored & {
      justify-content: flex-start;
    }
    img {
      max-width: none;
      max-height: 100%;
      width: auto;
    }
  }
  figure {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: spacing(lg, 3) spacing(lg, 2);
    .isIE & {
      // padding: ms(7) ms(6);
    }
    img {
      display: none;
    }
  }
}

.feature-showcase-copy-col {
  padding: spacing(lg) spacing(lg) spacing(lg) spacing(lg, 1.218);
  .isIE & {
    // padding: ms(5) ms(5) ms(5) ms(6);
  }
  .is-mirrored & {
    padding: spacing(lg) spacing(lg, 1.218) spacing(lg);
    .isIE & {
      // padding: ms(5) ms(5) ms(5);
    }
  }
  @media #{$upto-tablet} {
    padding: spacing(lg);
    .isIE & {
      padding: ms(5);
    }
    .is-mirrored & {
      padding: spacing(lg);
      .isIE & {
        padding: ms(5);
      }
    }
  }
}

.feature-showcase-figure-watch {
  position: relative;
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}


.our-story-section {
  padding-bottom: spacing(lg);
  padding-top: spacing(lg, 1.5);
  @media #{$tablet}  {
    padding-top: 0;
  }
  @media #{$desktop} {
    padding-top: spacing(lg);
    .isIE & {
      // padding-top: 2em;
    }
  }
  .section-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    @media #{$desktop} {
      flex-direction: row-reverse;
      > * {
        flex: 0 0 50%;
        padding: spacing(lg);
        .isIE & {
          // padding: ms(5);
          flex: 0 0 40%;
        }
      }
    }
  }
  .page-section__copy-article {
    @media #{$upto-desktop} {
      padding: spacing(lg);
      .isIE & {
        padding: ms(5);
      }
      text-align: center;
      h2 {
        padding-left: 2em;
        font-weight: bold;
      }
    }
    @media #{$desktop} {
      padding-left: spacing(lg, 2);
      .isIE & {
        // padding-left: ms(6);
      }
    }
  }
}

.video-block {
  position: relative;
  &:before {
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    display: block;
    width: 50vw;
    background-color: color(black);
    content: '';
    .is-mirrored & {
      right: auto;
      left: 0;
    }
  }
}

.video-player-wrapper {
  position: relative;
  background-color: color(shadow);
  iframe {
    min-height: 56.25%;
    width: 100%;
  }
}

.ship-globally-section {
  display: flex;
  align-items: center;
  padding-top: spacing(lg, 2);
  padding-bottom: spacing(lg, 2);
  min-height: 33vh;
  background-color: color(black);
  background-position: center;
  background-size: cover;
  color: color(white);
  text-align: center;
  .isIE & {
    // padding-top: ms(6);
    // padding-bottom: ms(6);
    height: 32.5vh;
  }
  h2 {
    margin-top: spacing(md);
    .isIE & {
      // margin-top: ms(3);
    }
  }
}
