@keyframes customiserLoader {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading-notice {
  display: block;
  padding: spacing(lg);
  min-height: ms(12);
  svg {
    margin: 0 auto;
  }
  span {
    display: block;
    text-align: center;
    animation: customiserLoader 0.7s ease;
  }
}
[data-initiated="true"] {
  .loading-notice {
    display: none;
  }
}
