// basic custom properties

:root {

  // Define Font Family Variables
  --font-ui        : $font-stack-ui;
  --font-sans      : $font-stack-sans;
  --font-serif     : $font-stack-serif;
  --font-mono      : $font-stack-mono;
  --font-heading   : $font-stack-heading;

  // units
  --spacing-sm: #{u(0.19)};
  --spacing-md: #{u(0.33)};
  --spacing-lg: #{u(0.618)};

  // define the custom properties for the colour palette

  @each $color, $value in $colors {
    --rgb-#{$color}: #{$value};
    --color-#{$color}: #{color($color)};
  }
  @each $color, $value in $contextColors {
    @if (map-has-key($colors, $value) == true) {
      /* --color-#{$color} points to --color-#{$value} */
      --rgb-#{$color}: #{map-get($colors, $value)};
      --color-#{$color}: #{color($value)};
    } @else {
      --rgb-#{$color}: #{$value};
      --color-#{$color}: #{unquote('rgb(#{$value})')};
    }
  }
  @each $color, $value in $thirdPartyColors {
    --rgb-#{$color}: #{$value};
    --color-#{$color}: #{color($color)};
  }

  @media #{$tablet} {
    --spacing-sm: #{u(0.381)};
    --spacing-md: #{u(0.5)};
    --spacing-lg: #{u(0.75)};
  }
  @media #{$desktop} {
    --spacing-md: #{u(0.618)};
    --spacing-lg: #{u(1.38)};
  }
  @media #{$desktop-lg} {
    --spacing-md: #{u(0.75)};
    --spacing-lg: #{u(1.618)};
  }

}


@each $color, $value in $colors {
  [data-accent="#{$color}"] {
    @include setAccent($color);
  }
}
@each $color, $value in $contextColors {
  [data-accent="#{$color}"] {
    @include setAccent($color);
  }
}
@each $color, $value in $thirdPartyColors {
  [data-accent="#{$color}"] {
    @include setAccent($color);
  }
}
