:root {
  // min-width: $bp-desktop;
  background-color: var(--theme-app-color-bg);
  color: var(--theme-app-color-text);
}


.isIE {
  * {
    box-sizing: border-box!important;
  }
}

body {
}

@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: spacing(lg);
  padding-left: spacing(lg);
  .isIE & {
    // padding-right: ms(5);
    // padding-left: ms(5);
  }
  max-width: $bp-desktop-xl;
}

.view-main {
  // overflow-x: hidden;
}

.page-section {

}

.section-container {
  @include container;
}

.section-container__ie {
  .isIE & {
    // padding-left: 0;
    // padding-right: 0;
    > * {
      flex: 0 0 45%!important;
    }
  }
}

.section-simple-header {
  position: relative;
  padding: spacing(lg) spacing(lg, 2) spacing(lg, 2);
  .isIE & {
    // padding: ms(5) ms(8) ms(8);
  }
  background-color: color(black);
  color: color(white);
  @media #{$upto-desktop} {
    text-align: center;
    h1 {
      padding: spacing(lg) 0;
      .isIE & {
        padding: ms(5) 0;
      }
    }
  }
  + *,
  + .section-generic {
    margin-top: spacing(lg, -1);
    .isIE & {
      margin-top: - ms(5);
    }
  }
  &.has-background {
    padding: spacing(lg, 2) spacing(lg, 2) spacing(lg, 3);
    .isIE & {
      // padding: ms(6) ms(6) ms(7);
    }
    background-position: center;
    background-size: cover;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: color(black,0.6);
      content: '';
    }
    .section-container {
      position: relative;
      @media #{$upto-phone-xl} {
        padding: 0;
      }
    }
    @media #{$upto-tablet} {
      padding: spacing(md, 1) spacing(lg, 2) spacing(md, 2);
    }
  }
}

.has-video-background {
  position: relative;
  overflow: hidden;
  object-position: center;
}
.background-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  .isIE & {
    // width: auto;
    transform: scale(1.5, 1.5);
  }
  .isEdge & {
    transform: scale(1.5, 1.5);
  }
}

.background-video__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .isIE & {
    // width: auto;
    transform: scale(1.5, 1.5);
  }
  .isEdge & {
    transform: scale(1.5, 1.5);
  }
}

.section-generic {
  margin-top: spacing(lg);
  .isIE & {
    margin-top: ms(5);
  }
  @media #{$upto-phone-xl} {
    margin-top: 0;
  }
  .section-container {
    position: relative;
    display: flex;
    align-items: center;
    .isIE & {
      overflow: hidden;
    }
    @media #{$upto-desktop} {
      padding-right: 0;
      padding-left: 0;
    }
    @media #{$upto-phone-xl} {
      overflow: hidden;
    }
    @media #{$desktop} {
      align-items: stretch;
    }
    > * {
      flex: 0 0 50%;
    }
    flex-direction: column;
    @media #{$tablet} {
      flex-direction: row;
    }
  }
}
.section-generic__figure-column-with-backdrop {
  position: relative;
  display: flex;
  min-height: ms(15);
  margin-bottom: spacing(lg, -1);
  .isIE & {
    margin-bottom: - ms(5);
  }
  @media #{$phone-xl} {
    padding: 0 spacing(lg, 0.8) spacing(lg);
    .isIE & {
      padding: 0 ms(4) ms(5);
    }
  }
  @media #{$tablet} {
    margin-bottom: 0;
  }
  @media #{$desktop} {
    height: 50vw;
  }
  figure {
    position: relative;
    box-sizing: border-box;
    padding-top: 162%;
    max-height: 85%;
    width: 100%;
    background-color: color(median);
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 40px color(black,0.3);
    .isIE & {
      padding-top: ms(16);
    }
    @media #{$desktop} {
      padding-top: 115%;
      .isIE & {
        padding-top: ms(15);
      }
      .isEdge & {
        padding-top: 100%;
      }
    }
    @media #{$upto-tablet} {
      padding: spacing(lg, 5);
      .isIE & {
        padding: ms(10);
      }
    }
    img {
      display: none;
    }
  }
  &:before {
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: color(black);
    @media #{$phone-xl} {
      content: '';
    }
    @media #{$tablet} {
      width: 50vw;
    }
    .is-mirrored & {
      right: auto;
      left: 0;
    }
  }
}

.section-generic__article-column {
  padding: spacing(lg,2) spacing(lg) spacing(lg);
  .isIE & {
    // padding: ms(6) ms(5) ms(5);
  }
  @media #{$upto-desktop} {
    padding-bottom: spacing(lg,2);
    .isIE & {
      // padding-bottom: ms(6);
    }
  }
}

.section-generic-banner-with-text {
  position: relative;
  padding-top: spacing(lg, 2);
  padding-bottom: spacing(lg, 2);
  .isIE & {
    padding-top: ms(6);
    padding-bottom: ms(6);
  }
  background-color: color(black);
  background-position: center;
  background-size: cover;
  color: color(white);
  @media #{$upto-desktop-sm} {
    text-align: center;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    content: '';
    @media #{$desktop-sm} {
      background-color: transparent;
      background-image: linear-gradient(to right, color(black,0.4), color(black,0));
    }
  }
  .section-container {
    position: relative;
    display: flex;
    .isIE & {
      // display: block;
    }
  }
  .page-section__copy-article {
    h2 {
      @media #{$upto-desktop-sm} {
        text-align: center;
        padding-left: 2em;
      }
      @media #{$upto-phone-xl} {
        padding-left: 0em;
      }
    }
    padding: 0 spacing(lg);
    .isIE & {
      padding: 0 ms(5);
    }
    text-shadow: 0 0 0.5em rgba(0,0,0,0.3);
    @media #{$desktop-sm} {
      flex: 0 0 50%;
    }
  }
}

.page-section__copy-article {
  * + * {
    margin-top: 1em;
  }
  .button {
    margin-top: 3em;
  }
}

.page-section__copy-article h2 ,
.page-section__title {
  display: inline-block;
  padding: 1em 0 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid currentColor;
  line-height: 1.2;
  text-align: center;
  @media #{$phone-xl} {
    line-height: inherit;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    text-align: inherit;
  }
}

.section-simple-centered {
  margin-top: spacing(lg);
  margin-bottom: spacing(lg);
  .isIE & {
    margin-top: ms(5);
    margin-bottom: ms(5);
  }
  text-align: center;
  .page-section__title {
    padding-left: 2em;
    @media #{$upto-phone-xl} {
      padding-left: ms(0);
      padding-right: ms(0);
      width: 100%;
    }
  }
  .page-section__title-link {
    padding: ms(0) ms(0);
    font-size: ms(2);
    a {
      transition: 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}


.page-paper-wrapper {
  position: relative;
  padding-right: spacing(lg);
  padding-left: spacing(lg);
  .isIE & {
    // padding-right: ms(5);
    // padding-left: ms(5);
  }
  @media #{$desktop} {
    padding-right: spacing(lg,2);
    padding-left: spacing(lg,2);
    .isIE & {
      // padding-right: ms(7);
      // padding-left: ms(7);
    }
  }
  .section-generic-banner-with-text {
    margin: 0 spacing(lg, -1.55);
    .isIE & {
      margin: 0 - ms(6)
    }
    @media #{$phone-xl} {
      margin: 0 spacing(lg, -2);
      .isIE & {
        margin: 0 - ms(7)
      }
    }
    .section-container__advertising {
      padding-right: spacing(md);
      padding-left: spacing(md);
      .isIE & {
        // padding-right: ms(3);
        // padding-left: ms(3);
      }
    }
  }
}

.page-paper-wrapper__container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: $bp-desktop-md;
  background-color: color(white);
  @media #{$upto-desktop} {
    padding-right: spacing(lg);
    padding-left: spacing(lg);
    .isIE & {
      // padding-right: ms(5);
      // padding-left: ms(5);
    }
    .section-container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media #{$upto-phone-xl} {
    padding-right: spacing(md);
    padding-left: spacing(md);
  }
  .section-product-simple {
    padding: spacing(lg);
  }
  .cart-wrapper & {
    @media #{$upto-phone-lg} {
      padding-right: spacing(sm, 0.5);
      padding-left: spacing(sm, 0.5);
    }
    @media #{$upto-phone-md} {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.section-product-simple {
  .section-container {
    display: flex;
    align-items: center;
    > * {
      flex: 0 0 50%;
    }
  }
  .section-generic__article-column {
    padding: spacing(lg);
    .isIE & {
      // padding: ms(5);
    }
  }
  + .section-product-simple {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 61.8%;
      height: 0;
      border-top: 1px solid currentColor;
      content: '';
    }
  }
  &:nth-child(even) {
    .section-container {
      flex-direction: row-reverse;
    }
  }
}

.pagination-section {
  margin-top: spacing(lg);
  margin-bottom: spacing(lg);
  text-align: center;
  .section-container {

  }
  li {
    display: inline-block;
    a {
      display: block;
      padding: 1em;
      min-width: ms(4);
    }
  }
}

.template-page-content-section {
  padding-top: spacing(lg);
  padding-bottom: spacing(lg);
}

#google_translate_element {
  display: flex;
  align-items: center;
  // background-color: black;
  font-family: inherit;
  .goog-te-gadget {
    font-family: inherit;
  }
  .goog-te-gadget-simple {
    padding: 5px 7px;
    border-radius: 200px;
    font-family: inherit;
  }
}
.goog-te-gadget-icon {
  // display: none;
}

.swiper-pagination-bullet-active {
  background: white!important;
}

.swiper-slide {
  overflow: hidden;
  width: 99.999%!important;
  &-active {
    z-index: 5;
  }
  video,
  .background-video__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
    display: none;
}

.copyright__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: ms(4) ms(4) 0;
  text-align: center;
  @media #{$desktop-sm} {
    margin: - ms(1) ms(4) 0;
  }
  p {
    opacity: 0.5;
    @media #{$desktop-sm} {
      line-height: 1.19;
    }
    @media #{$upto-desktop-sm} {
      margin-bottom: ms(1);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.close-newsletter-button {
  padding: 1em 1.125em;
  position: absolute;
  top: 0;
  right: 1em;
}
