.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: calc(var(--theme-grid-gap) * -0.5);
  margin-left: calc(var(--theme-grid-gap) * -0.5);
  @media #{$upto-phone-lg} {
    margin-right: 0;
    margin-left: 0;
  }
  > * {
    margin-top: calc(var(--theme-grid-gap) * 0.5);
    padding: calc(var(--theme-grid-gap) * 0.5);
    .isIE & {
      margin-top: spacing(sm);
      padding: spacing(sm);
    }
  }
  &.no-wrap {
    flex-wrap: nowrap;
  }
}

@for $i from 1 through 12 {
  .grid-#{$i}-col {
    @if $i <= 2 {
      flex-basis: 50%;
    } @else {
      flex-basis: 100%;
    }
    flex-grow: 0;
    flex-shrink: 0;
    @media #{$tablet} {
      $col-width: ceil($i / 2) * 2 / 6;
      @if $col-width > 1 {
        $col-width: 1;
      }
      flex-basis: #{ $col-width * 100% };
    }
    @media #{$desktop} {
      flex-basis: #{$i / 12 * 100%};
    }
  }
}
