$z-indexes: (
  // order this list of CSS selectors from top layer to bottom
  '.site-header',
  '.session-status-notice'
);

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

@each $layer in $z-indexes {
  #{$layer} {
    z-index: z($layer);
  }
}

// then put overriding rules below
// usually overriding ruels are for responsive purposes
