.view-footer {
	display: flex;
  flex: 0 0 u(1);
	justify-content: space-between;
	width: 100%;
  height: u(1);
  background-color: var(--theme-footer-background);
  color: var(--color-light);
  @media #{$only-phones} {
    display: none;
  }
}
.view-footer__content {
	flex: 8 8 auto;
	padding-left: ms(0);
}
.view-footer__content__item {
  display: inline-block;
  margin: 0;
  padding: ms(1) ms(0);
  height: 100%;
  line-height: 1;
	svg {
		margin-right: 0.33em;
		vertical-align: middle;
		fill: currentColor;
	}
  &.is-copyright {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: u(1);
    vertical-align: middle;
    line-height: 1.25;
    opacity: 0.75;
    small {
      /*flex: 1 1 50%;*/
    }
    a {
      font-weight: 700;
    }
  }
}
.view-footer-roadsigns {
	display: flex;
}
.view-footer-roadsign {
	flex: 2 2 auto;
	text-align: right;
}
.view-footer-roadsign__item {
  display: inline-block;
  padding: ms(1) ms(2);
  height: 100%;
  font-weight: 500;
  line-height: 1;
	svg {
		margin-right: 0.33em;
		vertical-align: middle;
		fill: currentColor;
	}
  &:hover {
		background-color: rgba(255,255,255,0.1);
    filter: brightness(1.05);
  }
  &.is-primary {
    @include varColor('background-color','positive');
  }
}
