.view-header {
	@include varColor('border-color','median',0.3);
	// position: fixed;
	// top: 0;
	display: flex;
	align-items: stretch;
	width: 100%;
	border-width: 0 0 1px 0;
  // border-style: solid;
	@media #{$upto-desktop} {
		flex-wrap: wrap;
    padding-left: u(1);
	}
	@media #{$only-tablets} {
		flex: 0 0 u(1.19);
		height: u(1.19);
	}
	@media #{$only-phones} {
		flex: 0 0 u(2);
		// margin-bottom: u(-1);
		height: u(2);
	}
	@media #{$desktop} {
		flex: 0 0 var(--theme-header-height);
		height: var(--theme-header-height);
		border: none;
	}
}

.view-header__logo-container {
	flex: 0 0 var(--theme-nav-sidebar-width);
	color: var(--color-accent);
	text-align: center;
	@media #{$upto-desktop} {
		height: u(1);
	}
	@media #{$only-phones} {
		flex: 0 0 38.1vw;
	}
	@media #{$only-tablets} {
		height: u(1.19);
		border: {
      width: 0 1px;
      color: unquote('rgba(var(--rgb-text),0.2)');
      style: solid;
    }
	}
	@media #{$desktop} {
		background-color: var(--theme-nav-sidebar-background);
		color: var(--theme-nav-sidebar-text-color);
	}
}
.view-header-logo__permalink {
	display: flex;
	align-items: left;
	justify-content: left;
	padding-right: var(--spacing-sm);
	padding-left: var(--spacing-sm);
	height: 100%;
	@media #{$desktop} {
	}
	@media #{$tablet-sm} {
		align-items: center;
		justify-content: center;
	}
	&:hover {
		@include varColor('background-color','primary',0.1);
	}
	svg {
		fill: currentColor;
		@media #{$upto-desktop} {
			width: u(3);
			height: u(1);
		}
		@media #{$only-phones} {
			max-width: 85%;
		}
	}
}
.view-header-logo__label {
	display: none;
}
.view-header__main {
	position: relative;
	display: flex;
	flex: auto;
	align-items: center;
  padding-left: var(--spacing-md);
	@media #{$only-phones} {
		@include varColor('border-color','median',0.3);
		flex: 0 0 100%;
		order: 3;
		height: u(1);
		border-width: 1px 0 0 0;
	  border-style: solid;
	}
  @media #{$only-tablets} {
    padding-left: 0;
  }
}
.view-header__main__container {
	flex: auto;
	text-align: left;
	@media #{$only-tablets} {
		text-align: center;
	}
	@media #{$desktop} {
		text-align: left;
	}
}
.view-header__controls {
	display: flex;
	align-items: center;
	padding-right: var(--spacing-md);
	white-space: nowrap;
	user-select: none;
	@media #{$only-phones} {
		flex: auto;
		height: u(1);
	}
	@media #{$upto-phone-sm} {
		max-width: calc(100% - 38.1vw);
	}
	@media #{$upto-desktop} {
		justify-content: flex-end;
    // border-left: {
    //   width: 1px;
    //   color: unquote('rgba(var(--rgb-text),0.2)');
    //   style: solid;
    // }
	}
}

@mixin header-control-hoverable {
  // @media #{$desktop} {
  //   &:hover {
  //     &:before {
  //       top: -0.1em;
  //       right: -0.1em;
  //       bottom: -0.1em;
  //       left: -0.1em;
  //       opacity: 1;
  //     }
  //   }
  // }
  // &:before {
  //   @include varColor('background-color','accent',0.1);
  //   position: absolute;
  //   top: 0.2em;
  //   right: 0.2em;
  //   bottom: 0.2em;
  //   left: 0.2em;
  //   content: '';
  //   opacity: 0;
  //   transition: 0.3s ease;
  // }
  &:hover {
    filter: brightness(1.1);
    transition: 0.15s ease;
  }
}
.view-header__control {
  @include header-control-hoverable;
  position: relative;
  display: inline-block;
	width: u(1);
	height: u(1);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
  transform: translate3d(0,0,0);
	@media #{$upto-phone-sm} {
		width: u(0.85);
	}
  @media #{$desktop} {
    &:hover {
      .alert-dot {
				[data-js="off"] & {
					transform: scale(2);
				}
      }
      text {
        fill: var(--color-light);
      }
      .is-big-dot .alert-dot {
        @media #{$desktop} {
					[data-js="off"] & {
						transform: scale(2.5);
					}
        }
      }
    }
  }
  svg {
    position: relative;
    width: inherit;
    height: inherit;
    transition: 0.3s ease;
    /*transform: translate(0,0);*/
    &.has-new-entry {
      .alert-dot {
        fill: var(--color-alert);
      }
    }
  }
  use {
    fill: url(#gradient--median);
  }
  .alert-dot {
    fill: transparent;
    @media #{$upto-desktop} {
      transform: scale(2);
      transform-origin: 30px 14px !important;
    }
    @media #{$desktop} {
      [data-js="off"] & {
        transition: 0.3s ease;
        transform: scale(1);
      }
    }
  }
  .is-big-dot {
    .alert-dot {
      @media #{$upto-desktop} {
        transform: scale(2.75);
      }
      @media #{$desktop} {
        [data-js="off"] & {
          transform: scale(1);
        }
      }
    }
    text {
      font-size: 11px;
    }
  }
  .is-bigger-dot text {
    font-size: 10px;
  }
  text {
    letter-spacing: -0.085em;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    fill: var(--color-light);
    @media #{$desktop} {
      transition: 0.3s ease;
      fill: transparent;
    }
  }
}


.icon-hidden-label {
  display: none;
}

.view-header__user-icon-button {
  position: relative;
  .user-name-tag {
		display: none;
		margin-right: 1em;
		font-weight: 700;
		line-height: 3;
		@media #{$desktop} {
			display: inline-block;
		}
	}
  &:hover {
    .view-header__user-menu {
      opacity: 1;
      pointer-events: auto;
    }
    .user-icon-link {
      @media #{$desktop} {
        @include varColor('background-color', 'primary', 0.2);
      }
    }
  }
	.user-icon {
		@media #{$upto-desktop} {
			width: u(0.75);
			height: u(0.75);
		}
		@media #{$upto-phone-sm} {
			width: u(0.5);
			height: u(0.5);
		}
	}
}
.user-icon-link {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
	margin-left: 1em;
	vertical-align: middle;
  font-weight: 700;
	cursor: pointer;
  transition: 0.2s ease;
	@media #{$desktop} {
		margin-top: -0.5em;
		margin-right: -0.5em;
		padding: 0.5em;
	}
	@media #{$upto-phone-sm} {
		margin-left: 0.3em;
	}
  &:hover {
    @media #{$desktop} {
      @include varColor('background-color', 'primary', 0.2);
    }
  }
  svg , span {
    position: relative;
  }
}
.view-header__user-menu {
  position: absolute;
  top: 100%;
  right: -0.5em;
  // padding: var(--theme-border-radius) 0;
  min-width: ms(12);
  border-radius: var(--theme-border-radius);
  background-color: var(--color-background);
  box-shadow: 0 0.5em 3em rgba(0,0,0,0.1);
  white-space: nowrap;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
  li + li {
    border-top: 1px solid unquote('rgba(var(--rgb-text),0.1)');
  }
  a {
    display: block;
    padding: 0.75em 1em;
    &:hover {
      @include varColor('background-color', 'primary', 0.2);
    }
  }
}
