@keyframes sidebarOverlayFader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.view-nav-sidebar {
  @media #{$upto-desktop} {
    flex: 0 0 u(1);
    overflow: hidden;
    box-sizing: content-box;
    width: u(1);
    &.is-opened {
      overflow: visible;
      .view-nav-sidebar__overlay {
        display: block;
        opacity: 1;
      }
      .view-nav-sidebar-wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        width: calc(100vw + 20px);
      }
      .is-current .view-nav__item {
        &:before {
          transform: none;
        }
      }
      .view-nav {
        // transform: none;
        // width: var(--theme-nav-sidebar-width);
        &:before {
          transform: none;
        }
      }
      .view-nav__item__label {
        opacity: 1;
        transition-delay: 0.19s;
      }
      .hamburger-button {
        background-color: var(--color-primary);
      }
    }
    &.is-opening {
      pointer-events: none;
      .view-nav-sidebar__overlay {
        animation: sidebarOverlayFader 0.618s ease forwards;
      }
      .view-nav {
        overflow: hidden;
      }
    }
    &.is-closing {
      pointer-events: none;
      .view-nav-sidebar__overlay {
        animation: sidebarOverlayFader 0.618s ease forwards reverse;
      }
      .view-nav {
        overflow: hidden;
        width: u(1);
      }
      .view-nav__item__label {
        opacity: 0;
      }
      .view-nav__item {
        &:before {
          transform: none;
        }
      }
    }
    &:hover {
      [data-js=off] & {
        overflow: visible;
        .view-nav-sidebar-wrapper {
          overflow-x: hidden;
          overflow-y: auto;
          width: calc(100vw + 20px);
        }
        .view-nav {
          transform: none;
        }
        .view-nav__item__label {
          opacity: 1;
          transition-delay: 0.19s;
        }
      }
    }
  }
  @media #{$desktop} {
    flex: 0 0 var(--theme-nav-sidebar-width);
    overflow: auto;
  }
  @media #{$only-phones} {
    margin-top: u(-1);
  }
  hr {
    margin: calc(var(--spacing-sm) / 2) 0;
    border-color: transparent;
  }
}
.view-nav-sidebar__overlay {
  @include fill-parent;
  display: none;
  background-color: rgba(0,0,0,0.1);
}
.view-nav-sidebar-wrapper {
  height: 100%;
  @media #{$upto-desktop} {
    width: u(1);
  }
}
@mixin is-icon-nav {
  .view-nav__li {
    // display: inline-block;
    vertical-align: top;
  }
  .view-nav__item {
    display: block;
    // width: u(1);
    height: u(1);
    white-space: nowrap;
    @media #{$upto-desktop} {
      padding-left: u(1);
      line-height: u(1);
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      @media #{$upto-desktop} {
        position: absolute;
        left: 0;
      }
    }
  }
  .has-submenu:hover {
    .view-nav__submenu {
      display: block;
    }
  }
  .view-nav__item__label {
    // display: none;
    vertical-align: middle;
  }
  .is-current .view-nav__item__label {
    // display: inline-block;
  }
  hr {
    display: none;
  }
  .view-nav__submenu {
    position: absolute;
  }
}
.is-icon-mode {
  @include is-icon-nav;
}
.view-nav {
  position: relative;
  min-height: 100%;
  color: var(--theme-nav-sidebar-text-color);
  font-weight: 500;
  line-height: 1.618;
  user-select: none;
  @media #{$upto-desktop} {
    @include is-icon-nav;
    box-sizing: content-box;
    // width: u(1);
    width: var(--theme-nav-sidebar-width);
    // background-color: var(--color-light);
    text-align: left;
    transition: width 0.618s cubic-bezier(0.618,0,0.381,1);
  }
  @media #{$desktop} {
    background-color: var(--theme-nav-sidebar-background);
    text-align: right;
    font-size: 95%;
  }
  &:before {
    background-color: var(--theme-nav-sidebar-background);
    @media #{$upto-desktop} {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      box-sizing: content-box;
      width: var(--theme-nav-sidebar-width);
      content: '';
      transition: transform 0.618s cubic-bezier(0.618,0,0.381,1);
      transform: translateX(calc(-100% + #{u(1)}));
      border-right: {
        width: 1px;
        color: unquote('rgba(var(--rgb-text),0.2)');
        style: solid;
      }
    }
  }
  .is-current {
    .view-nav__item {
      @media #{$desktop} {
        @include varColor('background-color','accent',0.5);
      }
      &:before {
        @media #{$upto-desktop} {
          @include varColor('background-color','accent',0.5);
          @include fill-parent;
          z-index: -1;
          content: '';
          transition: transform 0.618s cubic-bezier(0.618,0,0.381,1);
          transform: translateX(calc(-100% + #{u(1)}));
        }
      }
    }
    .view-nav__item__label {
      font-weight: 700;
    }
    svg {
      fill: var(--color-secondary);
    }
  }
  &__item {
    @media #{$desktop} {
      position: relative;
      display: block;
      padding: 0.38vh 1em;
      svg {
        display: none;
      }
    }
    .view-nav__item__label {
      @media #{$upto-desktop} {
        padding-right: 0.75em;
      }
    }
    &:hover {
      @include varColor('background-color','accent',0.2);
      filter: brightness(1.1);
      svg {
        // fill: var(--color-secondary);
      }
    }
    svg {
      fill: currentColor;
      fill-opacity: 0.8;
    }
  }
}

.view-nav__list {
  display: inline-block;
  @media #{$upto-desktop} {
  }
  @media #{$desktop} {
    display: block;
  }
}

.has-submenu {
  position: relative;
  .view-nav__item__label {
    @media #{$upto-desktop} {
      padding-right: 0.5em;
    }
    @media #{$desktop} {
      // padding-left: 1em;
    }
  }
  .view-nav__item:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: inherit;
    font-weight: 400;
    opacity: 0.5;
    @media #{$desktop} {
      // content: '+';
    }
  }
  &.is-current {
    .view-nav__item {
      @media #{$desktop} {
        border-bottom: 1px solid var(--color-primary);
        &:before {
          // content: '–';
        }
      }
    }
  }
}
.view-nav__item__label {
  @media #{$upto-desktop} {
    opacity: 0;
    transition: 0.3s ease;
  }
}

.view-nav__submenu {
  /*padding-top: 0.5em;*/
  display: none;
  // background-color: var(--theme-nav-sidebar-background);
  @media #{$desktop} {
    display: block;
    padding-bottom: 0.5em;
  }
  @media #{$upto-desktop} {
    top: 0;
    left: 100%;
    // border: 1px solid var(--color-primary);
    text-align: left;
    white-space: nowrap;
  }
}
.view-nav__submenu__li {
  // @include varColor('background-color','accent',0.15);
  &.is-current {
    // @include varColor('background-color','accent',0.25);
  }
}
.view-nav__submenu__item {
  display: block;
  padding: 0.38vh 1em;
  @media #{$upto-desktop} {
    min-width: ms(12);
  }
  &:hover {
    @include varColor('background-color','accent',0.3);
  }
}

.hamburger-button {
  position: fixed;
  top: 0;
  display: block;
  box-sizing: content-box;
  height: u(1);
  background-color: var(--theme-nav-sidebar-background);
  color: var(--theme-nav-sidebar-text-color);
  filter: brightness(1.3);
  fill: currentColor;
  fill-opacity: 0.8;
  @media #{$only-tablets} {
    height: u(1.19);
  }
  &:focus {
    outline: none;
  }
  svg {
    width: u(1);
  }
  &:hover {
    background-color: var(--color-primary);
  }
}
