.panel-tab-group-section {
  position: relative;
  overflow: hidden;
  // margin-bottom: -20px;
  height: 2.75em;
  user-select: none;
  + .view-main__body__inner {
    --tab-background-rgb: 255,255,255;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: unquote('rgba(var(--tab-background-rgb),0.6)');
  }
}
.panel-tab-group {
  --ms-overflow-style: none;
  @supports not (-webkit-overflow-scrolling: touch) {
    overflow-x: auto;
  }
  @supports (-webkit-overflow-scrolling: touch) {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  position: relative;
  display: block;
  overflow-y: hidden;
  box-sizing: content-box;
  padding-bottom: 20px;
  width: 100%;
  height: 2.75em;
  white-space: nowrap;
  -ms-overflow-style: none;
  @media #{$desktop} {
    padding-left: var(--spacing-md);
    width: calc(100% - var(--spacing-md));
  }
}

.panel-tab {
  @supports not (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)) {
    border-radius: 5px 5px 0 0;
    a {
      padding-right: 1em;
      padding-left: 1em;
    }
  }
  @supports (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)) {
    // @media #{$upto-desktop} {
    //   border-radius: 5px 5px 0 0;
    //   a {
    //     padding-right: 1em;
    //     padding-left: 1em;
    //   }
    // }
    // @media #{$desktop} {
      @for $i from 1 through 18 {
        &:nth-child(#{$i}) {
          z-index: 18 - $i;
        }
      }
      // transform: translateY();
      a {
        padding-right: 2em;
      }
      &:first-child {
        clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 100%, 0 100%);
        a {
          padding-left: 1em;
        }
      }
      &:not(:first-child) {
        clip-path: polygon(1em 0, calc(100% - 1em) 0, 100% 100%, 0 100%);
        a {
          padding-left: 2em;
        }
      }
      + .panel-tab {
        margin-left: -1.3em;
      }
      &.is-current , &:hover {
        z-index: 19;
      }
    // }
  }
  position: relative;
  display: inline-block;
  background-color: var(--color-accent);
  font-weight: 500;
  transition: 0.1s ease;
  &:hover {
    filter: brightness(1.1);
  }
  a {
    display: block;
    padding-bottom: 2px;
    background-color: rgba(255,255,255,0.6);
    line-height: 2.75;
  }
  &.is-current {
    a {
      background-color: rgba(255,255,255,0.3);
      color: white;
      font-weight: 700;
    }
  }
  &:nth-child(6n + 1) { --color-accent: var(--color-primary); }
  &:nth-child(6n + 2) { --color-accent: var(--color-secondary); }
  &:nth-child(6n + 3) { --color-accent: var(--color-tertiary); }
  &:nth-child(6n + 4) { --color-accent: var(--color-quaternary); }
  &:nth-child(6n + 5) { --color-accent: var(--color-shadow); a { background-color: rgba(255,255,255,0.8); } }
  &:nth-child(6n + 6) { --color-accent: var(--color-attention); }
}
