
[data-layout-type="panel"] {
  /*@include varColor('border-color','accent','0.2');*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  .view-main__content:not(.has-panel-sidebar) {
    padding-top: var(--spacing-md);
  }
  .view-main__body__inner {
    --tab-background-rgb: var(--rgb-secondary);
    @for $i from 0 through 3 {
      &[data-tab-order="#{($i * 6) + 1}"] {
        --tab-background-rgb: var(--rgb-primary);
      }
      &[data-tab-order="#{($i * 6) + 2}"] {
        --tab-background-rgb: var(--rgb-secondary);
      }
      &[data-tab-order="#{($i * 6) + 3}"] {
        --tab-background-rgb: var(--rgb-tertiary);
      }
      &[data-tab-order="#{($i * 6) + 4}"] {
        --tab-background-rgb: var(--rgb-quaternary);
      }
      &[data-tab-order="#{($i * 6) + 5}"] {
        --tab-background-rgb: var(--rgb-shadow);
        background-color: unquote('rgba(var(--tab-background-rgb),0.06)');
      }
      &[data-tab-order="#{($i * 6) + 6}"] {
        --tab-background-rgb: var(--rgb-attention);
      }
    }
    // background-color: unquote('rgba(var(--tab-background-rgb),0.1)');
    background-color: unquote('rgba(var(--rgb-shadow),0.03)');
  }
  .view-main__header {
    p:only-child {
      margin-top: var(--spacing-md);
    }
  }
}


.has-panel-sidebar {
  display: flex;
  padding-bottom: 0;
}

.panel-inner-sidebar {
  @include varColor('background-color','accent',0.1);
  flex: 0 0 calc(var(--theme-widget-panel-width) * 0.85);
  overflow: auto;
  padding-top: var(--spacing-md);
  padding-left: var(--spacing-md);
  @media #{$only-phones} {
    display: none;
  }
}
.panel-inner-sidebar__title {
  margin: 0 0 0.618em;
  padding-right: 1em;
  color: var(--color-primary);
  font-size: ms(2);
}
.panel-content-wrapper {
  @supports not (-webkit-overflow-scrolling: touch) {
    overflow: auto;
  }
  @supports (-webkit-overflow-scrolling: touch) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  flex: auto;
  padding: var(--spacing-md);
}
