* {
	box-sizing: border-box;
}
body {
	overflow: hidden;
  background-color: var(--color-background); // prevent user defined background colors that's other than white. rewrite if required.
}
.view {
  display: flex;
  flex-direction: column;
	overflow: hidden;
  height: 100vh;
	background-color: var(--color-background);
	color: var(--color-foreground);
	&.is-dark {
		@include varColor('background-color','foreground',0.9);
		color: var(--color-background);
	}
}

.view-body {
	display: flex;
  flex: auto;
  flex-direction: row;
	// flex-direction: column;
  align-content: stretch;
  align-items: stretch;
	// overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	@media #{$desktop} {
	}
}

.view-main {
	position: relative;
	display: flex;
  flex: auto;
	flex-direction: row;
	overflow: hidden;
  @media #{$tablet-sm} {
    // padding-right: ms(12);
  }
	@media #{$upto-desktop} {
    // width: calc(100% - #{u(1)});
  }
	@media #{$desktop} {
		// padding-right: ms(13);
		border-top: 1px solid rgba(0,0,0,0.2);
		// flex: 9 9 90%;
		// width: calc(100% - var(--theme-nav-sidebar-width));
	}
}

.view-main__body {
	@include varColor('border-color','median',0.3);
	position: relative;
	display: flex;
	// flex: 0 1 100%;
  flex: auto;
	flex-direction: column;
	overflow: hidden;
	// width: calc(100% - #{});
	border-width: 1px 0 0 0;
  border-style: solid;
	@media #{$desktop} {
		// width: calc(100% - #{ms(13)});
		border: 0;
	}
}
.view-main__body__inner {
  display: flex;
	flex: 1 1 100%;
  flex-direction: column;
	overflow: auto;
	padding-top: 0;
	padding-left: var(--spacing-md);
	@media #{$desktop} {
		// padding-top: 0;
	}
	> * {
		margin-right: var(--spacing-md);
	}
}


.view-main__content {
	padding-bottom: var(--spacing-md);
	// min-height: 100%;
	&.has-panel-sidebar {
		overflow: hidden;
    margin-right: 0;
		margin-left: calc(var(--spacing-md) * -1);
    height: 100%;
	}
}


.view-main__section__header {
	margin: var(--spacing-md) 0 0.5em;
}


.view-title {
  font-weight: 500;
	font-size: ms(3);
  data {
    font-family: var(--font-mono);
    opacity: 0.5;
    font-feature-settings: 'tnum' 1;
  }
}
.view-title-breadcrumbs {
  @include allcaps;
  display: none;
  margin-top: 0.381em;
  color: var(--color-median);
  @media #{$desktop} {
    display: block;
  }
  data {
    font-family: var(--font-mono);
  }
  a + a {
    &:before {
      margin-right: 0.3em;
      margin-left: 0.3em;
      width: 1em;
      height: 1em;
      color: var(--color-median);
      content: '►';
      vertical-align: middle;
      font-size: 61.8%;
      line-height: 1;
    }
  }
  a {
    &:hover {
      color: var(--color-secondary);
      opacity: 1;
    }
    &.is-current {
      pointer-events: none;
    }
  }
}

.view-main__section {
	flex: auto;
  // overflow: hidden;
  + .view-main__section {
    @include varColor('border-color', 'median', 0.5);
    margin-top: 1em;
    border-width: 1px 0 0 0;
    border-style: dotted;
  }
}
.view-main__section__title {
  color: var(--color-text);
  font-weight: 700;
  font-size: ms(2);
}
