.widget-panel {
  display: flex;
  flex: 0 0 var(--theme-widget-panel-width);
	@media #{$upto-tablet} {
		flex: 0 0 0;
	}
  &.is-opened {
    .widget-panel__content {
      transform: translateX(0);
    }
    .widget-panel__overlay {
      @media #{$upto-tablet} {
        display: block;
        opacity: 1;
      }
    }
  }
  &.is-opening {
    pointer-events: none;
    .widget-panel__overlay {
      animation: sidebarOverlayFader 0.618s ease forwards;
    }
  }
  &.is-closing {
    pointer-events: none;
    .widget-panel__overlay {
      animation: sidebarOverlayFader 0.618s ease forwards reverse;
    }
  }
}
.widget-panel__content {
  --rgb-text: var(--theme-widget-panel-text-rgb);
  --color-text: var(--theme-widget-panel-text-color);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: auto;
  background-color: unquote('rgba(var(--theme-widget-panel-background-rgb),var(--theme-widget-panel-background-opacity))');
  color: var(--color-text);
  font-weight: 500;
  user-select: none;
  @media #{$upto-tablet} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--theme-widget-panel-width);
    transition: 0.618s cubic-bezier(0.618,0,0.381,1);
    transform: translateX(100%);
  }
  .input--text ,
  .input--radio ,
  .input--toggle ,
  .input--select--transparent {
    margin-top: 1rem;
  }
  [type=date] {
    width: 100%;
  }
}
.widget-panel-toggle {
  position: fixed;
  right: u(0.5);
  bottom: u(0.5);
  display: none;
  padding: 1em;
  border-radius: 50%;
  background-color: var(--color-accent);
  @media #{$tablet-sm} {
    bottom: u(1.5);
  }
  &:focus {
    outline: none;
  }
  [data-js=on] & {
    @media #{$upto-tablet} {
      display: block;
    }
  }
  svg {
    display: block;
    fill: var(--color-light);
  }
}
.widget-panel__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,0.1);
}
.widget-panel__section {

}

.widget-panel__search-bar {
  position: relative;
  input {
    &:focus {
      outline: 1px $color-primary solid;
    }
  }
  [type="search"] {
    @include varColor('background-color','light',0.2);
    display: block;
    padding-left: var(--spacing-sm);
    width: 100%;
    height: u(1);
    border: none;
    color: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::placeholder {
      font-style: italic;
      opacity: 1;
      opacity: 0.618;
    }
    &:focus {
      @include varColor('background-color','light',0.3);
    }
  }
  [type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: u(1);
    height: u(1);
    fill: currentColor;
  }
}
.widget-panel__section {
  position: relative;
}
.widget-panel__section:not(.is-search) {
  padding: var(--spacing-sm);
}
.widget-panel__section__title {
  @include allcaps;
  margin-top: var(--spacing-sm);
  &:after {
    display: block;
    margin: var(--spacing-sm) 0;
    border-bottom: currentColor 1px solid;
    content: '';
    opacity: 0.381;
  }
}
.widget-panel__link-group {
}
.widget-panel__link {
  display: block;
  margin-right: -0.2em;
  margin-left: -0.2em;
  padding: 0.5em 0.2em;
  transition: 0.2s ease;
  &:hover {
    @include varColor('background-color','light',0.3);
  }
}
