.view-header {
  z-index: 2016;
}
.view-nav-sidebar {
  @media #{$upto-desktop} {
    z-index: 2018;
  }
}
.widget-panel {
  @media #{$only-phones} {
    z-index: 2017;
  }
}
.widget-panel-toggle {
  z-index: 2019;
}
.view-notif-card-stack {
  z-index: 2020;
}
