@import '../../../styles/variables';

.customise-now-section {
  @media #{$upto-desktop-sm} {
    padding-right: 0;
    padding-left: 0;
  }
  .section-container {
    @media #{$upto-phone-xl} {
      padding-left: spacing(sm, 2);
      padding-right: spacing(sm, 2);
      overflow: hidden;
    }
  }
}
.strap-customiser {
  @media #{$desktop-sm} {
    display: flex;
    align-items: flex-start;
    &.admin-mode {
      align-items: stretch;
      border-bottom: 1px solid color(black,0.2);
      .admin-button-group {
        display: block;
      }
    }
  }
}
.submitting {
  opacity: 0.75;
  pointer-events: none;
  [type="submit"] {
    span {
      display: none;
    }
    &:before {
      content: 'Please wait...';
    }
  }
}
.customiser-aside {
  // padding-bottom: spacing(md);
  @media #{$desktop-sm} {
    flex: 0 0 ms(14);
    border-right: 1px solid color(black,0.2);
  }
  header {
    padding-top: spacing(lg, 2);
    padding-right: spacing(md);
    padding-bottom: spacing(lg);
    @media #{$tablet} {
      padding-top: spacing(md);
      padding-bottom: spacing(md);
    }
    @media #{$upto-desktop-sm} {
      display: flex;
      align-items: center;
      padding-right: 0;
      > * {
        flex: auto;
        + * {
          margin-left: 1em;
        }
      }
    }
    @media #{$upto-tablet} {
      flex-direction: column;
      > * {
        + * {
          margin-left: 0em;
        }
      }
    }
    + * {
      border-top: 1px solid color(black,0.2);
    }
  }
  p {
    font-size: 85%;
  }
  h1 {
    margin-bottom: spacing(md);
    letter-spacing: 0.1rem;
    font-size: ms(2);
  }
  article {
    + a {
      margin-top: 1em;
      text-align: center;
      line-height: 1.3;
      @media #{$phone-xl} {
        white-space: nowrap;
      }
    }
  }
}

.customiser-option-list {
  @media #{$upto-desktop-sm} {
    // position: relative;
    display: flex;
    margin-right: spacing(lg, -1);
    margin-left: spacing(lg, -1);
    border-bottom: 1px solid color(black,0.2);
    > * {
      flex: 0 0 25%;
    }
  }
  @media #{$upto-phone-xl} {
    margin-left: spacing(sm, -2);
    margin-right: spacing(sm, -2);
    flex-wrap: wrap;
    > * {
      @media #{$upto-phone-xl} {
        flex: 1 0 50%;
      }
    }
  }
}
.customiser-option-item {
  position: relative;
  @media #{$desktop-sm} {
    + .customiser-option-item {
      border-top: 1px solid color(black,0.2);
    }
  }
  @media #{$upto-desktop-sm} {
    &:last-child {
      .customiser-option-sublist {
        right: 0;
        left: auto;
      }
    }
  }
  @media #{$upto-phone-xl} {
    &:nth-of-type(2) {
      .customiser-option-sublist {
        right: 0;
        left: initial;
      }
    }
  }
  summary {
    &::-webkit-details-marker {
      display: none;
    }
  }
}

.customer-option-label {
  padding-top: 1em;
  padding-right: 1.3em;
  padding-bottom: 1em;
  cursor: pointer;
  @media #{$upto-desktop-sm} {
    text-align: center;
  }
  @media #{$upto-phone-xl} {
    padding-right: 1em;
    padding-left: 1em;
  }
  @media #{$desktop-sm} {
    display: flex;
    align-items: center;
    &:after {
      display: block;
      width: 4px;
      height: 4px;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: inherit;
      content: '';
      opacity: 0.5;
      transform: rotate(45deg);
    }
  }
  &:hover {
    background-color: color(primary,0.1);
  }
  &:focus {
    outline: none;
    background-color: color(primary,0.2);
  }
  .open & {
    background-color: color(primary,0.1);
  }
  h3 {
    flex: auto;
    font-size: inherit;
  }
  &::-webkit-details-marker {
    display: none;
  }
}
.customiser-selected-badge {
  display: inline-block;
  flex: 0 0 u(1.38);
  overflow: hidden;
  width: u(1.38);
  height: u(1.38);
  border: 2px color(white) solid;
  border-radius: 50%;
  background-color: color(black);
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 5px color(black,0.2);
  @media #{$upto-desktop-sm} {
    margin-bottom: 1em;
  }
  @media #{$desktop-sm} {
    margin-right: 1em;
  }
}

.customiser-option-sublist {
  position: absolute;
  top: 0;
  left: 100%;
  overflow: auto;
  max-height: 61.8vh;
  white-space: nowrap;
  @media #{$desktop-sm} {
    min-width: ms(13);
  }
  @media #{$upto-desktop-sm} {
    top: 100%;
    left: 0;
    min-width: 50vw;
  }
  .open & {
    display: block;
  }
}

.customiser-option-sublist {
  z-index: 1;
  border: 1px solid color(black,0.2);
  background-color: color(white);
  li {
    position: relative;
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
    }
    label {
      display: flex;
      align-items: center;
      padding: 0.618em spacing(md);
      font-weight: inherit;
      filter: brightness(1.1);
    }
    &:hover {
      background-color: color(primary,0.2);
    }
    + li {
      // border-top: 1px solid color(black,0.2);
    }
    span {
      display: flex;
      flex: 0 0 u(0.75);
      align-items: center;
      justify-content: center;
      margin-right: 1em;
      width: u(0.75);
      height: u(0.75);
      border: 2px color(white) solid;
      border-radius: 50%;
      background-color: color(black,0.5);
      background-position: center;
      background-size: cover;
      box-shadow: 0 3px 5px color(black,0.2);
      letter-spacing: 0;
    }
    &.selected {
      background-color: color(primary,0.3);
      span {
        background-color: color(black);
      }
      span:before {
        color: white;
        content: '✓';
      }
    }
  }
}

.admin-button-group {
  padding-top: spacing(md);
  border-top: 1px solid color(black,0.2);
  .btn--std--primary {
    padding: 1em 1.3em;
  }
}

.watch-thumb {
  background-position: left 55% top 45%;
  background-size: 133% 150%;
  background-repeat: no-repeat;
}

.color-selector {

}

.customiser-aside-add-to-cart-button {
  display: none;
  padding: spacing(md);
  width: 100%;
  background: color(black);
  color: color(white);
  text-align: center;
  appearance: none;
  @media #{$desktop-sm} {
    display: block;
  }
}

.customiser-viewbox__bg {
  transition: 0.5s ease;
}

.customiser-viewbox-column {
  position: relative;
  flex: auto;
  @media #{$upto-phone-xl} {
    flex-direction: column;
    display: flex;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: spacing(md) 0;
    align-items: flex-start;
    @media #{$desktop-sm} {
      padding: spacing(md);
    }
    @media #{$upto-tablet} {
      flex-direction: column;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      order: 3;
      align-items: center;
    }
    @media #{$upto-phone-xl} {
      // padding-bottom: 5.5rem;
    }
  }
}
.customiser-quick-controls {
  display: flex;
  @media #{$upto-phone-xl} {
    flex-wrap: wrap;
    justify-content: center;
    margin: ms(1) 0 0;
  }
  button {
    @media #{$upto-phone-xl} {
      flex: 0 0 31.33%;
      margin-bottom: 1em;
      font-size: ms(0);
    }
    @media #{$upto-phone-lg} {
      flex: 1 0 30%;
    }
    + button {
      margin-left: 0.618em;
    }
  }
}
.share-component-wrapper {
  position: relative;
  display: flex;
  margin-left: 0.618em;
  .isIE & {
    // display: none;
  }
}
.sharing-panel {
  position: absolute;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  margin-top: 8px;
  padding: 0.5em;
  background-color: color(black);
  color: color(white);
  transform: translateX(-50%);
  @media #{$upto-phone-lg} {
    left: -50%;
    &:before {
      left: 70%;
    }
  }
  // @media #{$upto-phone-md} {
  //   left: 50%;
  //   &:before {
  //     left: 50%;
  //   }
  // }
  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 9.375em;
    background-color: color(white,0.1);
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    background-color: inherit;
    content: '';
    transform: rotate(45deg) translateX(-50%);
  }
  svg {
    fill: currentColor;
  }
}
.sharing-options-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  drop-shadow: 0 1.56em 3em rgba(0,0,0,0.2);
  a, span {
    display: block;
    padding: 0.5em;
    &:first-of-type {
      margin-left: 0.3em;
    }
    &:hover {
      background-color: color(white,0.1);
    }
  }
  &.loading {
    opacity: 0.6;
    pointer-events: none;
    &:before {
      content: 'Please wait...';
    }
  }
  &:before {
    content: 'Share to:';
  }
}
.social-sharing-twitter-loading-notice {
  display: block;
  padding: 0.5em;
}
.customiser-price-previewer {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media #{$upto-tablet} {
    margin-top: ms(2);
  }
  @media #{$upto-phone-xl} {
    // margin: ms(1) 0;
    justify-content: center;
    button {
      // margin-top: ms(1);
    }
    .customiser-price-tag {
      margin-right: spacing(sm, 2);
    }
     * {
      // flex: 1 0 40%;
    }
  }
}

.customiser-price-details  {
  text-align: right;
  @media #{$upto-tablet} {
    text-align: center;
  }
}

.customiser-security {
  background: varColor(shadow, 0.1);
  padding: spacing(md);
  margin-top: spacing(md);
  // max-width: 300px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  a {
    color: #D51B3A;
    transition: 0.5s ease;
    font-weight: 600;
    &:hover {
      transition: 0.25s ease;
      opacity: 0.8;
    }
  }
  h3 {
    margin-bottom: ms(3);
    font-size: ms(2);
  }
  p {
    font-size: 1.2rem;
  }
  .customiser-price-details & {
    display: block;
    @media #{$desktop-sm} {
      display: none;
    }
  }
}

.customiser-security__content {
  margin-right: ms(3);
}

.customiser-secure-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: ms(2);
  flex: 1 0 35%;
  flex-direction: row;
  @media #{$tablet} {
    flex-direction: column;
    margin-top: 0;
  }
  @media #{$tablet-md} {
    flex-direction: row;
  }
}

.customiser-price-aside {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: spacing(sm, 2);
  span {
    margin-bottom: ms(2);
    display: block;
    font-size: ms(4);
  }
  .section-container {
    padding: 0;
    text-align: center;
    h2 {
      margin-top: ms(2);
    }
  }
  @media #{$desktop-sm} {
    display: flex;
  }
}

.customiser-price-tag {
  margin-right: 1em;
  margin-left: 1em;
  font-size: ms(2);
  @media #{$upto-tablet} {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  @media #{$upto-phone-xl} {
    margin-right: 0;
    margin-left: 0;
  }
}

.customiser-viewbox {
  overflow: hidden;
  @media #{$upto-phone-xl} {
    height: 43vh;
  }
  @media #{$upto-phone-md} {
    margin-right: spacing(sm, -2);
    margin-left: spacing(sm, -2);
    height: 33vh;
  }
  @media #{$upto-vert-md} {
    height: 46vh;
    .isIE & {
      height: 95vh;
    }
  }
  @media #{$upto-vert-sm} {
    height: 50vh;
    .isIE & {
      height: 100vh;
    }
  }
  @media #{$phone-xl} {
    height: initial;
  }
}

@keyframes svgArtboardEnter {
  from {
    opacity: 0;
    // transform: translateY(20px);
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}
.customiser-viewbox-svg-artboard {
  width: 100%;
  height: 62.5%;
  transform: scale(1.35);
  animation: svgArtboardEnter 1.3s cubic-bezier(0.38,0,0,1);
  .isIE & {
    height: 100%;
  }
  @media #{$tablet} {
    transform: scale(1.15);
  }
  @media #{$upto-phone-xl} {
    height: 100%;
    transform: scale(1.62);
  }
  @media #{$upto-vert-md} {
    transform: scale(1.6);
  }
  @media #{$phone-xl} {
    transform: scale(1.15);
  }
}
.duplicate-top {
  // transform: scaleY(-1);
}
.customiser-module--bands {
}
.customiser-canvas ,
.customiser-img-renderer ,
.strap-design-rendered-base64 {
  position: fixed;
  top: -1000px;
  left: -1000px;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.customiser-footnote {
  padding: 1em spacing(md) 4em;
  text-align: right;
  font-size: 80%;
  opacity: 0.6;
  @media #{$upto-phone-xl} {
    padding: 0em spacing(md);
  }
}

#linkToShare {
  position: fixed;
  top: -10000px;
  left: -10000px;
}

.sharing-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
  &.is-open {
    display: flex;
  }
  &.is-closed {
    display: none;
  }
}

.sharing-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 95%;
  max-width: 1040px;
  @media #{$tablet} {
    height: 85%;
  }
}

.sharing-modal__inputs {
  display: flex;
  // flex-direction: column;
  background: color(white);
  padding: spacing(md, 2);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-height: 755px) {
    padding: spacing(sm, 2);
  }
  * {
    flex: 1 0 100%;
  }
  input,
  textarea {
    margin-bottom: spacing(md);
    padding: spacing(sm, 3);
    @media screen and (max-height: 755px) {
      margin-bottom: spacing(sm);
      padding: spacing(sm, 1.5);
    }
  }
  textarea {
    height: 12.5rem;
  }
  p {
    margin-bottom: spacing(sm, 2);
    text-align: center;
    font-weight: 500;
    font-size: ms(3);
    @media screen and (max-height: 755px) {
      font-size: ms(2);
      margin-bottom: spacing(sm);
    }
  }
  input[type="submit"] {
    height: 4em;
    padding: 0;
    margin: 0 auto;
  }
}

.input--text_form {
  display: flex;
  flex-wrap: wrap;
  input {
    flex: 1 0 100%;
    @media #{$tablet} {
      flex: 1 0 40%;
    }
  }
  @media #{$tablet} {
    input[name="name"] {
      margin-right: spacing(sm, 2);
    }
  }
}

.close_modal {
  font-size: ms(3);
  position: absolute;
  top: 3%;
  right: 3%;
  transition: 0.3s ease;
  color: color(black);
  z-index: 3;
  &:before {
    content: '';
    width: 2em;
    height: 2em;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 100%;
    z-index: 2;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:active {
    color: color(black,0.6);
    transform: scale(0.95);
    &:before{
      opacity: 0.5;
    }
  }
}

.footer__sharing-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: spacing(md) 0;
  @media #{$desktop-sm} {
    padding: spacing(md);
  }
  @media #{$upto-phone-xl} {
    justify-content: center;
    padding: 0 0 spacing(md);
    order: 4;
  }
  .customiser-footnote {
    padding: 0;
    @media #{$upto-phone-xl} {
      flex: 1 0 45%;
    }
  }
}

.sharing-panel__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media #{$upto-phone-xl} {
    justify-content: center;
  }
  a {
    @media #{$upto-phone-xl} {
      font-size: ms(0);
      flex: 1 0 55%;
    }
    &:before {
      content:'Email your Strap';
    }
    &.loading {
      opacity: 0.6;
      pointer-events: none;
      &:before {
        content: 'Click share to generate image'
      }
    }
  }
}

#email-share-button {
  &:before {
    content: 'Send Mail';
  }
  &.disabled-button {
    pointer-events: none;
    opacity: 0.6;
    &:before {
      content: 'Fill in required fields to send';
    }
  }
}
