<template>
<form class="strap-customiser" id="customiser-form" @submit.prevent="onSubmit" :class="{'admin-mode': isAdminMode}">
  <aside class="customiser-aside">
    <header v-if="!isAdminMode">
      <article v-html="customText"></article>
      <a href="docs/vulcan_strap_size.pdf" target="_blank" class="button">Click here to check your wrist size</a>
    </header>
    <div class="customiser-option-list">
      <div class="details customiser-option-item">
        <summary>
        <div class="customer-option-label">
          <span class="customiser-selected-badge watch-thumb" :style="'background-image: url(/images/customiser/watches/' + options.watches.find(w => w.id === selected.watch).thumbnail + ')'"></span>
          <h3>Your watch<sup>*</sup></h3>
        </div>
        </summary>
        <ul class="customiser-option-sublist">
          <li v-for="watch in options.watches" :class="{'selected': selected.watch === watch.id}">
            <input type="radio" name="options[watches]" v-model="selected.watch" :value="watch.id" :id="'watch-' + watch.id" />
            <label :for="'watch-' + watch.id">
              <span class="watch-thumb" :style="'background-image: url(/images/customiser/watches/' + watch.thumbnail + ')'"></span>
              {{watch.name}}
            </label>
          </li>
        </ul>
      </div>
      <div class="details customiser-option-item">
        <summary>
          <div class="customer-option-label">
            <span class="customiser-selected-badge" :style="'background-color: rgb(' + options.straps.find(s => s.id === selected.strap).rgb + ')'"></span>
            <h3>Strap colour</h3>
          </div>
        </summary>
        <ul class="customiser-option-sublist color-selector">
          <li v-for="strap in options.straps" :class="{'selected': selected.strap === strap.id}" v-if="strap.availableToBuy">
            <input type="radio" name="options[straps]" v-model="selected.strap" :value="strap.id" :id="'strap-' + strap.id" />
            <label :for="'strap-' + strap.id">
                <span :style="'background-color: rgb(' + strap.rgb + ')'"></span>
                {{ strap.name }}
              </label>
          </li>
        </ul>
      </div>
      <div class="details customiser-option-item">
        <summary>
          <div class="customer-option-label">
            <span class="customiser-selected-badge" :style="'background-color: rgb(' + options.bands.find(b => b.id === selected.band).rgb + ')'"></span>
            <h3>Band colour</h3>
          </div>
        </summary>
        <ul class="customiser-option-sublist color-selector">
          <li v-for="band in options.bands" :class="{'selected': selected.band === band.id}" v-if="band.availableToBuy">
            <input type="radio" name="options[bands]" v-model="selected.band" :value="band.id" :id="'band-' + band.id" />
            <label :for="'band-' + band.id">
              <span :style="'background-color: rgb(' + band.rgb + ')'"></span>
              {{ band.name }}
            </label>
          </li>
        </ul>
      </div>
      <div class="details customiser-option-item">
        <summary>
          <div class="customer-option-label">
            <span class="customiser-selected-badge" :style="'background-image: url(/images/customiser/buckles/' + options.buckles.find(bm => bm.id === selected.buckle).customiserImage + ')'"></span>
            <h3>Buckle</h3>
          </div>
        </summary>
        <ul class="customiser-option-sublist">
          <li v-for="buckle in options.buckles" :class="{'selected': selected.buckle === buckle.id}" v-if="buckle.availableToBuy">
            <input type="radio" name="options[buckles]" v-model="selected.buckle" :value="buckle.id" :id="'buckle-' + buckle.id" />
            <label :for="'buckle-' + buckle.id">
              <span :style="'background-image: url(/images/customiser/buckles/' + buckle.customiserImage + ')'" ></span>
              {{ buckle.name }}
            </label>
          </li>
        </ul>
      </div>
      <!-- <div class="details customiser-option-item">
          <summary class="customer-option-label">
            <span class="customiser-selected-badge" :style="'background-image: url(/images/customiser/thumbnails/' + options.buckleFinishes.find(bf => bf.id === selected.buckleFinish).thumbnail + ')'"></span>
            <h3>Buckle Finishes</h3>
          </summary>
          <ul class="customiser-option-sublist">
            <li v-for="buckleFinish in options.buckleFinishes" :class="{'selected': selected.buckleFinish === buckleFinish.id}">
              <input type="radio" name="options[buckleFinishes]" v-model="selected.buckleFinish" :value="buckleFinish.id" :id="'buckleFinish-' + buckleFinish.id"/>
              <label :for="'buckleFinish-' + buckleFinish.id">
                <span :style="'background-image: url(/images/customiser/thumbnails/' + buckleFinish.thumbnail + ')'"></span>
                {{ buckleFinish.name }}
              </label>
            </li>
          </ul>
        </div> -->
        <div class="admin-button-group" v-if="isAdminMode">
          <button type="submit" class="btn--std--primary">
            <span><svg width="16" height="16" viewbox="0 0 16 16"><use xlink:href="#icon-check"></use></svg>
            Save Preset</span>
          </button>
        </div>
    </div>
    <button type="submit" class="customiser-aside-add-to-cart-button" v-if="!isAdminMode"><span>Add to cart</span></button>
    <div class="customiser-price-aside">
      <span class="customiser-price-tag" :data-currency="meta.currency">{{ price }}</span>
        <div class="section-container">
          <svg width="176" height="25" viewbox="0 0 176 25"><use xlink:href="#icon-dhl"></use></svg>
          <h2>We Ship Globally</h2>
        </div>
    </div>
  </aside>
  <div class="customiser-viewbox-column">
    <header>
      <div class="customiser-quick-controls" v-if="!isAdminMode">
        <button type="button" class="button" @click="randomPreset()">Inspire me</button>
        <button type="button" class="button" @click="randomiseOptions()">Random</button>
        <div class="share-component-wrapper">
          <button type="button" class="button" @click="share()">Share</button>
          <!-- <a class="button" :href="email">Email</a> -->
          <!-- <a class="button" href="mailto:?subject=Vulcan%20Watch%20Straps&body=<https://www.vulcanwatchstraps.com>">Email</a> -->
          <div class="sharing-panel" v-if="showShare" :class="{'loading': !imgurUrlToShare}">
            <figure>
              <img v-if="imageUrlToShare" :src="imageUrlToShare"/>
              <span v-else>Generating image...</span>
              <span id="linkToShare">https://vulcanwatchstraps.com/share{{imageUrlToShare ? imageUrlToShare.replace(/images\/shared\//,'').replace(/.jpg$/, '') : ''}}</span>
            </figure>
            <div class="sharing-options-list" :class="{'loading': !imgurUrlToShare}">
              <a id="facebook-link" onclick="LaunchFeedDialog();" @click="shareLinkClicked('facebook')" target="_blank" >
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#icon-facebook"></use></svg>
              </a>
              <a @click="shareLinkClicked('pinterest')" target="_blank" :href="pinterestUrl">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#icon-pinterest"></use></svg>
              </a>
              <a @click="shareLinkClicked('twitter')" target="_blank" :href="twitterUrl" >
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#icon-twitter"></use></svg>
              </a>
              <a @click="shareLinkClicked('download')" target="_blank" :href="imageUrlToShare" :download="imageUrlToShare">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#icon-download"></use></svg>
              </a>
              <!-- <a class="open_modal" href="#">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#icon-email"></use></svg>
              </a> -->
            </div>
            <span class="social-sharing-twitter-loading-notice" v-if="sharingToTwitter">One moment, taking you to twitter...</span>
          </div>
        </div>
      </div>
      <div class="customiser-price-previewer" v-if="!isAdminMode">
        <div class="customiser-price-details">
          <span class="customiser-price-tag" :data-currency="meta.currency">{{ price }}</span>
          <button type="submit" class="button button-inverted"><span>Add to cart</span></button>
        </div>
      </div>
      <h2 v-if="isAdminMode">Preview this combination:</h2>
    </header>
    <div class="customiser-viewbox" id="customiser-viewbox">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      class="customiser-viewbox-svg-artboard" id="customiser-viewbox-svg-artboard" width="640" height="400" viewBox="0 0 640 400">
          <defs>
            <filter id="bands-shadow" x="0" y="-20%" width="100%" height="140%">
              <feGaussianBlur in="SourceAlpha" result="blur-out" stdDeviation="3" />
              <feOffset in="blur-out" result="the-shadow" dx="0" dy="0"/>
              <feColorMatrix in="the-shadow" result="color-out" type="matrix"
                values="0 0 0 0   0
                        0 0 0 0   0
                        0 0 0 0   0
                        0 0 0 .5  0"/>
              <!-- <feBlend in="SourceGraphic" in2="color-out" mode="normal"/> -->
            </filter>
          </defs>
          <rect class="customiser-viewbox__bg" x="0" y="0" width="640" height="480" :fill="options.straps.find(item => item.id === selected.strap).rgb === '255,255,255' ? '#e6e6e6': '#fff'"></rect>
          <g class="customiser-group-watch">
            <image class="customiser-module--strap-applied--top" width="77" height="75" x="388" y="64" :xlink:href="'/images/customiser/straps/' + options.straps.find(item => item.id === selected.strap).strapAppliedTopImage"></image>
            <image class="customiser-module--strap-applied--bottom" width="79" height="75" x="388" y="258" :xlink:href="'/images/customiser/straps/' + options.straps.find(item => item.id === selected.strap).strapAppliedBottomImage"></image>
            <image class="customiser-module--watch" width="188" height="224" x="330" y="90" :xlink:href="'/images/customiser/watches/' + options.watches.find(item => item.id === selected.watch).customiserImage"></image>
          </g>
          <g class="customiser-group-staps">
            <image class="customiser-module--straps" width="116" height="289" x="147" y="61" :xlink:href="'/images/customiser/straps/' + options.straps.find(item => item.id === selected.strap).strapImage"></image>
            <image class="customiser-module--bands" width="51" height="45" x="148" y="186.5" filter="url(#bands-shadow)" :xlink:href="'/images/customiser/bands/' + options.bands.find(item => item.id === selected.band).customiserImage"></image>
            <image class="customiser-module--bands" width="51" height="45" x="148" y="186.5" :xlink:href="'/images/customiser/bands/' + options.bands.find(item => item.id === selected.band).customiserImage"></image>
            <image class="customiser-module--buckle" width="52" height="48" x="147" y="244" :xlink:href="'/images/customiser/buckles/' + options.buckles.find(item => item.id === selected.buckle).customiserImage + ''"></image>
          </g>
        </svg>
      <canvas id="customiser-canvas" class="customiser-canvas" width="640" height="400" v-if="!isAdminMode"></canvas>
      <img id="customiser-img-renderer" class="customiser-img-renderer"/>
      <!-- <textarea id="strap-design-rendered-base64" name="strap-design-rendered-base64" class="strap-design-rendered-base64"></textarea> -->
    </div>
    <div class="footer__sharing-panel">
      <div class="sharing-panel__content">
        <a href="#" class="open_modal button" :class="{'loading': !imgurUrlToShare}" @click="shareLinkClicked('email')"></a>
        <p class="customiser-footnote" v-if="!isAdminMode">* Watch not included</p>
      </div>
      <article class="customiser-security">
        <div class="customiser-security__content">
          <h3>Secure Shopping</h3>
          <p>Your security is important to us. For full details of how we protect your payment and personal details, please read our <a href="https://www.vulcanwatchstraps.com/privacy" target="_blank">Privacy Policy</a>.</p>
        </div>
        <div class="customiser-secure-logos">
          <svg width="90" height="51" viewBox="0 0 90 51"><use xlink:href="#icon-visa"></use></svg>
          <svg width="90" height="51" viewBox="0 0 90 51"><use xlink:href="#icon-mastercard"></use></svg>
        </div>
      </article>
    </div>
  </div>
  <section id="sharing__modal" class="sharing-modal">
    <div class="sharing-modal__content">
      <span id="close_modal" class="close_modal">&times;</span>
      <form class="sharing-modal__inputs" method="post" @submit.prevent="sumbitEmailShareForm">
        <p>
          Fill in the form below to mail your generated watch strap.
        </p>
        <div class="input--text_form">
          <input v-model="form.image" type="hidden" name="image">
          <input v-model="form.name" type="text" name="name" placeholder="Your Name" required>
          <input v-model="form.email" type="text" name="email" placeholder="example@gmail.com" required>
          <input v-model="form.subject" type="text" name="subject" placeholder="Subject" required>
        </div>
        <textarea v-model="form.message" name="message" placeholder="Your Message"></textarea>
        <button type="submit" id="email-share-button" class="button" :class="{'disabled-button': !isComplete}"></button>
      </form>
    </div>
  </section>
</form>
</template>

<script src="./StrapCustomiser.js"></script>

<style src="./StrapCustomiser.scss" lang="scss"></style>
