// Colour Palette

$white: #fff;
$black: #000;

$rgb-light:            255, 255, 255;
$color-light:      rgb(255, 255, 255);

$rgb-median:           122, 148, 144;
$color-median:     rgb(122, 148, 144);

$rgb-shadow:           18,  48,  46 ;
$color-shadow:     rgb(18,  48,  46 );

$rgb-foreground:   $rgb-shadow;
$color-foreground: $color-shadow;

$rgb-text:         $rgb-foreground;
$color-text:       $color-foreground;

$rgb-background:       255, 255, 255;
$color-background: rgb(255, 255, 255);

// primary brand colour
$rgb-primary:           217, 199, 37 ;
$color-primary:     rgb(217, 199, 37 );

// secondary brand colour
$rgb-secondary:        29,  150, 124;
$color-secondary:  rgb(29,  150, 124);

// tertiary brand colour
$rgb-tertiary:         185, 70,  101;
$color-tertiary:   rgb(185, 70,  101);

// quaternary brand colour
$rgb-quaternary:       205, 127, 73 ;
$color-quaternary: rgb(205, 127, 73 );

// what comes after quaternary?
// quinary, senary, septenary, octonary, nonary, and denary

// context aware accent colour
$rgb-accent:       $rgb-primary;
$color-accent:     $color-primary;

// Functional colours

// Positive: for success, positive, completion type of visual elements.
// Usually green.
$rgb-positive:         7,   177, 82 ;
$color-positive:   rgb(7,   177, 82 );
// Neutral: for general notification, information.
// Usually blue, grey or other in-brand 'calm' colours.
$rgb-neutral:          0,   144, 150;
$color-neutral:    rgb(0,   144, 150);
// Attention: for mild to medium warnings, errors, or other visual elements that requires attention
// Usually yellow
$rgb-attention:        173, 165, 7  ;
$color-attention:  rgb(173, 165, 7  );
// Alert: errors, warnings, or other visual elements that requires urgent attention
// Usually red
$rgb-alert:           222, 72,  42 ;
$color-alert:     rgb(222, 72,  42 );


// Tinted Scale

@function grey($value: 0) {
  @return mix($color-light,$color-shadow,(100 - $value));
}


// UI colors

$color-border: unquote('rgba(var(--rgb-median),0.15)');
$color-link: inherit !default;
$color-drop-shadow: $color-foreground !default;


// A shorthand Mixin for using rgba() with variable colours

@mixin varColor($property, $color, $opacity: 1) {

  @if $color == 'light' {
    #{$property}: unquote('rgba(var(--rgb-light), #{$opacity})');
  }
  @if $color == 'shadow' {
    #{$property}: unquote('rgba(var(--rgb-shadow), #{$opacity})');
  }

  @if $color == 'foreground' {
    // work around solution for Sass's default rgba() function. Using RGB values makes it possible to use opacity to custom property based colours.
    #{$property}: unquote('rgba(var(--rgb-foreground), #{$opacity})');
  }
  @if $color == 'median' {
    #{$property}: unquote('rgba(var(--rgb-median), #{$opacity})');
  }
  @if $color == 'background' {
    #{$property}: unquote('rgba(var(--rgb-background), #{$opacity})');
  }

  @if $color == 'text' {
    #{$property}: unquote('rgba(var(--rgb-text), #{$opacity})');
  }

  @if $color == 'primary' {
    #{$property}: unquote('rgba(var(--rgb-primary), #{$opacity})');
  }
  @if $color == 'secondary' {
    #{$property}: unquote('rgba(var(--rgb-secondary), #{$opacity})');
  }
  @if $color == 'tertiary' {
    #{$property}: unquote('rgba(var(--rgb-tertiary), #{$opacity})');
  }
  @if $color == 'quaternary' {
    #{$property}: unquote('rgba(var(--rgb-quaternary), #{$opacity})');
  }

  @if $color == 'accent' {
    #{$property}: unquote('rgba(var(--rgb-accent), #{$opacity})');
  }

  @if $color == 'positive' {
    #{$property}: unquote('rgba(var(--rgb-positive), #{$opacity})');
  }
  @if $color == 'neutral' {
    #{$property}: unquote('rgba(var(--rgb-neutral), #{$opacity})');
  }
  @if $color == 'attention' {
    #{$property}: unquote('rgba(var(--rgb-attention), #{$opacity})');
  }
  @if $color == 'alert' {
    #{$property}: unquote('rgba(var(--rgb-alert), #{$opacity})');
  }
}

$colours:
  'primary' ,
  'secondary' ,
  'tertiary',
  'quaternary',
  'accent' ,
  'background',
  'foreground',
  'light' ,
  'shadow' ,
  'median',
  'positive',
  'neutral',
  'attention',
  'alert',
  'text';
