:root {

  // define the custom properties for the colour palette

  --rgb-light: $rgb-light;
  --rgb-shadow: $rgb-shadow;

  --rgb-primary: $rgb-primary;
  --rgb-secondary: $rgb-secondary;
  --rgb-tertiary: $rgb-tertiary;
  --rgb-quaternary: $rgb-quaternary;

  --rgb-background: $rgb-background;
  --rgb-median: $rgb-median;
  --rgb-foreground: $rgb-foreground;
  --rgb-text: $rgb-text;

  --rgb-accent: $rgb-accent;
  --rgb-positive: $rgb-positive;
  --rgb-neutral: $rgb-neutral;
  --rgb-attention: $rgb-attention;
  --rgb-alert: $rgb-alert;


  --color-light: $color-light;
  --color-shadow: $color-shadow;

  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
  --color-tertiary: $color-tertiary;
  --color-quaternary: $color-quaternary;

  --color-background: $color-background;
  --color-median: $color-median;
  --color-foreground: $color-foreground;
  --color-text: $color-text;

  --color-accent: $color-accent;
  --color-positive: $color-positive;
  --color-neutral: $color-neutral;
  --color-attention: $color-attention;
  --color-alert: $color-alert;

  // Define Font Family Variables
  --font-ui        : $font-stack-ui;
  --font-sans      : $font-stack-sans;
  --font-serif     : $font-stack-serif;
  --font-mono      : $font-stack-mono;
  --font-heading   : $font-stack-heading;

  // units
  --spacing-sm: u(0.19);
  --spacing-md: u(0.381);
  @media #{$tablet} {
    --spacing-sm: u(0.381);
    --spacing-md: u(0.5);
  }
  @media #{$desktop} {
    --spacing-md: u(0.618);
  }
  @media #{$desktop-lg} {
    --spacing-md: u(0.75);
  }

}
