$font-stack-sans      : 'Overpass' , 'Roboto' , 'Helvetica Neue' , 'Segoe UI' , sans-serif;
$font-stack-serif     : 'Georgia' , serif;
$font-stack-mono      : 'Overpass Mono' , 'Menlo' , monospace;
$font-stack-ui        : $font-stack-sans;
$font-stack-heading   : $font-stack-sans;

@mixin allcaps {
  // Uppercase styling mixin.
  text-transform : uppercase;
  letter-spacing : 0.075rem;
  font-size      : 85%;
}
