// This mixin utilises transform,
// which guarantees that elements are aligned with their center as the anchor.
// Do not hard-code margins, paddings or other hack-ish positioning that needs
// extra work for responsive designs.

// [!important] Elements aligned with this mixin will align to nearest parent that's set as [position: relative]

@mixin align($value: vertical) {
	@if $value == vertical {
		top: 50%;
		transform: translateY(-50%);
	}
	@if $value == horizontal {
		left: 50%;
		transform: translateX(-50%);
	}
	@if $value == center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} // Default is set to vertical align since this is used the most.
	position: absolute;
}

// clearfix.
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// Blur effect's support is buggy on IE & Edge. Currently do not use for too complicated effect.
@mixin blurred($value) {
	$blurred-value: $value + px;
	-webkit-filter: blur($blurred-value);
	filter: blur($blurred-value);
}


// Shadows

@mixin box-shadow-depth($depth: 1) {
	@if $depth == 1 {
		box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
	}
	@if $depth == 2 {
		box-shadow: 0 1rem 3rem rgba(0,0,0,0.15);
	}
}
@mixin text-shadow-depth($depth: 1) {
	@if $depth == 1 {
		text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.45);
	}
	@if $depth == 2 {
		text-shadow: 0 0.3rem 1rem rgba(0,0,0,0.25);
	}
}

@mixin vertical-grid(
  // this mixin reqires Bourbon.
  // number of columns to divide into.
  $columns: 6,
  // width of grid lines.
  $border-width: 1px,
  // colour of grid lines.
  $color: $color-border,
  // opacity of grid lines.
  $opacity: 0.5) {

  // units are all viewport based.
  // the grid will not render for browsers that does not support viewport units or calc() or background-size.
  // and that's okay.

  // calculate grid column width
  $column-width: 100vw / $columns;

  @if $color != $color-border {
    // if a color is assigned, use specified opacity of the color to draw the grid
    $color: transparentize($color, (1 - $opacity));
  }

  background-image:
    linear-gradient(
      // bourbon linear-gradient mixin for generating the gridlines
      to right,
      transparent 0,
      transparent calc(#{$column-width} - #{$border-width}),
      // begin first line
      tint($color,25) calc(#{$column-width} - #{$border-width}),
      tint($color,25) calc(#{$column-width} + #{$border-width}),
      transparent calc(#{$column-width} + #{$border-width})
      // end first line
    )
  ;

  // stop the gradient base of 1 column at the first line drawn
  background-size: $column-width 100%;

  // repeat the above gradient-grid
  background-repeat: repeat;

}



// blend-mode
// IE will be cursed. Edge is doomed as well.
@mixin blend($mode: multiply) {
	-webkit-mix-blend-mode: $mode;
	mix-blend-mode: $mode;
}

// just something handy
@mixin ignore-mouse {
	pointer-events: none;
}

// Debugging use
@mixin show-border {
	border: 1px solid $color-primary;
}

@mixin fill-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin dropdownIcon($size: 3px) {
  display: block;
  width: $size;
  height: $size;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: currentColor;
  transform: rotate(45deg) translateY(-50%);
}
