#__bs_notify__ {
  top: auto !important;
  right: 50% !important;
  bottom: 10px !important;
  min-width: u(3);
  border-radius: 999px !important;
  background-color: varColor(primary)!important;
  transform: translateX(50%) !important;
  animation: fade-in 0.3s ease;
}
