.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1em 1.25em;
  min-height: 3em;
  border: none;
  border: 1px solid currentColor;
  border-radius: 1000px;
  background-color: transparent;
  color: inherit;
  font-weight: 600;
  font-size: ms(1);
  font-family: var(--font-heading);
  line-height: 1;
  transition: 0.3s;
  appearance: none;
  span {
    transition: 0.2s;
  }
  svg {
    display: block;
    fill: currentColor;
  }
  &:hover {
    background-color: color(black);
    color: color(white);
    transition: 0.1s;
  }
  &:focus {
    outline: none;
    // box-shadow: 0 0 4px 2px varColor(attention);
  }
  &:active {
    filter: brightness(0.86);
    transform: scale(0.99);
  }

  &.is-white {
    background-color: varColor(white);
    color: varColor(black,0.9);
  }

  &.is-outlined {
    background-color: transparent;
    background-image: none;
    // padding: 0.8em 0.85em;
    // border: 2px solid varColor(accent);
    box-shadow: inset 0 0 1px 1px varColor(accent);
    color: inherit;
    &:focus {
      outline: none;
      box-shadow: inset 0 0 1px 1px varColor(accent), 0 0 4px 2px varColor(attention);
    }
    &:hover {
      background-color: varColor(accent);
      background-image: var(--theme-button-background-image);
      box-shadow: none;
      color: varColor(white);
    }
  }

  &.is-transparent {
    background-color: transparent;
    color: inherit;
    &:hover {
      background-color: varColor(accent);
      color: varColor(white);
    }
  }

  &[disabled], .disabled, .is-disabled {
    color: varColor(text,0.5);
    filter: grayscale(0.9) brightness(0.9);
    // cursor: not-allowed;
    pointer-events: none;
  }

}

.button--full-width {
  @extend .button;
  padding: 1em;
  width: 100%;
}

.button--text {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: varColor(accent);
  font-weight: 700;
  atrium-icon {
    fill: currentColor;
  }
  * + * {
    margin-left: 0.5em;
  }
}

.button-inverted {
  background-color: color(black);
  color: color(white);
  &:hover {
    background-color: color(black,0.9);
  }
  &[disabled], .disabled, .is-disabled {
    color: color(white,0.5);
    opacity: 0.6;
    // cursor: not-allowed;
    pointer-events: none;
  }
}

.button--big {
  padding: 1.618em 3em;
}
