/* Atrium Icon Gradients */

@each $color, $value in $colors {
  #gradient--#{$color} {
    stop {
      transition: 0.3s ease;
      stop-color: varColor(#{$color});
      &:first-child {
      }
      &:last-child {
        stop-opacity: 0.6;
      }
    }
  }
}
