.info-bar {
  @include setAccent(neutral);
  display: flex;
  align-items: center;
  padding: 1em;
  border: 1px solid varColor(accent);
  background-color: varColor(accent, 0.3);
  + * {
    margin-top: 1em;
  }
  svg {
    flex: 0 0 20px;
    margin-right: 0.5em;
    fill: varColor(accent);
  }
}
