// @import 'variables';
.table-wrapper {
  // stop tables from overflowing; enables scrolling
  flex: auto;
  overflow: auto;
  table , > * {
    max-width: 100%;
  }
}
th {
  text-align: left;
}
.table--standard {
  min-width: 100%;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  th {
    height: u(1.19);
    background-color: varColor(accent,0.15);
    color: varColor(accent);
  }
  th, td {
    padding: 0.75em 0.38em;
    .view-section & {
      &:first-child {
        padding-left: spacing(md);
        width: 0;
      }
      &:last-child {
        padding-right: spacing(md);
        width: 0;
        text-align: right;
      }
    }
    &.cell-title {
      font-weight: 600;
    }
    &.cell-numeric {
      text-align: right;
    }
    &.cell-break-word {
      word-break: break-all;
    }
  }
  tr:nth-child(even) {
    th, td {
      background-color: varColor(gray,0.15);
    }
  }
  a {
    color: varColor(accent);
    font-weight: 600;
  }
}
