

:root {

  --theme-header-height: u(2);

  --theme-nav-sidebar-background: var(--color-background);
  --theme-nav-sidebar-text-color: var(--color-shadow);
  --theme-nav-sidebar-width : ms(12);

  --theme-widget-panel-background-rgb: $rgb-secondary;
  --theme-widget-panel-background-opacity: 0.8;
  --theme-widget-panel-text-rgb: $rgb-light;
  --theme-widget-panel-text-color: $color-light;
  --theme-widget-panel-width: ms(12);


  --theme-footer-background: var(--color-shadow);

	@media #{$desktop} {
		--theme-header-height: u(2.5);
    --theme-widget-panel-width: ms(13);
	}


	[data-theme="atrium"] {

	  .widget-panel__section:not(.is-search) {
	    + .widget-panel__section {
	      &:before {
	        position: absolute;
	        top: 0;
	        left: 0;
	        display: block;
	        width: 100%;
	        height: 0.618em;
	        // background: transparent url($svg-border-slash-pattern) repeat left / contain;
	        content: '';
	      }
	    }
	  }

		.label-std {
			color: var(--color-secondary);
		}

	}

}
