[data-theme="vulcan"] {

  // define the custom properties for the colour palette

  --rgb-light: $rgb-light;
  --rgb-shadow: 0,0,0;

  --rgb-primary: 90,132,90;
  --rgb-secondary: 236,110,58;
  --rgb-tertiary: 86,141,198;
  --rgb-quaternary: $rgb-quaternary;

  --rgb-background: $rgb-background;
  --rgb-median: $rgb-median;
  --rgb-foreground: $rgb-foreground;
  --rgb-text: var(--rgb-primary);

  --rgb-accent: var(--rgb-primary);
  --rgb-positive: $rgb-positive;
  --rgb-neutral: $rgb-neutral;
  --rgb-attention: $rgb-attention;
  --rgb-alert: $rgb-alert;


  --color-light: $color-light;
  --color-shadow: rgb(0,0,0);

  --color-primary: rgb(90,132,90);
  --color-secondary: rgb(236,110,58);
  --color-tertiary: rgb(86,141,198);
  --color-quaternary: $color-quaternary;

  --color-background: $color-background;
  --color-median: $color-median;
  --color-foreground: $color-foreground;
  --color-text: var(--color-primary);

  --color-accent: var(--color-primary);
  --color-positive: $color-positive;
  --color-neutral: $color-neutral;
  --color-attention: $color-attention;
  --color-alert: $color-alert;

  // Define Font Family Variables
  --font-ui        : 'poppins' , 'Roboto' , 'Helvetica Neue' , 'Segoe UI' , sans-serif;
  --font-sans      : var(--font-ui);
  --font-serif     : $font-stack-serif;
  --font-mono      : $font-stack-mono;
  --font-heading   : var(--font-ui);


  // theme visual settings

  --theme-border-radius: 0.4rem;

  --theme-header-height: u(2);

  --theme-nav-sidebar-background: black;
  --theme-nav-sidebar-text-color: white;
  --theme-nav-sidebar-width : u(4);

  --theme-widget-panel-background-rgb: 241,241,246;
  --theme-widget-panel-background-opacity: 1;
  --theme-widget-panel-text-rgb: $rgb-text;
  --theme-widget-panel-text-color: $color-text;
  --theme-widget-panel-width: ms(12);
  --theme-footer-background: var(--color-shadow);


  @media #{$only-phones} {
    --theme-widget-panel-width: 100%;
  }
  @media #{$desktop} {
		--theme-header-height: u(2.5);
    --theme-widget-panel-width: ms(13);
	}



  .view-nav {
    @media #{$desktop} {
      text-align: center;
    }
  }

  .view-title ,
  .view-main__section__title {
    color: var(--color-primary);
  }

  .view-header__user-icon-button {
    .user-name-tag {
      color: var(--color-accent);
      font-family: var(--font-condensed);
    }
  }
  .table--standard {
    th {
      color: var(--color-primary);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 90%;
      font-family: var(--font-heading);
    }
    thead tr:last-child th {
      border-bottom-width: 1px;
      border-bottom-color: unquote('rgba(var(--rgb-accent),0.2)');
    }
  }

  .view-footer-roadsign__item.is-primary {
    background-color: var(--color-primary);
  }

  // widget panel customisations

  .widget-panel__search-bar {
    color: white;
    [type=search] {
      background-image: radial-gradient(circle farthest-corner at 111.01% 113.51%, rgba(201, 235, 237, 1) 0%, rgba(26, 141, 197, 0.9) 33.88%, rgba(66, 74, 159, 1) 69.01%, rgba(35, 39, 107, 1) 100%);
    }
  }

  .view-nav .is-current .view-nav__item {
    // background-image: radial-gradient(circle farthest-corner at -20% 163.51%, rgba(201, 235, 237, 1) 0%, rgba(26, 141, 197, 0.9) 33.88%, rgba(66, 74, 159, 1) 100%);
    color: white;
    svg {
      fill: currentcolor;
    }
  }

  .widget-panel__section {
    // background-image: linear-gradient(168deg, unquote('rgba(var(--rgb-secondary),0.18)') 0%, unquote('rgba(var(--rgb-secondary),0.06)') 100%);
    + .widget-panel__section {
      border-top: 1px solid rgba(0,0,0,0.2);
    }
  }

  .widget-panel {
    .input--select {
      select {
        @include varColor('background-color','light',0.4);
        &:hover {
          @include varColor('background-color','light',0.6);
          // box-shadow: 0 1em 1.4em rgba(0,0,0,0.05);
        }
      }
    }
    &:after {
      display: block;
      flex: auto;
      background-image: linear-gradient(168deg, unquote('rgba(var(--rgb-secondary),0.18)') 0%, unquote('rgba(var(--rgb-secondary),0.06)') 100%);
      content: '';
    }
  }

  .widget-panel__section__title {
    color: var(--color-primary);
  }

  .view-footer {
    display: none;
  }


}

.variables__list {
  margin: ms(2) 0;
  tbody {
    width: 100%;
    border: 1px solid var(--color-primary);
    @media #{$upto-tablet-sm} {
      border: none;
    }
  }
  .variables__list-header {
    background: var(--color-primary);
    color: white;
    th {
      color: white;
    }
    @media #{$upto-tablet-sm} {
      display: none;
    }
  }
  tr {
    width: 100%;
    display: flex;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    @media #{$upto-tablet-sm} {
      margin-top: 1em;
      border: 1px solid var(--color-primary);
      &:first-of-type {
        margin-top: 0;
      }
    }
    td {
      &:first-of-type {
        border-right: 1px solid var(--color-primary);
        @media #{$upto-tablet-sm} {
          border: none;
        }
      }
      &:last-of-type {
        border-left: 1px solid var(--color-primary);
        @media #{$upto-tablet-sm} {
          border: none;
        }
      }
    }
    @media #{$upto-tablet-sm} {
      flex-direction: column;
      td {
          &:first-of-type {
          background: var(--color-primary);
          color: white;
        }
      }
    }
  }
  td,th {
    flex: 1 0 48%;
    padding: ms(0);
    @media #{$upto-tablet-sm} {
      &:first-of-type {
        flex: 1 0 30%;
      }
      &:last-of-type {
        flex: 1 0 60%;
      }
    }
  }
  td {
    padding: ms(0);
  }
  display: flex;
  flex-wrap: wrap;
  li {
    padding: ms(2) 0;
    margin: ms(2) 0;
    flex: 1 0 100%;
    @media #{$tablet-sm} {
      flex: 1 0 40%;
      margin: ms(2);
    }
    @media #{$desktop} {
      flex: 1 0 30%;
      padding: ms(2) 0;
    }
    strong {
      display: block;
      margin-bottom: ms(1);
      color: var(--color-primary);
    }
  }
}

.new-row-divider {
  flex: 1 0 100%;
}

.slides-heading {
  margin: ms(3) 0;
}

.slides-image__row,
.background-image__row  {
  flex: 1 0 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-right: ms(3);
  @media #{$tablet} {
    flex: 1 0 33%;
  }
  .slides-image__choose {
    margin-top: ms(3);
    width: 100%;
  }
  .slides-image__display {
    flex: 0 1 auto;
  }
  .input--file {
    flex: unset!important;
    padding: 1em;
    width: 100%;
  }
  * {
    flex:  0 1 auto;
  }
}

.slides-button-group {
  flex: 1 0 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  @media #{$tablet} {
    flex: 1 0 33%;
  }
  .input--text {
    width: 100%;
    flex: unset!important;
    @media #{$tablet} {
      flex: 1 0 33%!important;
    }
    &:first-of-type {
      @media #{$tablet} {
        margin-right: ms(2);
      }
    }
    &:last-of-type {
      @media #{$upto-tablet} {
        margin-top: ms(2);
      }
    }
  }
}

.flex-row-new {
  .input--file {
    padding: 0;
    margin-bottom: ms(4);
    @media #{$upto-tablet} {
      margin-bottom: 0;
      margin: ms(3) 0;
    }
  }
}

.background-image__row {
  flex: 1 0 100%;
  @media #{$tablet} {
    flex: 0 1 51%;
  }
  .background-image__choose {
    margin-top: ms(3);
    width: 100%;
  }
}

.background-video__display {
  // background: rgba(0,0,0,0.15);
  img {
    width: 100%;
    height: auto;
  }
}

.new__file-label {
  margin-top: 0.33em;
  color: black!important;
  font-weight: 400!important;
}

.new__file-input {
  color: transparent;
}

.slide-image__delete {
  display: none!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(1.15);
}

.slides-image__display,
.background-image__display  {
  position: relative;
  transition: 0.4s ease;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.15);
    transition: 0.15s ease;
    opacity: 0;
  }
  &:hover {
    .slide-image__delete {
      transition: 0.15s ease;
      display: block!important;
      z-index: 4;
    }
    &:after {
      opacity: 1;
    }
  }
}

.slides-image__display {
  &:empty {
    min-height: 0;
    display: none!important;
  }
}

.input--transition {
  margin-top: ms(2);
}

.flex-3-row {
  flex: 1 0 20%;
}

.form__link {
  color: var(--color-accent);
  transition: 0.5s ease;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
    transition: 0.25s ease;
  }
}
